/* =Bootstrap
----------------------------------------------- */

body {
    color: #ffffff;
    background-color: #161616;
}
.img-thumbnail {
    background-color: transparent;
    border-color: #1e1e1e;
}
code,
pre {
    background-color: #000000;
    border: none;
    color: #cccccc;
}
hr {
    border-top-color: #000000;
}
.text-muted {
    color: #cccccc;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    color: #cccccc;
}
.page-header {
    border-bottom-color: #000000;
}
abbr[title],
abbr[data-original-title] {
    border-bottom-color:; #000000;
}
blockquote {
    border-left-color: #000000;
}
blockquote small {
    color: #cccccc;
}
blockquote.pull-right {
    border-right-color: #000000;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top-color: #000000;
}
.table > thead > tr > th {
    border-bottom-color:; #000000;
}
.table > tbody + tbody {
    border-top-color: #000000;
}
.table .table {
    background-color: transparent;
}
.table-bordered {
    border-color: #000000;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border-color: #000000;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #232323;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #141414;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background-color: #141414;
}
legend {
    color: #ffffff;
    border-bottom-color: #000000;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted #000000;
}
output {
    color: #ffffff;
}
.form-control {
    color: #ffffff;
    background-color: #333333;
    border-color: #000000;
    -webkit-box-shadow: inset 0 0 0 #000000;
    box-shadow: inset 0 0 0 #000000;
}
.form-control:focus {
    border-color: #000000;
    -webkit-box-shadow: 0 0 8px #000000;
    box-shadow: 0 0 8px #000000;
}
.form-control:-moz-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-webkit-input-placeholder {
    color: #cccccc;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #151515;
}
.btn:focus {
    outline: thin dotted #000000;
}
.btn:hover,
.btn:focus {
    color: #ffffff;
}
.btn-default {
    color: #ffffff;
    background-color: #292929;
    border-color: #000000;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    color: #ffffff;
    background-color: #151515;
    border-color: #000000;
}
.input-group-addon {
    color: #ffffff;
    background-color: #151515;
    border: 1px solid #000000;
}
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #333333;
}
.nav > li.disabled > a {
    color: #cccccc;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #cccccc;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #333333;
    border-color: #000000;
}
.nav .open > a .caret,
.nav .open > a:hover .caret,
.nav .open > a:focus .caret {
    border-top-color: #000000;
    border-bottom-color: #000000;
}
.nav .nav-divider {
    background-color: #000000;
}
.nav-tabs {
    border-bottom: 1px solid #000000;
}
.nav-tabs > li > a:hover {
    border-color: #000000;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #ffffff;
    background-color: #333333;
    border: 1px solid #000000;
    border-bottom-color: transparent;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #000000;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #000000;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #000000;
    }
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #151515;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
    border: 1px solid #000000;
}
.breadcrumb > li + li:before {
    color: #cccccc;
}
.breadcrumb > .active {
    color: #cccccc;
}
.thumbnail,
.pretty,
.wp-caption {
    background-color: transparent;
    border-color: #1e1e1e;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active,
a.pretty:hover,
a.pretty:focus,
a.pretty.active {
    border-color: #000000;
}
.thumbnail .caption {
    color: #cccccc;
}
.list-group-item {
    background-color: transparent;
    border: 1px solid #000000;
}
a.list-group-item {
    color: #cccccc;
}
a.list-group-item .list-group-item-heading {
    color: #ffffff;
}
a.list-group-item:hover,
a.list-group-item:focus {
    background-color: #292929;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    color: #ffffff;
    background-color: #151515;
    border-color: #000000;
}
.panel {
    background-color: transparent;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive {
    border-top: 1px solid #000000;
}
.panel-footer {
    background-color: #151515;
    border-top: 1px solid #000000;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 1px solid #000000;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
    border-bottom: 1px solid #000000;
}
.panel-default {
    border-color: #000000;
}
.panel-default > .panel-heading {
    color: #ffffff;
    background-color: #292929;
    border-color: #000000;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #000000;
}
.panel-default > .panel-heading > .dropdown .caret {
    border-color: #000000 transparent;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #000000;
}
.close {
    color: #cccccc;
    text-shadow: 0 1px 0 #000000;
}
.close:hover,
.close:focus {
    color: #ffffff;
}
.modal-content {
    background-color: #2c2c2c;
    border: 1px solid #000000;
}
.modal-header {
    border-bottom: 1px solid #000000;
}
.modal-footer {
    border-top: 1px solid #000000;
}

/* =Bootstrap Mods
-----------------------------------------------*/

/* Nav List - applies nav list CSS to WP's custom menu widget, and in some cases the primary nav. */
.widget_nav_menu .menu > li > a:hover,
.widget_nav_menu .menu > li > a:focus {
    background-color: #494949;
}
.widget_nav_menu .menu > li > a,
.widget_nav_menu .menu > li > a:hover,
.widget_nav_menu .menu .nav-header > span {
    color: #ffffff;
    text-shadow: none;
}
.widget_nav_menu .menu > .current-menu-item > a,
.widget_nav_menu .menu > .current-menu-item > a:hover,
.widget_nav_menu .menu > .current-menu-item > a:focus {
    background-color: #494949;
    color: #ffffff;
    text-shadow: none;
}
.widget_nav_menu .menu .divider,
.sf-menu li li.divider {
    background-color: #434343;
    border-bottom: 1px solid #000000;
}
.widget_nav_menu div[class^="menu-"] {
    background-color: #313131;
    border: 1px solid #000000;
}

/* =Secondary Navigation
-----------------------------------------------*/

.subnav {
	background-color: #494949;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#333333));
	background-image: -webkit-linear-gradient(top, #494949, #333333);
	background-image: -moz-linear-gradient(top, #494949, #333333);
	background-image: -o-linear-gradient(top, #494949, #333333);
	background-image: -ms-linear-gradient(top, #494949, #333333);
	background-image: linear-gradient(top, #494949, #333333);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#494949', EndColorStr='#333333');
	border-color: #000000;
}
.subnav ul.nav > li > a,
.subnav ul.nav > li > a:hover,
.subnav ul.nav > li.nav-header > span {
	border-left: none;
	border-right-color: #000000;
	color: #ffffff;
	text-shadow: 0 0 0 #000000;
}
.subnav ul.nav > .current_page_item > a,
.subnav ul.nav > .current_page_item > a:hover,
.subnav ul.nav > .current_page_item > a:focus {
	background-color: #333333;
	border-right-color: #000000;
}
.subnav li ul {
	background: #333333;
	border: 1px solid #000000;
}
.subnav li li a:hover,
.subnav li li a:focus {
	background: #494949;
}

/* =Common Classes
----------------------------------------------- */

.tb-loader {
	background: #242424 url('../images/elements/loader-dark.gif') center center no-repeat;
	-moz-box-shadow: 1px 1px 1px #000000;
	-webkit-box-shadow: 1px 1px 1px #000000;
	box-shadow: 0 0 2px #000000;
}

/* =Forms
----------------------------------------------- */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
textarea,
select {
    color: #ffffff;
    background-color: #333333;
    background-image: none;
    border: 1px solid #000000;
    -webkit-box-shadow: inset 0 0 0 #000000;
    box-shadow: inset 0 0 0 #000000;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
textarea:focus {
    border-color: #000000;
    -webkit-box-shadow: 0 0 8px #000000;
    box-shadow: 0 0 8px #000000;
}
input[type="text"]::-moz-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-moz-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="email"]::-moz-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-moz-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="number"]::-moz-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="date"]::-moz-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="time"]::-moz-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="month"]::-moz-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="month"]::-webkit-input-placeholder {
    color: #cccccc;
}

/* Submit Buttons - Match to Bootstrap .btn */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
button:hover,
button:focus,
button:active {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
}

/* See end of "Buttons" section for gradient submit buttons */

/* =Buttons
-----------------------------------------------*/

.tb-btn-gradient .btn-default,
.tb-btn-gradient input[type="submit"] {
	background-color: #414141;
    background-image: -moz-linear-gradient(top, #555555, #222222);
    background-image: -ms-linear-gradient(top, #555555, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
    background-image: -webkit-linear-gradient(top, #555555, #222222);
    background-image: -o-linear-gradient(top, #555555, #222222);
    background-image: linear-gradient(top, #555555, #222222);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
	border-color: #000000;
    color: #ffffff;
    text-shadow: 0 1px 0 #000000;
}
.tb-btn-gradient .btn-default:hover,
.tb-btn-gradient .btn-default:focus,
.tb-btn-gradient .btn-default:active,
.tb-btn-gradient input[type="submit"]:hover,
.tb-btn-gradient input[type="submit"]:focus,
.tb-btn-gradient input[type="submit"]:active {
	background-color: #222222;
	border-color: #000000;
}

/* =Shortcodes
-----------------------------------------------*/

.panel-group .tb-panel {
    background-color: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.tb-panel.panel-default > .panel-heading {
    background: #333333;
}
.tb-panel.panel-default .panel-title {
    color: #ffffff;
}
.tb-panel.panel-default>.panel-heading .panel-title:hover {
    background: #222222;
}

/* =Widgets
-----------------------------------------------*/

.tb-contact_widget ul.simple-contact li {
	background-image: url('../images/elements/simple-contact-ffffff.png');
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5) {
	/* Use 2x image for retina */
	.tb-contact_widget ul.simple-contact li {
		background-image: url('../images/elements/simple-contact-ffffff_2x.png');
	}
}

/* =Elements
-----------------------------------------------*/

.divider-dashed,
.divider-solid {
	border-color: #000000;
}
.slider-fallback li.slider-fallback-slide {
	border-color: #000000;
}
.standard-slider-wrapper .slides-wrapper,
.tb-nivo-slider-wrapper .slides-wrapper {
	background: #222222;
}
.standard-slider-wrapper .flex-control-nav li a,
.tb-nivo-slider-wrapper .nivo-controlNav a {
	background-image: url('../images/elements/slider-nav-dark.png');
}
.standard-slider-wrapper .flex-direction-nav li a,
.tb-nivo-slider-wrapper .nivo-directionNav a {
	background-image: url('../images/elements/slider-arrows-dark.png');
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5) {
	/* Slider controls - Use 2x image for retina */
	.standard-slider-wrapper .flex-control-nav li a,
	.tb-nivo-slider-wrapper .nivo-controlNav a {
		background-image: url('../images/elements/slider-nav-dark_2x.png');
		background-size: 20px 11px;
	}
	.standard-slider-wrapper .flex-direction-nav li a,
	.tb-nivo-slider-wrapper .nivo-directionNav a{
		background-image: url('../images/elements/slider-arrows-dark_2x.png');
		background-size: 32px 64px;
	}
}
.carrousel-slider-wrapper .roundabout-nav a {
	color: #cccccc;
}
.carrousel-slider-wrapper .roundabout-nav a:hover,
.carrousel-slider-wrapper .roundabout-nav a:focus {
	color: #ffffff;
}
.tb-tabs-framed .tab-content {
	background: #333333;
	border-color: #000000;
}

/* =Tweeple
-----------------------------------------------*/

.tweeple-feed .tweet-time a {
    color: #cccccc;
}