/* =Grid
-----------------------------------------------*/

/**
 * This grid is used internally for various elements, however
 * keep in mind that the primary layout of the theme is determined
 * with Bootstrap's 12-column fluid grid system.
 */
.column {
	float: left;
	margin-right: 4%;
	min-height: 20px;
}
.last {
	margin-right: 0;
}

/* Standard 12 Column Setup */
.grid_2 {width: 13.33%;}
.grid_3 {width: 22%;}
.grid_4 {width: 30.66%;}
.grid_6 {width: 48%;}
.grid_8 {width: 65.33%;}
.grid_9 {width: 74%;}
.grid_12 {width: 100%;}

/* Tight 12 Column Setup */
.tight .grid_2 {width: 16.66%;}
.tight .grid_3 {width: 25%;}
.tight .grid_4 {width: 33.33%;}
.tight .grid_6 {width: 50%;}
.tight .grid_8 {width: 66.66%;}
.tight .grid_9 {width: 75%;}
.tight .grid_12 {width: 100%;}

/* Standard Fifths */
.grid_fifth_1 {width: 16.8%;}
.grid_fifth_2 {width: 37.6%;}
.grid_fifth_3 {width: 57.6%;}
.grid_fifth_4 {width: 79.2%;}

/* Tight Fifths */
.tight .grid_fifth_1 {width: 20%;}
.tight .grid_fifth_2 {width: 40%;}
.tight .grid_fifth_3 {width: 60%;}
.tight .grid_fifth_4 {width: 80%;}

/* Tenths */
.grid_tenth_3 {width: 28.8%;}
.grid_tenth_7 {width: 67.2%;}

/* Tight Tenths */
.tight .grid_tenth_3 {width: 30%;}
.tight .grid_tenth_7 {width: 70%;}

/* Mobile Devices */
@media (max-width: 767px) {
	.column {
		float: none;
		margin: 0 0 20px 0;
		width: auto;
	}
}

/* =Sidebar Layouts
-----------------------------------------------*/

/**
 * The goal here is ensure that no matter the
 * sidebar layout chosen, the main content area
 * will always appear at the top on mobile.
 */
@media (max-width: 767px) {
	#sidebar_layout .sidebar_layout-inner > .row {
		display: -webkit-box;			/* OLD - iOS 6-, Safari 3.1-6 */
		/* display: -moz-box;			/* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;			/* TWEENER - IE 10 */
		display: -webkit-flex;			/* NEW - Chrome */
		display: flex;					/* NEW, Spec - Opera 12.1, Firefox 20+ */
		/* -moz-box-orient: vertical;	/* Firefox */
		-webkit-box-orient: vertical;	/* Safari */
		-webkit-flex-direction: column; /* Chrome */
		-ms-flex-direction: column;		/* IE 10 */
		box-orient: vertical;
	}
	#sidebar_layout #content {
		-webkit-box-ordinal-group: 1;	/* OLD - iOS 6-, Safari 3.1-6 */
		/* -moz-box-ordinal-group: 1;	/* OLD - Firefox 19- */
		-ms-flex-order: 1;				/* TWEENER - IE 10 */
		-webkit-order: 1;				/* NEW - Chrome */
		order: 1;						/* NEW, Spec - Opera 12.1, Firefox 20+ */
	}
	#sidebar_layout .fixed-sidebar {
		-webkit-box-ordinal-group: 2;	/* OLD - iOS 6-, Safari 3.1-6 */
		/* -moz-box-ordinal-group: 2;	/* OLD - Firefox 19- */
		-ms-flex-order: 2;				/* TWEENER - IE 10 */
		-webkit-order: 2;				/* NEW - Chrome */
		order: 2;						/* NEW, Spec - Opera 12.1, Firefox 20+ */
		margin-bottom: 20px;
	}
	.firefox #sidebar_layout .sidebar_layout-inner > .row {
		display: block;
	}
}

/* =Bootstrap Mods
----------------------------------------------- */

/**
 * In this section, we've attempted to get rid of the
 * elements of Bootstrap that are not working with the
 * framework, and also merge any necessary framework items
 * with Boostrap default CSS.
 */
html,
body {
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

/* Quote */
blockquote {
	margin-bottom: 5px;
}
blockquote.pull-right {
	padding-left: 20px;
}
blockquote p {
	margin-bottom: 10px;
}
blockquote p:last-of-type {
	margin-bottom: 0;
}
blockquote small {
	margin-top: 5px;
}

/* Forms */
.form-control:focus {
	border-color: #bbbbbb;
	-webkit-box-shadow: inset 0 1px 1px #f2f2f2, 0 0 8px #cccccc;
	-moz-box-shadow: inset 0 1px 1px #f2f2f2, 0 0 8px #cccccc;
	box-shadow: inset 0 1px 1px #f2f2f2, 0 0 8px #cccccc;
}

/* Thumbnails */
.thumbnail,
.pretty,
.wp-caption {/* Match framework's thumb classes to bootstrap's .thumbnail */
	padding: 4px;
	line-height: 1.428571429;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: inline-block;
	max-width: 100%;
	height: auto;
	display: block;
	margin-bottom: 20px;
}
a.pretty:hover,
a.pretty:focus,
a.pretty:active,
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail:active {
	border-color: #bbbbbb;
	-webkit-box-shadow: 0 1px 4px #cccccc;
	-moz-box-shadow: 0 1px 4px #cccccc;
	box-shadow: 0 1px 4px #cccccc;
}

/* Code elements */
code {
	background: #eeeeee;
	border: none;
	color: #666666;
	white-space: normal;
}
code.block {
	display: block; /* More like a <pre> tag, but still different. */
	margin-bottom: 1.38em;
}

/* Simplify Breadcrumbs */
.breadcrumb {
	background: transparent;
	margin: 0 0 5px 0;
	padding: 7px 5px;
}

/* Nav List - applies nav list CSS to WP's custom menu widget, and in some cases the primary nav. */
.widget_nav_menu .menu {
	margin-left: 0;
	margin-bottom: 18px;
	list-style: none;
}
.widget_nav_menu .menu > li > a {
	display: block;
}
.widget_nav_menu .menu > li > a:hover,
.widget_nav_menu .menu > li > a:focus {
	background-color: #eeeeee;
	text-decoration: none;
}
.widget_nav_menu .menu > .pull-right {
	float: right;
}
.widget_nav_menu .menu .nav-header span {
	display: block;
	padding: 3px 15px;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	color: #999999;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}
.widget_nav_menu .menu li + .nav-header span {
	margin-top: 9px;
}
.widget_nav_menu .menu {
	margin-bottom: 0;
	padding-left: 15px;
	padding-right: 15px;
}
.widget_nav_menu .menu > li > a,
.widget_nav_menu .menu .nav-header > span {
	margin-left: -15px;
	margin-right: -15px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.widget_nav_menu .menu > li > a {
	padding: 3px 15px;
}
.widget_nav_menu .menu > .current-menu-item > a,
.widget_nav_menu .menu > .current-menu-item > a:hover,
.widget_nav_menu .menu > .current-menu-item > a:focus {
	background-color: #999999;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.widget_nav_menu .menu .fa {
	margin-right: 5px;
}
.widget_nav_menu .menu .divider,
.sf-menu li li.divider {
	*width: 100%;
	height: 1px;
	margin: 8px 1px;
	*margin: -5px 0 5px;
	padding: 0; /* Override any default widget list styles */
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #ffffff;
}
.widget_nav_menu .menu ul,
.fixed-sidebar .widget_nav_menu ul.sub-menu {
	margin-left: 10px;
}
.widget_nav_menu div[class^="menu-"] {
	min-height: 20px;
	padding: 8px 0;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #eee;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* Tabs/Pills */
.nav-tabs > li > a,
.nav-pills > li > a {
	color: inherit;
	outline: none;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	background-color: #454545;
}

/* Alerts */
.alert p:last-child {
	margin-bottom: 0;
}

/* Main Navigation */
#primary-menu ul {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* Carousel */
.entry-content .tb-bootstrap-carousel {
	margin-bottom: 20px;
}
.tb-bootstrap-carousel .carousel-control {
	z-index: 15;
}
.tb-bootstrap-carousel .carousel-control-wrap {
	position: relative;
}
.tb-bootstrap-carousel .carousel-thumb-nav {
	margin: 0;
}
.tb-bootstrap-carousel .carousel-thumb-nav li {
	cursor: pointer;
	float: left;
	opacity: .5;
	padding: 5px 5px 0 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tb-bootstrap-carousel .carousel-thumb-nav li:hover,
.tb-bootstrap-carousel .carousel-thumb-nav li.active {
	opacity: 1;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.ie8 .tb-bootstrap-carousel .carousel-thumb-nav {
	padding: 5px 0 0 0;
}
.ie8 .tb-bootstrap-carousel .carousel-thumb-nav li {
	display: inline;
	float: none;
}

/* Jumbotron */
.jumbotron {
	color: #333333;
	line-height: 1.428571429;
}
.jumbotron p:last-of-type {
	margin-bottom: 0;
}

/* Panels */
.panel p:last-of-type {
	margin-bottom: 0;
}

/* =Post Formats
-----------------------------------------------*/

/* @todo */

/* =Responsive Elements
-----------------------------------------------*/

/* Responsive visiblity classes */
.hide_on_standard,
.hide_on_standard_and_tablet,
.hide_on_standard_and_tablet_and_mobile,
.hide_on_standard_and_mobile {
	display: none;
}
.hide_on_tablet,
.hide_on_tablet_and_mobile,
.hide_on_mobile {
	display: block;
}
@media (max-width: 992px) {
	/* Tablets */
	.hide_on_standard,
	.hide_on_standard_and_mobile,
	.hide_on_mobile {
		display: block;
	}
	.hide_on_standard_and_tablet,
	.hide_on_standard_and_tablet_and_mobile,
	.hide_on_tablet,
	.hide_on_tablet_and_mobile {
		display: none;
	}
}
@media (max-width: 767px) {
	/* Mobile */
	.hide_on_standard,
	.hide_on_standard_and_tablet,
	.hide_on_tablet {
		display: block;
	}
	.hide_on_standard_and_tablet_and_mobile,
	.hide_on_standard_and_mobile,
	.hide_on_tablet_and_mobile,
	.hide_on_mobile {
		display: none;
	}
}

/* iOS Zoom Bug fix */
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/* Primary Navigation */
.btn-navbar {
	display: none;
}

/* Videos (oEmbed) */
.themeblvd-video-wrapper {
	position: relative;
	margin-bottom: 10px;
}
.themeblvd-video-wrapper .video-inner {
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.themeblvd-video-wrapper iframe,
.themeblvd-video-wrapper embed,
.themeblvd-video-wrapper object {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Video Shortcode */
.wp-video-shortcode {
	max-width: 100%;
}

/* =WordPress Standard Classes
-----------------------------------------------*/

.gallery-item {
	float: left;
	margin: 0;
	text-align: center;
}
.gallery-columns-1 .gallery-item {width: 100%;}
.gallery-columns-2 .gallery-item {width: 50%;}
.gallery-columns-3 .gallery-item {width: 33%;}
.gallery-columns-4 .gallery-item {width: 25%;}
.gallery-columns-5 .gallery-item {width: 20%;}
.gallery-columns-6 .gallery-item {width: 16%;}
.gallery-columns-7 .gallery-item {width: 14%;}
.gallery-columns-8 .gallery-item {width: 12%;}
.gallery-columns-9 .gallery-item {width: 11%;}
.gallery-columns-10 .gallery-item {width: 10%;}
.gallery-columns-11 .gallery-item {width: 9%;}
.gallery-columns-12 .gallery-item {width: 8%;}
.gallery-item .gallery-icon {
	padding: 10px;
}
.gallery-item img {
	display: inline-block;
}
.gallery-item .wp-caption-text {
	font-size: .9em; /* Fallback for older browsers */
	font-size: .9rem;
	line-height: 1.4em;
	margin: 0;
}
.alignnone {
	margin: 5px 0;
}
.aligncenter, div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
a img.alignnone {
	margin: 5px 20px 20px 0;
}
a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption {
	max-width: 96%; /* Image does not overflow the content area */
	padding: 4px;
	text-align: center;
}
.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}
.wp-caption img {
	border: 0 none;
	height: auto;
	margin:0;
	max-width: 98.5%;
	padding:0;
	width: auto;
}
.wp-caption p.wp-caption-text {
	font-size: .9em; /* Fallback for older browsers */
	font-size: .9rem;
	line-height: 1.4em;
	margin: 0;
	padding: 4px 5px;
}
.gallery-caption {}
.sticky {}

/* Mobile Devices (portrait) */
@media (max-width: 320px) {
	.alignright,
	.alignleft,
	a img.alignright,
	a img.alignleft {
		float: none;
		margin-right: 0;
		margin-left: 0;
	}
	.wp-caption.alignnone,
	.wp-caption.alignleft,
	.wp-caption.alignright {
		margin-left: auto;
		margin-right: auto;
	}
}

/* =Primary Navigation
-----------------------------------------------*/

.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 999;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}
.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}
.sf-menu a.sf-with-ul {
	padding-right: 2.25em;
	min-width: 1px;
}
ul.sf-menu-with-fontawesome .sf-sub-indicator {
	display: inline;
	margin-left: 8px;
	position: static;
	width: auto;
	height: auto;
	text-indent: 0;
}
ul.sf-menu-with-fontawesome ul .sf-sub-indicator {
	position: absolute;
	top:.8em;
	right: 10px;
}
ul.sf-menu .fa {
	margin-right: 5px;
}
#primary-menu > li > a .sf-sub-indicator,
#primary-menu > [class^="menu-icon-"] > a .fa {
	line-height: 1em;
}

/* =Secondary Navigation
-----------------------------------------------*/

.subnav {
	background-color: #eeeeee; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.subnav ul.nav {
	margin-bottom: 0;
}

/* All levels */
.subnav ul.nav li {
	margin: 0;
	padding: 0;
}
.subnav ul.nav li a {
	color: inherit;
	font-size: .85em; /* Fallback for older browsers */
	font-size: .85rem;
}
.subnav ul.nav li.nav-header {
	margin: 0;
	padding: 0;
}
.subnav ul.nav li.nav-header > span {
	display: block;
}

/* Level 1 */
.subnav ul.nav > li > a,
.subnav ul.nav > li.nav-header > span {
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #e5e5e5;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	line-height: 30px;
	margin: 0;
	padding: 0 12px;
}
.subnav ul.nav > .current_page_item > a,
.subnav ul.nav > .current_page_item > a:hover,
.subnav ul.nav > .current_page_item > a:focus {
	padding-left: 13px;
	background-color: #e9e9e9;
	border-right-color: #ddd;
	border-left: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav ul.nav > li:first-child > a,
.subnav ul.nav > li:first-child > a:hover,
.subnav ul.nav > li:first-child > a:focus,
.subnav ul.nav > li.nav-header:first-child > span {
	border-left: 0;
	padding-left: 12px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.subnav ul.nav > li > a .sf-sub-indicator,
.subnav ul.nav > [class^="menu-icon-"] > a fa {
	line-height: 1em;
}
.subnav ul.nav > li > a.sf-with-ul {
	/* If a top-level menu item has a dropdown, reduce its right padding. */
	padding-right: 8px;
}
.subnav ul.nav > [class^="menu-icon-"] > a {
	/* If a top-level menu item has a an icon, reduce its left
	padding. You can add icons to main menu by adding class "menu-icon-{whatever}" */
	padding-left: 8px;
}

/* Levels 2-3 */
.subnav li ul {
	background: #ffffff;
	border: 1px solid #dddddd;
	width: 200px; /* Width of dropdown menus */
}
.subnav li li a,
.subnav li li.nav-header > span {
	padding: 5px 8px;
}
.subnav li li a:hover,
.subnav li li a:focus {
	background: #f2f2f2;
}
.subnav ul.nav > li > ul {
	border-top: none;
	margin-left: -1px;
	margin-top: 1px;
}
.subnav ul.sf-menu li li:hover ul,
.subnav ul.sf-menu li li.sfHover ul,
.subnav ul.sf-menu li li li:hover ul,
.subnav ul.sf-menu li li li.sfHover ul {
	left: 200px;
}
.subnav .sf-menu li:hover ul,
.subnav .sf-menu li.sfHover ul {
	z-index:998; /* Show below any primary nav dropdowns that may be open. */
}

/* Responsive */
@media (max-width: 1000px) {
	.subnav ul.nav > li > a,
	.subnav ul.nav > li.nav-header > span {
		border: none;
	}
}

/* =Common Classes
----------------------------------------------- */

.clear { /* deprecated clear fix, still used in some places */
	clear:both;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.hide {
	display: none;
}
.tb-warning {
	background-color: #f9f9ec;
	border: 1px solid #e4e4d5;
	color: #e1b42f;
	padding: 15px;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.responsive-nav {
	display: none;
}
.tb-loader {
	background: #ffffff url('../images/elements/loader.gif') center center no-repeat;
	-webkit-border-radius: 99px;
	border-radius: 99px;
	-webkit-box-shadow: 0 1px 2px #bbb;
	-moz-box-shadow: 0 1px 2px #bbb;
	box-shadow: 0 1px 2px #bbb;
	margin: -25px -25px 0 0;
	position: absolute;
	top: 50%;
	right: 50%;
	bottom: inherit;
	left: inherit;
	width: 50px;
	height: 50px;
	z-index: 999;
}
.edit-link {
	display: block;
}
.required {
	color: red;
}
.skip-link,
.screen-reader-text,
.assistive-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}
.nav-previous,
.previous-image {
	float: left;
	width: 50%;
}
.nav-next,
.next-image {
	float: right;
	text-align: right;
	width: 50%;
}
#content nav {
	clear: both;
	line-height: 2;
	overflow: hidden;
}

/* =Moveable Parts
-----------------------------------------------*/

/* Contact Bar */
.themeblvd-contact-bar ul {
	margin: 0;
	padding: 0;
}
.themeblvd-contact-bar li {
	float:left;
	list-style: none !important;
	padding: 1px;
}
.themeblvd-contact-bar li a {
	background-image: url('../images/parts/social-media-grey_24x24.png');
	display: block;
	outline: none;
	width: 24px;
	height: 24px;
	text-indent: -9999px;
}
.themeblvd-contact-bar ul.social-media-dark li a {background-image:url('../images/parts/social-media-dark_24x24.png');}
.themeblvd-contact-bar ul.social-media-grey li a {background-image:url('../images/parts/social-media-grey_24x24.png');}
.themeblvd-contact-bar ul.social-media-light li a {background-image:url('../images/parts/social-media-light_24x24.png');}
.themeblvd-contact-bar ul.social-media-color li a {background-image:url('../images/parts/social-media-color_24x24.png');}
.themeblvd-contact-bar li .amazon {background-position:0 0;}
.themeblvd-contact-bar li .delicious {background-position:0 -24px;}
.themeblvd-contact-bar li .deviantart {background-position:0 -48px;}
.themeblvd-contact-bar li .digg {background-position:0 -72px;}
.themeblvd-contact-bar li .dribbble {background-position:0 -96px;}
.themeblvd-contact-bar li .ebay {background-position:0 -120px;}
.themeblvd-contact-bar li .email {background-position:0 -144px;}
.themeblvd-contact-bar li .facebook {background-position:0 -168px;}
.themeblvd-contact-bar li .feedburner {background-position:0 -192px;}
.themeblvd-contact-bar li .flickr {background-position:0 -216px;}
.themeblvd-contact-bar li .forrst {background-position:0 -240px;}
.themeblvd-contact-bar li .foursquare {background-position:0 -264px;}
.themeblvd-contact-bar li .github {background-position:0 -288px;}
.themeblvd-contact-bar li .google {background-position:0 -312px;}
.themeblvd-contact-bar li .instagram {background-position:0 -336px;}
.themeblvd-contact-bar li .linkedin {background-position:0 -360px;}
.themeblvd-contact-bar li .myspace {background-position:0 -384px;}
.themeblvd-contact-bar li .paypal {background-position:0 -408px;}
.themeblvd-contact-bar li .picasa {background-position:0 -432px;}
.themeblvd-contact-bar li .pinterest {background-position:0 -456px;}
.themeblvd-contact-bar li .reddit {background-position:0 -480px;}
.themeblvd-contact-bar li .rss {background-position:0 -504px;}
.themeblvd-contact-bar li .scribd {background-position:0 -528px;}
.themeblvd-contact-bar li .squidoo {background-position:0 -552px;}
.themeblvd-contact-bar li .technorati {background-position:0 -576px;}
.themeblvd-contact-bar li .tumblr {background-position:0 -600px;}
.themeblvd-contact-bar li .twitter {background-position:0 -624px;}
.themeblvd-contact-bar li .vimeo {background-position:0 -648px;}
.themeblvd-contact-bar li .xbox {background-position:0 -672px;}
.themeblvd-contact-bar li .yahoo {background-position:0 -696px;}
.themeblvd-contact-bar li .youtube {background-position:0 -720px;}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	/* Use 2x images for retina */
	.themeblvd-contact-bar li a {
		background-image: url('../images/parts/social-media-grey_48x48.png');
		background-size: 24px 744px;
	}
	.themeblvd-contact-bar ul.social-media-dark li a {background-image:url('../images/parts/social-media-dark_48x48.png');}
	.themeblvd-contact-bar ul.social-media-grey li a {background-image:url('../images/parts/social-media-grey_48x48.png');}
	.themeblvd-contact-bar ul.social-media-light li a {background-image:url('../images/parts/social-media-light_48x48.png');}
	.themeblvd-contact-bar ul.social-media-color li a {background-image:url('../images/parts/social-media-color_48x48.png');}
}

/* Search Form */
.entry-content .themeblvd-search {
	max-width: 230px;
}

/* Mini Post List */
.themeblvd-mini-post-list ul {
	list-style: none;
	padding: 0;
}
.themeblvd-mini-post-list ul li {
	padding-bottom: 10px;
	position: relative;
}
.themeblvd-mini-post-list ul li .featured-image-wrapper {
	position: absolute;
	top: 0;
	left: 0;
}
.themeblvd-mini-post-list ul .mini-post-list-content h4 {
	margin-top: 0;
	margin-bottom: 0;
}
.themeblvd-mini-post-list ul .mini-post-list-content .mini-meta {
	font-size: 11px;
}
.themeblvd-mini-post-list ul.small-thumbs .mini-post-list-content {
	margin-left: 155px;
	min-height: 140px;
}
.themeblvd-mini-post-list ul.small-thumbs .mini-post-list-content h4 {
	font-size: 17px;
	padding-top: 10px;
}
.themeblvd-mini-post-list ul.smaller-thumbs .mini-post-list-content {
	margin-left: 95px;
	min-height: 80px;
}
.themeblvd-mini-post-list ul.smaller-thumbs .mini-post-list-content h4 {
	font-size: 15px;
	padding-top: 5px;
}
.themeblvd-mini-post-list ul.smallest-thumbs .mini-post-list-content {
	margin-left: 70px;
	min-height: 55px;
}
.themeblvd-mini-post-list ul.smallest-thumbs .mini-post-list-content h4 {
	font-size: 13px;
	padding-top: 0;
}

/* Mini Post Grid */
.themeblvd-mini-post-grid ul {
	list-style: none;
	margin: 0;
	padding: 5px 0 0 0;
}
.themeblvd-mini-post-grid ul li {
	padding: 0;
}
.themeblvd-mini-post-grid ul.grid-align-left li {
	float: left;
}
.themeblvd-mini-post-grid ul.grid-align-right li {
	float: right;
}
.themeblvd-mini-post-grid ul.grid-align-center {
	text-align: center;
}
.themeblvd-mini-post-grid ul.grid-align-center li {
	display: inline-block;
	float: none;
}
.themeblvd-mini-post-grid ul li .featured-image-wrapper {
	margin: 0;
}
.themeblvd-mini-post-grid ul.small-thumbs li {
	margin: 6px;
}
.themeblvd-mini-post-grid ul.smaller-thumbs li {
	margin: 3px;
}
.themeblvd-mini-post-grid ul.smallest-thumbs li {
	margin: 1px;
}
.themeblvd-mini-post-grid .thumbnail {
	display: block;
	padding: 3px;
}

/* Featured Image */
.featured-image-wrapper {
	margin-bottom: 10px;
}
.featured-image-wrapper.attachment-grid_fifth_1 > .featured-image {
    max-width: 200px;
}
.featured-image-wrapper.attachment-grid_3 > .featured-image {
    max-width: 240px;
}
.featured-image-wrapper.attachment-grid_4 > .featured-image {
    max-width: 320px;
}
.featured-image-wrapper.attachment-grid_6 > .featured-image {
    max-width: 472px;
}
.attachment-small {
	float: left;
	margin-right: 20px;
}
.featured-image-wrapper a,
a.slide-thumbnail-link {
	position: relative;
	display: block;
}
.featured-image-wrapper img {
	display: block;
}
.featured-image-wrapper .image-overlay .image-overlay-bg,
.slide-thumbnail-link .image-overlay .image-overlay-bg {
	background: #ffffff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.slide-thumbnail-link .image-overlay .image-overlay-bg {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.featured-image-wrapper .image-overlay .image-overlay-icon,
.slide-thumbnail-link .image-overlay .image-overlay-icon {
	background: url('../images/elements/image-overlay-icon.png') no-repeat;
	cursor: pointer;
	margin: -21px 0 0 -22px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 44px;
	height: 42px;
	z-index: 2;
}
.featured-image-wrapper a.thumbnail.video .image-overlay .image-overlay-icon,
.slide-thumbnail-link.video .image-overlay .image-overlay-icon  {
	background-position: 0 0;
}
.featured-image-wrapper a.thumbnail .image-overlay .image-overlay-icon, /* "image" class doesn't always get inserted, is default */
.featured-image-wrapper a.image .image-overlay .image-overlay-icon,
.slide-thumbnail-link.image .image-overlay .image-overlay-icon {
	background-position: 0 -42px;
}
.featured-image-wrapper a.thumbnail.post .image-overlay .image-overlay-icon,
.slide-thumbnail-link.post .image-overlay .image-overlay-icon {
	background-position: 0 -84px;
}
.featured-image-wrapper a.thumbnail.external .image-overlay .image-overlay-icon,
.slide-thumbnail-link.external .image-overlay .image-overlay-icon {
	background-position: 0 -126px;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	/* Use 2x images for retina */
	.featured-image-wrapper .image-overlay .image-overlay-icon,
	.slide-thumbnail-link .image-overlay .image-overlay-icon {
		background-image: url('../images/elements/image-overlay-icon_2x.png');
		background-size: 44px 168px;
	}
}

/* =Forms
----------------------------------------------- */

/**
 * Add basic form field styling to match Bootstrap.
 *
 * Why? -- Starting in Bootstrap 3, form fields are no longer
 * styled without having specific CSS classes (i.e. form-control)
 * added to theme. This causes a problem for WordPress
 * plugins inserting their own forms, where the user
 * doesn't control the HTML.
 */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
textarea,
select {
	display: inline-block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	margin-bottom: 10px;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
textarea:focus {
	border-color: #bbbbbb;
	-webkit-box-shadow: inset 0 1px 1px #f2f2f2, 0 0 8px #cccccc;
	-moz-box-shadow: inset 0 1px 1px #f2f2f2, 0 0 8px #cccccc;
	box-shadow: inset 0 1px 1px #f2f2f2, 0 0 8px #cccccc;
	outline: 0;
}
textarea {
	height: auto;
}
input[type="text"]::-moz-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-moz-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="email"]::-moz-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-moz-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="number"]::-moz-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="date"]::-moz-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="time"]::-moz-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="month"]::-moz-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="month"]::-webkit-input-placeholder {
	color: #999999;
	opacity: 1;
}

/* Form Buttons - Match to Bootstrap .btn */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
button:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
button:hover,
button:focus {
	text-decoration: none;
}
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
button:hover,
button:focus,
button:active {
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}

/* See end of "Buttons" section for gradient submit buttons */

/* =Buttons
-----------------------------------------------*/

.black,
.blue,
.brown,
.dark_blue,
.dark_brown,
.dark_green,
.green,
.mauve,
.orange,
.pearl,
.pink,
.purple,
.red,
.slate_grey,
.silver,
.steel_blue,
.teal,
.yellow,
.wheat,
.white {
	color: #ffffff;
}
.black:hover,
.black:focus,
.blue:hover,
.blue:focus,
.brown:hover,
.brown:focus,
.dark_blue:hover,
.dark_blue:focus,
.dark_brown:hover,
.dark_brown:focus,
.dark_green:hover,
.dark_green:focus,
.green:hover,
.green:focus,
.mauve:hover,
.mauve:focus,
.orange:hover,
.orange:focus,
.pearl:hover,
.pearl:focus,
.pink:hover,
.pink:focus,
.purple:hover,
.purple:focus,
.red:hover,
.red:focus,
.slate_grey:hover,
.slate_grey:focus,
.silver:hover,
.silver:focus,
.steel_blue:hover,
.steel_blue:focus,
.teal:hover,
.teal:focus,
.yellow:hover,
.yellow:focus,
.wheat:hover,
.wheat:focus,
.white:hover
.white:focus {
	color: #ffffff;
}

/* Black */
.black {
	background-color: #313131;
	border-color: #000000;
}
.tb-btn-gradient .black {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#313131), to(#070707));
	background-image: -webkit-linear-gradient(top, #313131, #070707);
	background-image: -moz-linear-gradient(top, #313131, #070707);
	background-image: -o-linear-gradient(top, #313131, #070707);
	background-image: -ms-linear-gradient(top, #313131, #070707);
	background-image: linear-gradient(top, #313131, #070707);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#313131', EndColorStr='#070707');
}
.black:hover,
.black:focus,
.black:active {
	background-color: #0b0b0b;
}
.tb-btn-gradient .black:hover,
.tb-btn-gradient .black:focus,
.tb-btn-gradient .black:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0b0b0b), to(#000000));
	background-image: -webkit-linear-gradient(top, #0b0b0b, #000000);
	background-image: -moz-linear-gradient(top, #0b0b0b, #000000);
	background-image: -o-linear-gradient(top, #0b0b0b, #000000);
	background-image: -ms-linear-gradient(top, #0b0b0b, #000000);
	background-image: linear-gradient(top, #0b0b0b, #000000);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#0b0b0b', EndColorStr='#000000');
}

/* Blue */
.blue {
	background-color: #00437f;
	border-color: #00142c;
}
.tb-btn-gradient .blue {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00437f), to(#012e5a));
	background-image: -webkit-linear-gradient(top, #00437f, #012e5a);
	background-image: -moz-linear-gradient(top, #00437f, #012e5a);
	background-image: -o-linear-gradient(top, #00437f, #012e5a);
	background-image: -ms-linear-gradient(top, #00437f, #012e5a);
	background-image: linear-gradient(top, #00437f, #012e5a);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#00437f', EndColorStr='#012e5a');
}
.blue:hover,
.blue:focus,
.blue:active {
	background-color: #02396c;
}
.tb-btn-gradient .blue:hover,
.tb-btn-gradient .blue:focus,
.tb-btn-gradient .blue:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#02396c), to(#002448));
	background-image: -webkit-linear-gradient(top, #02396c, #002448);
	background-image: -moz-linear-gradient(top, #02396c, #002448);
	background-image: -o-linear-gradient(top, #02396c, #002448);
	background-image: -ms-linear-gradient(top, #02396c, #002448);
	background-image: linear-gradient(top, #02396c, #002448);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#02396c', EndColorStr='#002448');
}

/* Brown */
.brown {
	background-color: #6b3c02;
	border-color: #2a1401;
}
.tb-btn-gradient .brown {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6b3c02), to(#4f2b04));
	background-image: -webkit-linear-gradient(top, #6b3c02, #4f2b04);
	background-image: -moz-linear-gradient(top, #6b3c02, #4f2b04);
	background-image: -o-linear-gradient(top, #6b3c02, #4f2b04);
	background-image: -ms-linear-gradient(top, #6b3c02, #4f2b04);
	background-image: linear-gradient(top, #6b3c02, #4f2b04);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#6b3c02', EndColorStr='#4f2b04');
}
.brown:hover,
.brown:focus,
.brown:active {
	background-color: #633707;
}
.tb-btn-gradient .brown:hover,
.tb-btn-gradient .brown:focus,
.tb-btn-gradient .brown:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#633707), to(#3f2102));
	background-image: -webkit-linear-gradient(top, #633707, #3f2102);
	background-image: -moz-linear-gradient(top, #633707, #3f2102);
	background-image: -o-linear-gradient(top, #633707, #3f2102);
	background-image: -ms-linear-gradient(top, #633707, #3f2102);
	background-image: linear-gradient(top, #633707, #3f2102);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#633707', EndColorStr='#3f2102');
}

/* Dark Blue */
.dark_blue {
	background-color: #153f5a;
	border-color: #051927;
}
.tb-btn-gradient .dark_blue {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#153f5a), to(#092334));
	background-image: -webkit-linear-gradient(top, #153f5a, #092334);
	background-image: -moz-linear-gradient(top, #153f5a, #092334);
	background-image: -o-linear-gradient(top, #153f5a, #092334);
	background-image: -ms-linear-gradient(top, #153f5a, #092334);
	background-image: linear-gradient(top, #153f5a, #092334);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#153f5a', EndColorStr='#092334');
}
.dark_blue:hover,
.dark_blue:focus,
.dark_blue:active {
	background-color: #0f3147;
}
.tb-btn-gradient .dark_blue:hover,
.tb-btn-gradient .dark_blue:focus,
.tb-btn-gradient .dark_blue:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0f3147), to(#051927));
	background-image: -webkit-linear-gradient(top, #0f3147, #051927);
	background-image: -moz-linear-gradient(top, #0f3147, #051927);
	background-image: -o-linear-gradient(top, #0f3147, #051927);
	background-image: -ms-linear-gradient(top, #0f3147, #051927);
	background-image: linear-gradient(top, #0f3147, #051927);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#0f3147', EndColorStr='#051927');
}

/* Dark Brown */
.dark_brown {
	background-color: #572f05;
	border-color: #372e25;
}
.tb-btn-gradient .dark_brown {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#572f05), to(#371c02));
	background-image: -webkit-linear-gradient(top, #572f05, #371c02);
	background-image: -moz-linear-gradient(top, #572f05, #371c02);
	background-image: -o-linear-gradient(top, #572f05, #371c02);
	background-image: -ms-linear-gradient(top, #572f05, #371c02);
	background-image: linear-gradient(top, #572f05, #371c02);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#572f05', EndColorStr='#371c02');
}
.dark_brown:hover,
.dark_brown:focus,
.dark_brown:active {
	background-color: #472603;
}
.tb-btn-gradient .dark_brown:hover,
.tb-btn-gradient .dark_brown:focus,
.tb-btn-gradient .dark_brown:active {
	background-color: #472603;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#472603), to(#210f00));
	background-image: -webkit-linear-gradient(top, #472603, #210f00);
	background-image: -moz-linear-gradient(top, #472603, #210f00);
	background-image: -o-linear-gradient(top, #472603, #210f00);
	background-image: -ms-linear-gradient(top, #472603, #210f00);
	background-image: linear-gradient(top, #472603, #210f00);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#472603', EndColorStr='#210f00');
}

/* Dark Green */
.dark_green {
	background-color: #485a21;
	border-color: #202b03;
}
.tb-btn-gradient .dark_green{
	background-color: #485a21;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#485a21), to(#2e3b13));
	background-image: -webkit-linear-gradient(top, #485a21, #2e3b13);
	background-image: -moz-linear-gradient(top, #485a21, #2e3b13);
	background-image: -o-linear-gradient(top, #485a21, #2e3b13);
	background-image: -ms-linear-gradient(top, #485a21, #2e3b13);
	background-image: linear-gradient(top, #485a21, #2e3b13);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#485a21', EndColorStr='#2e3b13');
}
.dark_green:hover,
.dark_green:focus,
.dark_green:active {
	background-color: #384718;
}
.tb-btn-gradient .dark_green:hover,
.tb-btn-gradient .dark_green:focus,
.tb-btn-gradient .dark_green:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#384718), to(#232e0d));
	background-image: -webkit-linear-gradient(top, #384718, #232e0d);
	background-image: -moz-linear-gradient(top, #384718, #232e0d);
	background-image: -o-linear-gradient(top, #384718, #232e0d);
	background-image: -ms-linear-gradient(top, #384718, #232e0d);
	background-image: linear-gradient(top, #384718, #232e0d);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#384718', EndColorStr='#232e0d');
}

/* Green */
.green {
	background-color: #74941f;
	border-color: #364709;
}
.tb-btn-gradient .green {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#74941f), to(#516812));
	background-image: -webkit-linear-gradient(top, #74941f, #516812);
	background-image: -moz-linear-gradient(top, #74941f, #516812);
	background-image: -o-linear-gradient(top, #74941f, #516812);
	background-image: -ms-linear-gradient(top, #74941f, #516812);
	background-image: linear-gradient(top, #74941f, #516812);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#74941f', EndColorStr='#516812');
}
.green:hover,
.green:focus,
.green:active {
	background-color: #67841a;
}
.tb-btn-gradient .green:hover,
.tb-btn-gradient .green:focus,
.tb-btn-gradient .green:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#67841a), to(#43570e));
	background-image: -webkit-linear-gradient(top, #67841a, #43570e);
	background-image: -moz-linear-gradient(top, #67841a, #43570e);
	background-image: -o-linear-gradient(top, #67841a, #43570e);
	background-image: -ms-linear-gradient(top, #67841a, #43570e);
	background-image: linear-gradient(top, #67841a, #43570e);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#67841a', EndColorStr='#43570e');
}

/* Mauve */
.mauve {
	background-color: #7b726c;
	border-color: #2b2725;
}
.tb-btn-gradient .mauve {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7b726c), to(#3e3935));
	background-image: -webkit-linear-gradient(top, #7b726c, #3e3935);
	background-image: -moz-linear-gradient(top, #7b726c, #3e3935);
	background-image: -o-linear-gradient(top, #7b726c, #3e3935);
	background-image: -ms-linear-gradient(top, #7b726c, #3e3935);
	background-image: linear-gradient(top, #7b726c, #3e3935);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7b726c', EndColorStr='#3e3935');
}
.mauve:hover,
.mauve:focus,
.mauve:active {
	background-color: #524c48;
}
.tb-btn-gradient .mauve:hover,
.tb-btn-gradient .mauve:focus,
.tb-btn-gradient .mauve:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#524c48), to(#2b2725));
	background-image: -webkit-linear-gradient(top, #524c48, #2b2725);
	background-image: -moz-linear-gradient(top, #524c48, #2b2725);
	background-image: -o-linear-gradient(top, #524c48, #2b2725);
	background-image: -ms-linear-gradient(top, #524c48, #2b2725);
	background-image: linear-gradient(top, #524c48, #2b2725);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#524c48', EndColorStr='#2b2725');
}

/* Orange */
.orange {
	background-color: #ff9624;
	border-color: #9b5911;
}
.tb-btn-gradient .orange {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9624), to(#a76013));
	background-image: -webkit-linear-gradient(top, #ff9624, #a76013);
	background-image: -moz-linear-gradient(top, #ff9624, #a76013);
	background-image: -o-linear-gradient(top, #ff9624, #a76013);
	background-image: -ms-linear-gradient(top, #ff9624, #a76013);
	background-image: linear-gradient(top, #ff9624, #a76013);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ff9624', EndColorStr='#a76013');
}
.orange:hover,
.orange:focus,
.orange:active {
	background-color: #da7f1d;
}
.tb-btn-gradient .orange:hover,
.tb-btn-gradient .orange:focus,
.tb-btn-gradient .orange:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#da7f1d), to(#9b5911));
	background-image: -webkit-linear-gradient(top, #da7f1d, #9b5911);
	background-image: -moz-linear-gradient(top, #da7f1d, #9b5911);
	background-image: -o-linear-gradient(top, #da7f1d, #9b5911);
	background-image: -ms-linear-gradient(top, #da7f1d, #9b5911);
	background-image: linear-gradient(top, #da7f1d, #9b5911);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#da7f1d', EndColorStr='#9b5911');
}

/* Pearl */
.pearl {
	background-color: #bca89d;
	border-color: #625751;
}
.tb-btn-gradient .pearl {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bca89d), to(#897a72));
	background-image: -webkit-linear-gradient(top, #bca89d, #897a72);
	background-image: -moz-linear-gradient(top, #bca89d, #897a72);
	background-image: -o-linear-gradient(top, #bca89d, #897a72);
	background-image: -ms-linear-gradient(top, #bca89d, #897a72);
	background-image: linear-gradient(top, #bca89d, #897a72);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#bca89d', EndColorStr='#897a72');
}
.pearl:hover,
.pearl:focus,
.pearl:active {
	background-color: #a08f86;
}
.tb-btn-gradient .pearl:hover,
.tb-btn-gradient .pearl:focus,
.tb-btn-gradient .pearl:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a08f86), to(#746861));
	background-image: -webkit-linear-gradient(top, #a08f86, #746861);
	background-image: -moz-linear-gradient(top, #a08f86, #746861);
	background-image: -o-linear-gradient(top, #a08f86, #746861);
	background-image: -ms-linear-gradient(top, #a08f86, #746861);
	background-image: linear-gradient(top, #a08f86, #746861);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a08f86', EndColorStr='#746861');
}

/* Pink */
.pink {
	background-color: #de2e81;
	border-color: #5c0d32;
}
.tb-btn-gradient .pink {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#de2e81), to(#941b54));
	background-image: -webkit-linear-gradient(top, #de2e81, #941b54);
	background-image: -moz-linear-gradient(top, #de2e81, #941b54);
	background-image: -o-linear-gradient(top, #de2e81, #941b54);
	background-image: -ms-linear-gradient(top, #de2e81, #941b54);
	background-image: linear-gradient(top, #de2e81, #941b54);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#de2e81', EndColorStr='#941b54');
}
.pink:hover,
.pink:focus,
.pink:active {
	background-color: #b02265;
}
.tb-btn-gradient .pink:hover,
.tb-btn-gradient .pink:focus,
.tb-btn-gradient .pink:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b02265), to(#69103a));
	background-image: -webkit-linear-gradient(top, #b02265, #69103a);
	background-image: -moz-linear-gradient(top, #b02265, #69103a);
	background-image: -o-linear-gradient(top, #b02265, #69103a);
	background-image: -ms-linear-gradient(top, #b02265, #69103a);
	background-image: linear-gradient(top, #b02265, #69103a);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#b02265', EndColorStr='#69103a');
}

/* Purple */
.purple {
	background-color: #78498e;
	border-color: #0f0514;
}
.tb-btn-gradient .purple {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#78498e), to(#2d1837));
	background-image: -webkit-linear-gradient(top, #78498e, #2d1837);
	background-image: -moz-linear-gradient(top, #78498e, #2d1837);
	background-image: -o-linear-gradient(top, #78498e, #2d1837);
	background-image: -ms-linear-gradient(top, #78498e, #2d1837);
	background-image: linear-gradient(top, #78498e, #2d1837);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#78498e', EndColorStr='#2d1837');
}
.purple:hover,
.purple:focus,
.purple:active {
	background-color: #59346a;
}
.tb-btn-gradient .purple:hover,
.tb-btn-gradient .purple:focus,
.tb-btn-gradient .purple:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#59346a), to(#1e0e25));
	background-image: -webkit-linear-gradient(top, #59346a, #1e0e25);
	background-image: -moz-linear-gradient(top, #59346a, #1e0e25);
	background-image: -o-linear-gradient(top, #59346a, #1e0e25);
	background-image: -ms-linear-gradient(top, #59346a, #1e0e25);
	background-image: linear-gradient(top, #59346a, #1e0e25);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#59346a', EndColorStr='#1e0e25');
}

/* Red */
.red {
	background-color: #a7170c;
	border-color: #220100;
}
.tb-btn-gradient .red {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a7170c), to(#490502));
	background-image: -webkit-linear-gradient(top, #a7170c, #490502);
	background-image: -moz-linear-gradient(top, #a7170c, #490502);
	background-image: -o-linear-gradient(top, #a7170c, #490502);
	background-image: -ms-linear-gradient(top, #a7170c, #490502);
	background-image: linear-gradient(top, #a7170c, #490502);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a7170c', EndColorStr='#490502');
}
.red:hover,
.red:focus,
.red:active {
	background-color: #750d06;
}
.tb-btn-gradient .red:hover,
.tb-btn-gradient .red:focus,
.tb-btn-gradient .red:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#750d06), to(#300201));
	background-image: -webkit-linear-gradient(top, #750d06, #300201);
	background-image: -moz-linear-gradient(top, #750d06, #300201);
	background-image: -o-linear-gradient(top, #750d06, #300201);
	background-image: -ms-linear-gradient(top, #750d06, #300201);
	background-image: linear-gradient(top, #750d06, #300201);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#750d06', EndColorStr='#300201');
}

/* Slate Grey */
.slate_grey {
	background-color: #7f8d9c;
	border-color: #1e2227;
}
.tb-btn-gradient .slate_grey {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7f8d9c), to(#3b424a));
	background-image: -webkit-linear-gradient(top, #7f8d9c, #3b424a);
	background-image: -moz-linear-gradient(top, #7f8d9c, #3b424a);
	background-image: -o-linear-gradient(top, #7f8d9c, #3b424a);
	background-image: -ms-linear-gradient(top, #7f8d9c, #3b424a);
	background-image: linear-gradient(top, #7f8d9c, #3b424a);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7f8d9c', EndColorStr='#3b424a');
}
.slate_grey:hover,
.slate_grey:focus,
.slate_grey:active {
	background-color: #6c7885;
}
.tb-btn-gradient .slate_grey:hover,
.tb-btn-gradient .slate_grey:focus,
.tb-btn-gradient .slate_grey:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#474f58), to(#2a2f35));
	background-image: -webkit-linear-gradient(top, #474f58, #2a2f35);
	background-image: -moz-linear-gradient(top, #474f58, #2a2f35);
	background-image: -o-linear-gradient(top, #474f58, #2a2f35);
	background-image: -ms-linear-gradient(top, #474f58, #2a2f35);
	background-image: linear-gradient(top, #474f58, #2a2f35);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#474f58', EndColorStr='#2a2f35');
}

/* Silver */
.silver {
	background-color: #b5b5b5;
	border-color: #333333;
}
.tb-btn-gradient .silver {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b5b5b5), to(#565656));
	background-image: -webkit-linear-gradient(top, #b5b5b5, #565656);
	background-image: -moz-linear-gradient(top, #b5b5b5, #565656);
	background-image: -o-linear-gradient(top, #b5b5b5, #565656);
	background-image: -ms-linear-gradient(top, #b5b5b5, #565656);
	background-image: linear-gradient(top, #b5b5b5, #565656);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#b5b5b5', EndColorStr='#565656');
}
.silver:hover,
.silver:focus,
.silver:active {
	background-color: #909090;
}
.tb-btn-gradient .silver:hover,
.tb-btn-gradient .silver:focus,
.tb-btn-gradient .silver:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#979797));
	background-image: -webkit-linear-gradient(top, #e4e4e4, #979797);
	background-image: -moz-linear-gradient(top, #e4e4e4, #979797);
	background-image: -o-linear-gradient(top, #e4e4e4, #979797);
	background-image: -ms-linear-gradient(top, #e4e4e4, #979797);
	background-image: linear-gradient(top, #e4e4e4, #979797);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e4e4e4', EndColorStr='#979797');
}

/* Steel Blue */
.steel_blue {
	background-color: #aec3d5;
	border-color: #373e45;
}
.tb-btn-gradient .steel_blue {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#aec3d5), to(#545f69));
	background-image: -webkit-linear-gradient(top, #aec3d5, #545f69);
	background-image: -moz-linear-gradient(top, #aec3d5, #545f69);
	background-image: -o-linear-gradient(top, #aec3d5, #545f69);
	background-image: -ms-linear-gradient(top, #aec3d5, #545f69);
	background-image: linear-gradient(top, #aec3d5, #545f69);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#aec3d5', EndColorStr='#545f69');
}
.steel_blue:hover,
.steel_blue:focus,
.steel_blue:active {
	background-color: #7c8c99;
}
.tb-btn-gradient .steel_blue:hover,
.tb-btn-gradient .steel_blue:focus,
.tb-btn-gradient .steel_blue:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7c8c99), to(#373e45));
	background-image: -webkit-linear-gradient(top, #7c8c99, #373e45);
	background-image: -moz-linear-gradient(top, #7c8c99, #373e45);
	background-image: -o-linear-gradient(top, #7c8c99, #373e45);
	background-image: -ms-linear-gradient(top, #7c8c99, #373e45);
	background-image: linear-gradient(top, #7c8c99, #373e45);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7c8c99', EndColorStr='#373e45');
}

/* Teal */
.teal {
	background-color: #03b5cc;
	border-color: #002f36;
}
.tb-btn-gradient .teal {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#03b5cc), to(#005661));
	background-image: -webkit-linear-gradient(top, #03b5cc, #005661);
	background-image: -moz-linear-gradient(top, #03b5cc, #005661);
	background-image: -o-linear-gradient(top, #03b5cc, #005661);
	background-image: -ms-linear-gradient(top, #03b5cc, #005661);
	background-image: linear-gradient(top, #03b5cc, #005661);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#03b5cc', EndColorStr='#005661');
}
.teal:hover,
.teal:focus,
.teal:active {
	background-color: #0293a6;
}
.tb-btn-gradient .teal:hover,
.tb-btn-gradient .teal:focus,
.tb-btn-gradient .teal:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0293a6), to(#003a43));
	background-image: -webkit-linear-gradient(top, #0293a6, #003a43);
	background-image: -moz-linear-gradient(top, #0293a6, #003a43);
	background-image: -o-linear-gradient(top, #0293a6, #003a43);
	background-image: -ms-linear-gradient(top, #0293a6, #003a43);
	background-image: linear-gradient(top, #0293a6, #003a43);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#0293a6', EndColorStr='#003a43');
}

/* Yellow */
.yellow {
	background-color: #ffcf2d;
	border-color: #aa891a;
}
.tb-btn-gradient .yellow {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcf2d), to(#caa321));
	background-image: -webkit-linear-gradient(top, #ffcf2d, #caa321);
	background-image: -moz-linear-gradient(top, #ffcf2d, #caa321);
	background-image: -o-linear-gradient(top, #ffcf2d, #caa321);
	background-image: -ms-linear-gradient(top, #ffcf2d, #caa321);
	background-image: linear-gradient(top, #ffcf2d, #caa321);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffcf2d', EndColorStr='#caa321');
}
.yellow:hover,
.yellow:focus,
.yellow:active {
	background-color: #e5b927;
}
.tb-btn-gradient .yellow:hover,
.tb-btn-gradient .yellow:focus,
.tb-btn-gradient .yellow:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e5b927), to(#be991e));
	background-image: -webkit-linear-gradient(top, #e5b927, #be991e);
	background-image: -moz-linear-gradient(top, #e5b927, #be991e);
	background-image: -o-linear-gradient(top, #e5b927, #be991e);
	background-image: -ms-linear-gradient(top, #e5b927, #be991e);
	background-image: linear-gradient(top, #e5b927, #be991e);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e5b927', EndColorStr='#be991e');
}

/* Wheat */
.wheat {
	background-color: #b4ad8b;
	border-color: #403d2f;
}
.tb-btn-gradient .wheat {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b4ad8b), to(#615d4a));
	background-image: -webkit-linear-gradient(top, #b4ad8b, #615d4a);
	background-image: -moz-linear-gradient(top, #b4ad8b, #615d4a);
	background-image: -o-linear-gradient(top, #b4ad8b, #615d4a);
	background-image: -ms-linear-gradient(top, #b4ad8b, #615d4a);
	background-image: linear-gradient(top, #b4ad8b, #615d4a);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#b4ad8b', EndColorStr='#615d4a');
}
.wheat:hover,
.wheat:focus,
.wheat:active {
	background-color: #9a9477;
}
.tb-btn-gradient .wheat:hover,
.tb-btn-gradient .wheat:focus,
.tb-btn-gradient .wheat:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9a9477), to(#4e4b3b));
	background-image: -webkit-linear-gradient(top, #9a9477, #4e4b3b);
	background-image: -moz-linear-gradient(top, #9a9477, #4e4b3b);
	background-image: -o-linear-gradient(top, #9a9477, #4e4b3b);
	background-image: -ms-linear-gradient(top, #9a9477, #4e4b3b);
	background-image: linear-gradient(top, #9a9477, #4e4b3b);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9a9477', EndColorStr='#4e4b3b');
}

/* Bootstrap Legacy Gradient Colors */
.tb-btn-gradient .btn-default,
.tb-btn-gradient .btn-primary,
.tb-btn-gradient .btn-success,
.tb-btn-gradient .btn-info,
.tb-btn-gradient .btn-warning,
.tb-btn-gradient .btn-danger {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tb-btn-gradient .btn-default:active,
.tb-btn-gradient .btn-primary:active,
.tb-btn-gradient .btn-success:active,
.tb-btn-gradient .btn-info:active,
.tb-btn-gradient .btn-warning:active,
.tb-btn-gradient .btn-danger:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.tb-btn-gradient .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.tb-btn-gradient .btn-default,
.tb-btn-gradient input[type="submit"] {
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#e0e0e0));
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
	background-image: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
	background-repeat: repeat-x;
	border-color: #dbdbdb;
	border-color: #ccc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.tb-btn-gradient .btn-default:hover,
.tb-btn-gradient .btn-default:focus,
.tb-btn-gradient input[type="submit"]:hover,
.tb-btn-gradient input[type="submit"]:focus {
	background-color: #e0e0e0;
	background-position: 0 -15px;
}
.tb-btn-gradient .btn-default:active,
.tb-btn-gradient input[type="submit"]:active {
	background-color: #e0e0e0;
	border-color: #dbdbdb;
}
.tb-btn-gradient .btn-primary {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#2d6ca2));
	background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
	background-image: -moz-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
	background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
	background-repeat: repeat-x;
	border-color: #2b669a;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.tb-btn-gradient .btn-primary:hover,
.tb-btn-gradient .btn-primary:focus {
	background-color: #2d6ca2;
	background-position: 0 -15px;
}
.tb-btn-gradient .btn-primary:active {
	background-color: #2d6ca2;
	border-color: #2b669a;
}
.tb-btn-gradient .btn-success {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5cb85c), to(#419641));
	background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
	background-image: -moz-linear-gradient(top, #5cb85c 0%, #419641 100%);
	background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
	background-repeat: repeat-x;
	border-color: #3e8f3e;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.tb-btn-gradient .btn-success:hover,
.tb-btn-gradient .btn-success:focus {
	background-color: #419641;
	background-position: 0 -15px;
}
.tb-btn-gradient .btn-success:active {
	background-color: #419641;
	border-color: #3e8f3e;
}
.tb-btn-gradient .btn-warning {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f0ad4e), to(#eb9316));
	background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
	background-image: -moz-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
	background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
	background-repeat: repeat-x;
	border-color: #e38d13;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.tb-btn-gradient .btn-warning:hover,
.tb-btn-gradient .btn-warning:focus {
	background-color: #eb9316;
	background-position: 0 -15px;
}
.tb-btn-gradient .btn-warning:active {
	background-color: #eb9316;
	border-color: #e38d13;
}
.tb-btn-gradient .btn-danger {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9534f), to(#c12e2a));
	background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
	background-image: -moz-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
	background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
	background-repeat: repeat-x;
	border-color: #b92c28;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.tb-btn-gradient .btn-danger:hover,
.tb-btn-gradient .btn-danger:focus {
	background-color: #c12e2a;
	background-position: 0 -15px;
}
.tb-btn-gradient .btn-danger:active {
	background-color: #c12e2a;
	border-color: #b92c28;
}
.tb-btn-gradient .btn-info {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5bc0de), to(#2aabd2));
	background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
	background-image: -moz-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
	background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
	background-repeat: repeat-x;
	border-color: #28a4c9;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.tb-btn-gradient .btn-info:hover,
.tb-btn-gradient .btn-info:focus {
	background-color: #2aabd2;
	background-position: 0 -15px;
}
.tb-btn-gradient .btn-info:active {
	background-color: #2aabd2;
	border-color: #28a4c9;
}

/* =Shortcodes
-----------------------------------------------*/

/* Icon List */
ul.tb-icon-list {
	list-style: none !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* Icon Link */
.tb-icon-link {
	padding: 0 5px;
}
.tb-icon-link .fa {
	margin-right: 5px;
}

/* Info Boxes */

/**
 * Deprecated: alert, approved, camera, doc, cart, download, quote, media, note, notice, warning
 * Current: blue, green, grey, orange, purple, red, teal, yellow
 */

.info-box {
	background-position: 0 100%;
	background-repeat: repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	display: block;
	margin: 15px 0;
	padding: 15px 17px;
	position: relative;
}
.info-box p:last-child {
	margin-bottom: 0;
}
.info-box-has-icon {
	padding-left: 36px;
}
.info-box .icon {
	display: block;
	font-size: 17px;
	position: absolute;
	top: 14px;
	left: 10px;
}
.info-box-blue,
.info-box-notice {
	background-color: #FAFCFD;
	background-image: url('../images/shortcodes/box/notice.png');
	border: 1px solid #C7CDDA;
	color: #6187B3;
}
.info-box-green,
.info-box-approved {
	background-color:#FAFDF9;
	background-image: url('../images/shortcodes/box/approved.png');
	border:1px solid #C1CEC1;color:#6CB656;
}
.info-box-grey,
.info-box-doc,
.info-box-cart,
.info-box-download,
.info-box-quote {
	background-color: #FFFFFF;
	background-image: url('../images/shortcodes/box/doc.png');
	border: 1px solid #E5E5E5;
	color: #666666;
}
.info-box-orange,
.info-box-note {
	background-color: #FFFAF6;
	background-image: url('../images/shortcodes/box/note.png');
	border: 1px solid #E6DAD2;
	color: #B76F38;
}
.info-box-purple,
.info-box-media {
	background-color: #FBF9FD;
	background-image: url('../images/shortcodes/box/media.png');
	border: 1px solid #DBE1E6;
	color: #8D79A9;
}
.info-box-red,
.info-box-alert {
	background-color: #FFFBFB;
	background-image: url('../images/shortcodes/box/alert.png');
	border: 1px solid #F8C9BB;
	color: #D0583F;
}
.info-box-teal,
.info-box-camera {
	background-color: #F6FBFB;
	background-image: url('../images/shortcodes/box/camera.png');
	border: 1px solid #C9D5D8;color:#55A0B4;
}
.info-box-yellow,
.info-box-warning {
	background-color: #FFFDF6;
	background-image: url('../images/shortcodes/box/warning.png');
	border: 1px solid #E4E4D5;
	color: #E1B42F;
}

/* Text Highlighting */
.text-highlight {
	background-color: #FFFFAA;
	color: #666666;
	padding: .25em .2em;
}

/* Drop Caps */
.dropcap {
	float: left;
	font-size: 300%;
	font-size: 3rem;
	font-weight: bold;
	line-height: 100%;
	margin: .42em .58em 0 0;
	position: relative;
}

/* Toggles */
.tb-panel {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-top: 5px;
	margin-bottom: 0;
}
.panel-last,
.tb-accordion {
	margin-bottom: 20px;
}
.tb-panel .panel-heading {
	border-bottom: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0;
}
.tb-panel .panel-heading + .panel-collapse .panel-body {
	border-top-width: 1px;
	border-top-style: solid;
}
.tb-panel .panel-title {
	border-bottom: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: block;
	font-size: 1rem;
	padding: 10px 15px;
}
.tb-panel .panel-title.active-trigger {
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.tb-panel .panel-heading .switch-me {
	margin-right: 5px;
}
.tb-panel.panel-default .panel-title {
	color: #666666;
}
.tb-panel.panel-default > .panel-heading {
	background: #ffffff;
}
.tb-panel.panel-default > .panel-heading .panel-title:hover {
	background: #f5f5f5;
}

/* =Widgets
-----------------------------------------------*/

/* Calendar Widget */
#wp-calendar td,
#wp-calendar th {
	text-align: center;
}
#wp-calendar #prev {
	text-align: left;
}
#wp-calendar #next {
	text-align: right;
}

/* Twitter Widget */
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important; /* Override the Twitter embed fixed width */
}

/* Video */
.tb-video_widget .tb-video_description {
	display: block;
	margin: 10px 0 0 0;
}

/* Simple Contact */
.tb-contact_widget ul.simple-contact {
	list-style: none;
	margin: 0;
	padding: 0;
}
.tb-contact_widget ul.simple-contact li {
	background: url('../images/parts/simple-contact.png') 0 0 no-repeat;
	border: none;
	line-height: 20px;
	margin: 2px 0 !important;
	padding: 0 0 0 30px;
}
.tb-contact_widget ul.simple-contact li a {
	border:none;
}
.tb-contact_widget ul.simple-contact li.link {
	background-position: 0 0;
	height: 20px;
}
.tb-contact_widget ul.simple-contact li.phone {
	background-position: 0 -20px;
}
.tb-contact_widget ul.simple-contact li.email {
	background-position: 0 -40px;
}
.tb-contact_widget ul.simple-contact li.contact {
	background-position: 0 -60px;
}
.tb-contact_widget ul.simple-contact li.skype {
	background-position: 0 -80px;
}
.tb-contact_widget ul.simple-contact ul.icons {
	margin: 0;
	padding: 0;
}
.tb-contact_widget ul.simple-contact ul.icons li {
	background-image: none;
	float: left;height: 20px;
	margin: 0;
	padding: 0;
}
.tb-contact_widget ul.simple-contact ul.icons li a {
	background: url('../images/parts/social-media-color_16x16.png') 0 0 no-repeat;
	display: block;
	line-height: 1;
	margin: 2px 2px 0 0;
	padding: 0;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
}
.tb-contact_widget ul.simple-contact ul.icons li a:hover,
.tb-contact_widget ul.simple-contact ul.icons li a:focus {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.tb-contact_widget ul.simple-contact ul.icons li.amazon a {
	background-position: 0 0;
}
.tb-contact_widget ul.simple-contact ul.icons li.delicious a {
	background-position: 0 -16px;
}
.tb-contact_widget ul.simple-contact ul.icons li.deviantart a {
	background-position: 0 -32px;
}
.tb-contact_widget ul.simple-contact ul.icons li.digg a {
	background-position: 0 -48px;
}
.tb-contact_widget ul.simple-contact ul.icons li.dribbble a {
	background-position: 0 -64px;
}
.tb-contact_widget ul.simple-contact ul.icons li.ebay a {
	background-position: 0 -80px;
}
.tb-contact_widget ul.simple-contact ul.icons li.email a {
	background-position: 0 -96px;
}
.tb-contact_widget ul.simple-contact ul.icons li.facebook a {
	background-position: 0 -112px;
}
.tb-contact_widget ul.simple-contact ul.icons li.feedburner a {
	background-position: 0 -128px;
}
.tb-contact_widget ul.simple-contact ul.icons li.flickr a {
	background-position: 0 -144px;
}
.tb-contact_widget ul.simple-contact ul.icons li.forrst a {
	background-position: 0 -160px;
}
.tb-contact_widget ul.simple-contact ul.icons li.foursquare a {
	background-position: 0 -176px;
}
.tb-contact_widget ul.simple-contact ul.icons li.github a {
	background-position: 0 -192px;
}
.tb-contact_widget ul.simple-contact ul.icons li.google a {
	background-position: 0 -208px;
}
.tb-contact_widget ul.simple-contact ul.icons li.instagram a {
	background-position: 0 -224px;
}
.tb-contact_widget ul.simple-contact ul.icons li.linkedin a {
	background-position: 0 -240px;
}
.tb-contact_widget ul.simple-contact ul.icons li.myspace a {
	background-position: 0 -256px;
}
.tb-contact_widget ul.simple-contact ul.icons li.paypal a {
	background-position: 0 -272px;
}
.tb-contact_widget ul.simple-contact ul.icons li.picassa a {
	background-position: 0 -288px;
}
.tb-contact_widget ul.simple-contact ul.icons li.pinterest a {
	background-position: 0 -304px;
}
.tb-contact_widget ul.simple-contact ul.icons li.reddit a {
	background-position: 0 -320px;
}
.tb-contact_widget ul.simple-contact ul.icons li.rss a {
	background-position: 0 -336px;
}
.tb-contact_widget ul.simple-contact ul.icons li.scribd a {
	background-position: 0 -352px;
}
.tb-contact_widget ul.simple-contact ul.icons li.squidoo a {
	background-position: 0 -368px;
}
.tb-contact_widget ul.simple-contact ul.icons li.technorati a {
	background-position: 0 -384px;
}
.tb-contact_widget ul.simple-contact ul.icons li.tumblr a {
	background-position: 0 -400px;
}
.tb-contact_widget ul.simple-contact ul.icons li.twitter a {
	background-position: 0 -416px;
}
.tb-contact_widget ul.simple-contact ul.icons li.vimeo a {
	background-position: 0 -432px;
}
.tb-contact_widget ul.simple-contact ul.icons li.xbox a {
	background-position: 0 -448px;
}
.tb-contact_widget ul.simple-contact ul.icons li.yahoo a {
	background-position: 0 -464px;
}
.tb-contact_widget ul.simple-contact ul.icons li.youtube a {
	background-position: 0 -480px;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	/* Use 2x images for retina */
	.tb-contact_widget ul.simple-contact li {
		background-image:url('../images/parts/simple-contact_2x.png');
		background-size: 20px 120px;
	}
	.tb-contact_widget ul.simple-contact ul.icons li a {
		background-image:url('../images/parts/social-media-color_32x32.png');
		background-size: 16px 496px;
	}
}

/* =Plugins
----------------------------------------------- */

/* FlexSlider */
.flex-container a:active,
.flexslider a:active {
	outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.flexslider {
	width: 100%;
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: none; /* Hide the slides before the JS is loaded. Avoids image jumping */
}
.flexslider .slides img {
	max-width: 100%;
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
.slides:after { /* Clearfix for the .slides element */
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}

/* Nivo Slider (v3.2) */
.tb-nivo-slider-wrapper .slides-wrapper {
	overflow: hidden;
}
.nivoSlider {
	position: relative;
	width: 100%;
	height: auto;
	/* overflow: hidden; */
}
.nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important;
	width: 100% !important;
}
/* Nivo Slider: If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	z-index: 6;
	display: none;
	/*
	background: white;
	filter: alpha(opacity=0);
	opacity: 0;
	*/
}

/* Nivo Slider: The slices and boxes in the Slider */
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
	top: 0;
}
.nivo-box {
	display: block;
	position: absolute;
	z-index: 5;
	overflow: hidden;
}
.nivo-box img { display: block; }

/* Nivo Slider: Caption placement */
.nivo-caption {
	position:absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 8;
	overflow: hidden;
	display: none;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}

/* Contact Form 7 */
div.wpcf7 {
	margin: 0;
	padding: 0;
}
div.wpcf7 p {
	margin-bottom:5px;
}
div.wpcf7 label {
	display: inline-block;
}
div.wpcf7 input[type="text"],
div.wpcf7 select {
	margin-right: 10px;
	max-width: 40%;
}
div.wpcf7 input {
	margin-top: 5px;
}
div.wpcf7 .wpcf7-list-item {
	display: block;
}
div.wpcf7 .wpcf7-list-item input {
	width: auto;
}
div.wpcf7 textarea {
	width: 98%;
}
.widget div.wpcf7 input,
.widget div.wpcf7 select {
	width: inherit;
}
div.wpcf7-response-output {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 0;
	padding: 5px 10px;
}
div.wpcf7-mail-sent-ok {
	background-color: #f2f9ef !important;
	border: 1px solid #dcefd4 !important;
	color: #398f14 !important;
}
div.wpcf7-mail-sent-ng {
	background-color: #fbf7f7 !important;
	border: 1px solid #ecd9d9 !important;
	color:#c00000 !important;
}
div.wpcf7-spam-blocked {
	background-color: #f7f4ee !important;
	border: 1px solid #f1e9d9 !important;
	color: #ffa500 !important;
}
div.wpcf7-validation-errors {
	background-color: #f8f7ef !important;
	border: 1px solid #f1f0e4 !important;
	color:#ada421 !important;
}
span.wpcf7-not-valid-tip {
	background: transparent;
	border: none;
	color: #c00000;
	font-size: .9em;
	line-height: 100%;
	padding: 0;
	position: absolute;
	top: 0;
	left: 10px;
	width: 280px;
	z-index: 100;
}
span.wpcf7-not-valid-tip-no-ajax {
	color: #f00;
	font-size: .9em;
	display: block;
}
span.wpcf7-list-item {
	margin-left: 0.5em;
}
.wpcf7-display-none {
	display: none;
}
div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}
div.wpcf7 .watermark {
	color: #888888;
}

/* =Lightbox
-----------------------------------------------*/

/* Basic inline popup styling */
.white-popup {
	background: #ffffff;
	margin: 20px auto;
	max-width: 500px;
	padding: 20px;
	position: relative;
	width: auto;
}
button.close {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

/* MPF close button */
button.mfp-close,
button.mfp-arrow {
	background-color: transparent;
	border: none;
	outline: none;
}

/* Bottom bar for iframe popups in a gallery */
.mfp-iframe-holder .mfp-bottom-bar {
	margin-top: 5px;
}

.mfp-iframe-holder .mfp-iframe-scaler {
	background: #000;
}

/* General iframe animation fix */
.mfp-iframe-scaler.mfp-with-anim {
	overflow: visible;
}

/* Fade animation */
.themeblvd-mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
.themeblvd-mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.themeblvd-mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}
.themeblvd-mfp-fade.mfp-wrap .mfp-content,
.themeblvd-mfp-fade.mfp-wrap button {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
.themeblvd-mfp-fade.mfp-wrap.mfp-ready .mfp-content,
.themeblvd-mfp-fade.mfp-wrap.mfp-ready button {
	opacity: 1;
}
.themeblvd-mfp-fade.mfp-wrap.mfp-removing .mfp-content,
.themeblvd-mfp-fade.mfp-wrap.mfp-removing button {
	opacity: 0;
}

/* =Elements
-----------------------------------------------*/

/* General Classes */
.element {
	clear: both;
	padding-bottom: 20px;
}
.element-unstyled,
.element-unstyled .element-inner,
.element-unstyled .element-inner .element-inner-wrap {
	background-color: transparent !important;
	background-image: none !important;
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

/* Headline */
.element-headline {
	padding-bottom: 0;
}

/* Divider */
.element-divider {
	padding-bottom: 0;
}
.divider-dashed,
.divider-solid,
.divider-shadow {
	margin: 30px 0;
}
.divider-dashed {
	border-top: 1px dashed #cccccc;
}
.divider-solid {
	border-top: 1px solid #cccccc;
}
.divider-shadow {
	background: url('../images/elements/divider-shadow.png') center top no-repeat;
	height:8px;
}

/* Post List/Post Grid */
.lead-link,
.lead-link {
	display: block;
	margin-top: 20px;
}

/* Slider (universal) */
.slider-wrapper, .slides-wrapper {
	position: relative;
}
.slider .slide {
	overflow: hidden;
	position: relative;
}
.slider ul.slides {
	list-style: none;
	margin: 0;
}
.slider .alignright, .slider .alignleft {
	margin: 0;
}

/* Slider Fallback for mobile */
.slider-fallback {
	display:none;
}
.slider-fallback ul.slider-fallback-list {
	margin:0;
	padding:0;
}
.slider-fallback li.slider-fallback-slide {
	border-bottom: 1px solid #dddddd;
	list-style: none;
	margin: 0 0 10px 0;
	padding: 10px 0;
}
.slider-fallback .first_slide li.slider-fallback-slide {
	border-bottom: none; /* Remove border when only showing first slide */
}
.slider-fallback li.slider-fallback-slide p {
	margin: 5px 0;
}
@media (max-width: 767px) {
	/* Mobile */
	.slider_has_mobile_fallback {
		display:none;
	}
	.slider-fallback {
		display:block;
	}
}

/* Standard Slider + Nivo Slider */
.tb-nivo-slider-wrapper .nivoSlider img {
	display: none;
}
.standard-slider-wrapper .slides-wrapper,
.tb-nivo-slider-wrapper .slides-wrapper {
	background: #f5f5f5;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	min-height: 100px;
	padding:0 0 40px 0;
}
.standard-slider-wrapper .hide-full_nav .slides-wrapper,
.tb-nivo-slider-wrapper .hide-full_nav .slides-wrapper {
	padding-bottom: 0;
}
.standard-slider .slide .media {
	position: relative;
	margin: 0; /* Bootstrap override */
}
.standard-slider .slide .themeblvd-video-wrapper {
	margin-bottom: 0;
}
.standard-slider .slide .image-link { /* @deprecated */
	background: #ffffff; /* Triggers the anchor in IE */
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-indent: -9999px;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.standard-slider .media-full .content,
.tb-nivo-slider-wrapper .nivo-caption {
	background: #000000; /* Fallback for non rgba-supporting browsers */
	background: rgba(0, 0, 0, 0.75);
	color: #ffffff;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.tb-nivo-slider-wrapper .nivo-caption {
	z-index: 8;
}
.standard-slider .media-full .content .content-inner,
.tb-nivo-slider-wrapper .nivo-caption .content .content-inner {
	padding: 15px 15px 10px 15px;
}
.standard-slider .media-full .content .slide-title,
.tb-nivo-slider-wrapper .nivo-caption .content .slide-title {
	font-size: 1.3em; /* Fallback for older browsers */
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1.15em;
	margin: 0;
	padding: 0 0 5px 0;
}
.standard-slider .media-full .content .slide-description p,
.tb-nivo-slider-wrapper .nivo-caption .content .slide-description p {
	margin: 0;
	padding: 0 0 5px 0;
}
.standard-slider .media-align-left .slide-body,
.standard-slider .media-align-right .slide-body {
	padding: 10px;
}
.standard-slider .media-align-left .grid_fifth_2,
.standard-slider .media-align-right .grid_fifth_3 {
	float: right;
}
.standard-slider .media-align-left .grid_fifth_3,
.standard-slider .media-align-right .grid_fifth_2 {
	float: left;
}
.standard-slider .media-align-left .slide-title,
.standard-slider .media-align-right .slide-title {
	font-size: 2em; /* Fallback for older browsers */
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.15em;
	margin-bottom: 10px;
}
.standard-slider .media-align-left .content-inner,
.standard-slider .media-align-right .content-inner {
	padding: 20px;
}
.standard-slider-wrapper .flex-control-nav,
.tb-nivo-slider-wrapper .nivo-controlNav {
	position: absolute;
	bottom: 15px;
	left: 10px;
	text-align: center;
	height: 11px;
	z-index: 3;
}
.tb-nivo-slider-wrapper .nivo-controlNav {
	z-index: 100;
}
.standard-slider-wrapper .flex-control-nav li {
	float: left;
	padding: 2px;
}
.tb-nivo-slider-wrapper .nivo-controlNav a {
	float: left;
	margin: 2px;
}
.standard-slider-wrapper .flex-control-nav li a,
.tb-nivo-slider-wrapper .nivo-controlNav a {
	background: url('../images/elements/slider-nav.png') no-repeat;
	cursor: pointer;
	display: block;
	outline: none;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
}
.standard-slider-wrapper .flex-control-nav li a.flex-active,
.tb-nivo-slider-wrapper .nivo-controlNav a.active {
	background-position: -10px 0;
}
.standard-slider-wrapper .flex-direction-nav,
.tb-nivo-slider-wrapper .nivo-directionNav {
	position: absolute;
	bottom: 15px;
	right: 10px;
	height: 11px;
	z-index: 4;
}
.tb-nivo-slider-wrapper .nivo-directionNav {
	bottom: -23px;
	z-index: 100;
}
.standard-slider-wrapper .flex-direction-nav li {
	float: left;
	padding: 0;
}
.tb-nivo-slider-wrapper .nivo-directionNav a {
	float: left;
}
.standard-slider-wrapper .flex-direction-nav li a,
.tb-nivo-slider-wrapper .nivo-directionNav a {
	background-image: url('../images/elements/slider-arrows.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	margin: 0 1px;
	outline: none;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
}
.standard-slider-wrapper .flex-direction-nav li a.flex-prev,
.tb-nivo-slider-wrapper .nivo-directionNav a.nivo-prevNav {
	background-position: 0 0;
}
.standard-slider-wrapper .flex-direction-nav li a.flex-prev:hover,
.standard-slider-wrapper .flex-direction-nav li a.flex-prev:focus,
.tb-nivo-slider-wrapper .nivo-directionNav a.nivo-prevNav:hover,
.tb-nivo-slider-wrapper .nivo-directionNav a.nivo-prevNav:focus {
	background-position: -16px 0;
}
.standard-slider-wrapper .flex-direction-nav li a.flex-next,
.tb-nivo-slider-wrapper .nivo-directionNav a.nivo-nextNav {
	background-position: 0 -16px;
}
.standard-slider-wrapper .flex-direction-nav li a.flex-next:hover,
.standard-slider-wrapper .flex-direction-nav li a.flex-next:focus,
.tb-nivo-slider-wrapper .nivo-directionNav a.nivo-nextNav:hover,
.tb-nivo-slider-wrapper .nivo-directionNav a.nivo-nextNav:focus {
	background-position: -16px -16px;
}
.standard-slider-wrapper .flex-direction-nav li a.flex-play {
	background-position: 0 -32px;
}
.standard-slider-wrapper .flex-direction-nav li a.flex-play:hover,
.standard-slider-wrapper .flex-direction-nav li a.flex-play:focus {
	background-position: -16px -32px;
}
.standard-slider-wrapper .flex-direction-nav li a.flex-pause {
	background-position: 0 -48px;
}
.standard-slider-wrapper .flex-direction-nav li a.flex-pause:hover,
.standard-slider-wrapper .flex-direction-nav li a.flex-pause:focus {
	background-position: -16px -48px;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	/* Slider controls - Use 2x image for retina */
	.standard-slider-wrapper .flex-control-nav li a,
	.tb-nivo-slider-wrapper .nivo-controlNav a {
		background-image: url('../images/elements/slider-nav_2x.png');
		background-size: 20px 11px;
	}
	.standard-slider-wrapper .flex-direction-nav li a,
	.tb-nivo-slider-wrapper .nivo-directionNav a {
		background-image: url('../images/elements/slider-arrows_2x.png');
		background-size: 32px 64px;
	}
}
.sidebar_right .standard-slider,
.sidebar_left.standard-slider,
.double_sidebar_right .standard-slider,
.double_sidebar_left .standard-slider,
.double_sidebar .standard-slider {
	font-size: .85em; /* Fallback for older browsers */
	font-size: .85rem;
}
.sidebar_right .standard-slider p,
.sidebar_left.standard-slider p,
.double_sidebar_right .standard-slider p,
.double_sidebar_left .standard-slider p,
.double_sidebar .standard-slider p {
	margin-bottom: 1em;
}
.sidebar_right .standard-slider .media-align-left .slide-title span,
.sidebar_left .standard-slider .media-align-left .slide-title span,
.double_sidebar_right .standard-slider .media-align-left .slide-title span,
.double_sidebar_left .standard-slider .media-align-left .slide-title span,
.double_sidebar .standard-slider .media-align-left .slide-title span,
.sidebar_right .standard-slider .media-align-right .slide-title span,
.sidebar_left .standard-slider .media-align-right .slide-title span,
.double_sidebar_right .standard-slider .media-align-right .slide-title span,
.double_sidebar_left .standard-slider .media-align-right .slide-title span,
.double_sidebar .standard-slider .media-align-right .slide-title span {
	font-size: 1.25em; /* Fallback for older browsers */
	font-size: 1.25rem;
}

/* Carrousel Slider (Roundabout jQuery plugin) */
.carrousel-slider-wrapper {
	font-size: 12px;
	padding-top: 20px;
	position: relative;
	height: 18em;
}
.carrousel-slider-wrapper .slider-inner {
	display: none;
}
.carrousel-slider-wrapper .carrousel-slider {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 75%;
	height: 18em;
}
.carrousel-slider-wrapper .carrousel-slider .stage {
	padding:.4em;
}
.carrousel-slider-wrapper .roundabout-moveable-item {
	overflow: hidden;
}
.carrousel-slider-wrapper .roundabout-moveable-item .slide-body {
	background: transparent url('../images/elements/carrousel-shadow.png') center bottom no-repeat;
	cursor: pointer;
	padding: 0 0 23px 0;
}
.carrousel-slider-wrapper .roundabout-in-focus .slide-body {
	background-image: url('../images/elements/carrousel-shadow-focus.png');
	cursor: auto;
	padding: 0 0 30px 0;
}
.carrousel-slider-wrapper .roundabout-moveable-item img {
	display: block;
	max-width: 100%;
}
.carrousel-slider-wrapper .roundabout-nav a {
	color: #999999;
	display: block;
	font-size: 30px;
	line-height: 30px;
	margin-top: -15px;
	outline: none;
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	z-index: 998;
}
.carrousel-slider-wrapper .roundabout-nav a:hover,
.carrousel-slider-wrapper .roundabout-nav a:focus {
	color: #666666;
}
.carrousel-slider-wrapper .roundabout-nav a.prev {
	left: 5px;
}
.carrousel-slider-wrapper .roundabout-nav a.next {
	right: 5px;
}
.carrousel-slider-wrapper .carrousel-slider .slide {
	position: relative;
	/* width:320px; height:200px; */
}
.carrousel-slider-wrapper .carrousel-slider .slide .image-link { /* @deprecated */
	background: #666666;
	-moz-border-radius: 99px;
	-webkit-border-radius: 99px;
	border-radius: 99px;
	-moz-box-shadow: 1px 1px 1px #333333;
	-webkit-box-shadow: 1px 1px 1px #333333;
	box-shadow: 0 0 1px #000000;
	color: #ffffff;
	display: block;
	outline: none;
	padding: 5px;
	position: absolute;
	top: 10px;
	left: 10px;
	text-indent: -9999px;
	z-index: 1;
}
.carrousel-slider-wrapper .carrousel-slider .slide .image-link:hover,
.carrousel-slider-wrapper .carrousel-slider .slide .image-link:focus {
	background: #555555;
}
.carrousel-slider-wrapper .carrousel-slider .slide .image-link .enlarge {
	display: none; /* Fix for auto-added enlarge span to all rel="themeblvd_lightbox" elements. */
}
.carrousel-slider-wrapper .carrousel-slider .slide .image-link span {
	display: block;
	width: 14px;
	height: 14px;
}
.carrousel-slider-wrapper .carrousel-slider .slide .image-link.enlarge span {
	background: url('../images/parts/enlarge-ffffff.png') 0 0 no-repeat;
}
.carrousel-slider-wrapper .carrousel-slider .slide .image-link.external span {
	background: url('../images/parts/link-ffffff.png') 0 0 no-repeat;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	/* Slider controls - Use 2x image for retina */
	.carrousel-slider-wrapper .carrousel-slider .slide .image-link.enlarge span {
		background-image: url('../images/parts/enlarge-ffffff_2x.png');
		background-size: 14px 14px;
	}
	.carrousel-slider-wrapper .carrousel-slider .slide .image-link.external span {
		background-image: url('../images/parts/link-ffffff_2x.png');
		background-size: 14px 14px;
	}
}
.sidebar_right .carrousel-slider-wrapper .carrousel-slider,
.sidebar_left .carrousel-slider-wrapper .carrousel-slider,
.double_sidebar_right .carrousel-slider-wrapper .carrousel-slider,
.double_sidebar_left .carrousel-slider-wrapper .carrousel-slider,
.double_sidebar .carrousel-slider-wrapper .carrousel-slider {
	width: 50%;
}
.double_sidebar_right .carrousel-slider-wrapper .carrousel-slider li,
.double_sidebar_left .carrousel-slider-wrapper .carrousel-slider li,
.double_sidebar .carrousel-slider-wrapper .carrousel-slider li {
	max-height: 138px;
	max-width: 200px;
}
.roundabout-moveable-item .slide-thumbnail-link .image-overlay {
	display: none;
}
.roundabout-moveable-item.roundabout-in-focus .slide-thumbnail-link .image-overlay {
	display: block;
}
.carrousel-slider-wrapper .tb-block-click {
	background: #fff; /* For IE bug fix */
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	cursor: pointer;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.carrousel-slider-wrapper .roundabout-in-focus .tb-block-click {
	display: none;
}

/* Post List Slider */
.tb-post-list-slider .slides-wrapper {
	padding: 20px;
}
.tb-post-list-slider .post_list article:last-of-type {
	margin-bottom: 0;
}

/* Post Grid Slider */
.tb-post-grid-slider .slides-wrapper {
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}
.tb-post-grid-slider .post_grid .grid-row:last-of-type article {
	margin-bottom: 0;
}

/* Slogan */
.tb-slogan .slogan-text.text_large {
	font-size: 1.5em; /* Fallback for older browsers */
	font-size: 1.5rem;
	line-height: 1.25em;
}
.tb-slogan .slogan-text.text_medium {
	font-size: 1.25em; /* Fallback for older browsers */
	font-size: 1.25rem;
	line-height: 1.25em;
}
.tb-slogan .slogan-text.text_small {
	font-size: .92em; /* Fallback for older browsers */
	font-size: .92rem;
}
.tb-slogan.text_only {
	text-align: center;
}
.tb-slogan.has_button .btn {
	float: right;
	margin: 0 0 0 20px;
}
.tb-slogan.has_button .btn-large {
	font-size: 20px;
	padding: 15px;
}

/* Tabs */
.tb-tabs-framed .nav-tabs {
	margin: 0;
}
.tb-tabs-framed .nav-pills {
	margin: 5px 0;
}
.tb-tabs-framed .tab-content {
	background: #ffffff;
	border: 1px solid #dddddd;
	border-top-width: 0;
	padding: 20px;
}
.tb-tabs-framed.tb-tabs-pills .tab-content {
	border-top-width: 1px;
}
.tb-tabs-open .tab-content {
	padding: 10px 5px;
}

/* =Tweeple
-----------------------------------------------*/

.tweeple-feed ul.tweets {
    list-style: none;
    margin-left: 0;
}
.tweeple-feed li.tweet {
    margin-bottom: 10px;
}
.tweeple-feed .tweet-time a {
    color: #888888;
    font-size: .92em; /* Fallback for older browsers */
	font-size: .92rem;
}

/* "Tweet" Builder Element */
.tb-tweet-wrapper {
	position: relative;
}
.tb-tweet-wrapper.has-icon {
	padding-left: 70px;
}
.tb-tweet-wrapper .tweet-icon {
	display: block;
	font-size: 64px;
	line-height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
}
.tb-tweet-wrapper .tweet-content {
	font-size: 1.9em; /* Fallback for older browsers */
	font-size: 1.9rem;
	line-height: 125%;
}

/* =WPML Bridge
-----------------------------------------------*/

.tb-wpml-flaglist ul {
	margin: 0;
	padding: 0;
}
.tb-wpml-flaglist ul li {
	float: left;
	list-style: none;
	padding: 0 2px;
}

/* Header menu addon */
#access .tb-wpml-flaglist {
	float: right;
	padding: 12px 15px 0 0;
}
#access .tb-wpml-flaglist li {
	border: none;
}
#access .tb-wpml-flaglist li a {
	line-height: 100%;
	padding: 0;
}
@media (max-width: 992px) {
	/* Tablets */
	#access .tb-wpml-flaglist {
		padding: 13px 7px 0 0;
	}
}
@media (max-width: 767px) {
	/* Mobile */
	#access .tb-wpml-flaglist {
		float: none;
		text-align: center;
	}
	#access .tb-wpml-flaglist li {
		display: inline-block;
		float: none;
	}
	#access .tb-wpml-flaglist li img {
		margin: 0 2px;
	}
}

/* Breadcrumbs */
#breadcrumbs.tb-wpml-breadcrumbs .breadcrumbs-content {
	float: left;
}
#breadcrumbs.tb-wpml-breadcrumbs .tb-wpml-flaglist {
	float: right;
	padding: 7px 5px;
}
#main #breadcrumbs.tb-wpml-breadcrumbs .tb-wpml-flaglist a {
	border-bottom: none;
	margin: 0 1px;
}
@media (max-width: 767px) {
	/* Mobile */
	#breadcrumbs.tb-wpml-breadcrumbs .breadcrumb,
	#breadcrumbs.tb-wpml-breadcrumbs .breadcrumbs-content,
	#breadcrumbs.tb-wpml-breadcrumbs .tb-wpml-flaglist {
		float: none;
		padding: 0;
	}
	#breadcrumbs.tb-wpml-breadcrumbs .tb-wpml-flaglist {
		margin-top: 5px;
	}
}