/* =Icon Fonts
-----------------------------------------------*/

/* Note: @font-face included from /framework/admin/assets/css/admin-global.css */

[class^="tb-icon-"]:before,
[class*=" tb-icon-"]:before {
	font-family: "theme-blvd-admin";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

}
.tb-icon-logo-circled:before { content: '\e80b'; } /* '' */
.tb-icon-roadblock:before { content: '\e80c'; } /* '' */
.tb-icon-logo-simple:before { content: '\e810'; } /* '' */
.tb-icon-plus-circled:before { content: '\e80a'; } /* '' */
.tb-icon-lock:before { content: '\e80d'; } /* '' */
.tb-icon-picture:before { content: '\e801'; } /* '' */
.tb-icon-link:before { content: '\e811'; } /* '' */
.tb-icon-quote:before { content: '\e812'; } /* '' */
.tb-icon-down-dir:before { content: '\e805'; } /* '' */
.tb-icon-logo-stroke:before { content: '\e80f'; } /* '' */
.tb-icon-right-dir:before { content: '\e807'; } /* '' */
.tb-icon-up-dir:before { content: '\e808'; } /* '' */
.tb-icon-arrows-ccw:before { content: '\e809'; } /* '' */
.tb-icon-briefcase:before { content: '\e813'; } /* '' */
.tb-icon-ok-circled:before { content: '\e80e'; } /* '' */
.tb-icon-cancel-circled:before { content: '\e803'; } /* '' */
.tb-icon-help-circled:before { content: '\e802'; } /* '' */
.tb-icon-attention:before { content: '\e804'; } /* '' */
.tb-icon-commercial-building:before { content: '\e800'; } /* '' */
.tb-icon-left-dir:before { content: '\e806'; } /* '' */

/* =General Classes
-----------------------------------------------*/

#optionsframework .clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
#optionsframework .warning {
	background: #f7f7f7;
	border: 1px solid #eeeeee;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #666666;
	line-height: 1.3em;
	padding: 10px;
}
#optionsframework .note {
	color: #999999;
	font-size: 12px;
	font-style: italic;
	line-height: 150%;
	padding: 5px
}
#optionsframework .inner-label {
	cursor: inherit;
	display: block;
	padding: 5px
}
#optionsframework .inactive {
	color: #999999
}
#optionsframework .ajax-update {
	display: none
}
#optionsframework .ajax-overlay {
	background: #ffffff;
	display: none;
	opacity: .7;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}
#optionsframework .conflict,
#optionsframework .no-conflict {
	background-position: left center;
	background-repeat: no-repeat;
	padding: 2px 0 2px 20px;
}
#optionsframework .conflict {
	background-image: url(../images/icon-error.png)
}
#optionsframework .no-conflict {
	background-image: url(../images/icon-check.png)
}
#optionsframework .admin-module-footer {
	clear: both;
}
#optionsframework .widefat {
	margin-bottom: 20px;
}
#optionsframework .widefat td p,
#optionsframework .widefat td ol,
#optionsframework .widefat td ul {
	margin-top: 0;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	#optionsframework .conflict {
		background-image: url(../images/icon-error_2x.png);
		background-size: 16px 16px;
	}
	#optionsframework .no-conflict{
		background-image: url(../images/icon-check_2x.png);
		background-size: 16px 16px;
	}
}

/* =Form Elements
-----------------------------------------------*/

#optionsframework-submit .ajax-loading,
optionsframework #publishing-action .ajax-loading {
	display: none;
	float: right;
	visibility: visible;
	margin: 4px 5px 0 0;
}
#optionsframework .inner-sidebar .section {
	border-bottom: 1px solid #dfdfdf;
	padding: 15px;
}
#optionsframework .inner-sidebar .section .heading {
	border-bottom: none;
	margin: 0;
	padding: 2px 0 10px 2px;
}
#optionsframework .inner-sidebar .section .controls {
	min-width: inherit;
	width: 98%;
}
#optionsframework .inner-sidebar .section .explain {
	max-width: inherit;
	width: 98%;
}
#optionsframework .inner-sidebar .section: last-of-type {
	padding-bottom: 15px;
}
#optionsframework span.locked {
	display: block;
	position: relative;
}
#optionsframework span.locked span {
	background: #fff url(../images/icon-lock.png) 4px 5px no-repeat;
	display: block;
	position: absolute;
	-ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=20);
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: .2;
	width: 100%;
	height: 100%;
}
#optionsframework span.locked input {
	color: #888;
	height: 26px;
	padding-left: 25px;
}
#optionsframework .section-columns .select-wrap {
	margin-right: 3%;
	width: 47%;
}
#optionsframework .section-columns .inactive {
	margin: 5px 0 0;
}
#optionsframework .tab-names {
	border: 1px solid #eeeeee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 15px;
}
#optionsframework .section-tabs label {
	float: left;
	line-height: 30px;
	width: 30%;
}
#optionsframework .section-tabs input {
	float: left;
	width: 68%;
}
#optionsframework .section-logo .controls input {
	margin-bottom: 0;
}
#optionsframework .section-logo .screenshot {
	float: none;
	margin-top: 15px;
}
#optionsframework .section-logo .screenshot img {
	float: none;
}
#optionsframework .section-social_media input.checkbox {
	float: none;
	margin-bottom: 0;
}
#optionsframework .section-social_media .item {
	padding: 3px;
}
#optionsframework .section-social_media div span {
	display: block;
	line-height: 20px;
}
#optionsframework .section-social_media .social_media-input {
	margin-top: 10px;
}
#optionsframework .section-social_media .active {
	border: 1px solid #f2f2f2;
	margin: 0 0 4px;
	padding: 4px 7px;
}
#optionsframework .section-social_media .column-1 {
	float: left;
	width: 48%;
	margin: 0 2% 0 0;
}
#optionsframework .section-social_media .column-2 {
	float: left;
	width: 48%;
}
#optionsframework .section-upload .section-upload {
	background: #ffffff;
	border: 1px solid #dfdfdf;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 0 0 10px 0;
	padding: 12px 15px;
}

/* =Sidebar Layouts - needed for WordPress 3.4+
-----------------------------------------------*/

#optionsframework .inner-sidebar {
	float: right;
	clear: right;
	width: 280px;
	position: relative;
}
#optionsframework .has-right-sidebar #post-body {
	float: left;
	clear: left;
	width: 100%;
	margin-right: -2000px;
}
#optionsframework .has-right-sidebar #post-body-content {
	float: none;margin-right: 300px;
	width: auto;
}

/* =Alert Message
-----------------------------------------------*/

#tb-alert {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;display: none;
	position: absolute;left: 50%;
	z-index: 100;
	border-style: solid;
	border-width: 1px;
	margin: 0 0 0 -110px;
}
#tb-alert .tb-alert-inner {
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	-ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=95);
	filter: alpha(opacity=95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.55;
	opacity: 0.95;
	width: 218px;
}
#tb-alert .tb-alert-pad {
	padding: 20px;
}
#tb-alert .tb-alert-message p {
	font-weight: bold;text-align: center;margin: 0;padding: 0;
}
.tb-success {
	color: #235d24;
	border-color: #73c875;
}
.tb-success .tb-alert-inner {
	background-color: #e3f9e7;
}
.tb-reset {
	color: #711b1b;
	border-color: #e48b8b;
}
.tb-warning {
	color: #838a15;
	border-color: #e7eba5;
}
.tb-reset .tb-alert-inner,
tb-warning .tb-alert-inner {
	background: #dacfcf;
}

/* =Icon Buttons
-----------------------------------------------*/

#optionsframework .active-icon,
#optionsframework .add-icon,
#optionsframework .delete-icon,
#optionsframework .help-icon,
#optionsframework .inactive-icon,
#optionsframework .refresh-icon,
#optionsframework .remove-icon{
	display: block;
	float: right;
	text-indent: -9999px;
	width: 16px;height: 16px;
}
#optionsframework .header_has_icon .active-icon,
#optionsframework .header_has_icon .add-icon,
#optionsframework .header_has_icon .delete-icon,
#optionsframework .header_has_icon .help-icon,
#optionsframework .header_has_icon .inactive-icon,
#optionsframework .header_has_icon .refresh-icon,
#optionsframework .header_has_icon .remove-icon {
	display: inline-block;
	float: none;
	margin-left: 5px;
}
#optionsframework .active-icon {
	background: url(../images/icon-active.png) no-repeat;
}
#optionsframework .add-icon {
	background: url(../images/icon-add.png) no-repeat;
}
#optionsframework .delete-icon {
	background: url(../images/icon-delete.png) no-repeat;
}
#optionsframework .help-icon {
	background: url(../images/icon-help.png) no-repeat;
}
#optionsframework .inactive-icon {
	background: url(../images/icon-inactive.png) no-repeat;
}
#optionsframework .refresh-icon {
	background: url(../images/icon-refresh.png) no-repeat;
}
#optionsframework .remove-icon {
	background: url(../images/icon-remove.png) no-repeat;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	#optionsframework .active-icon {
		background-image: url(../images/icon-active_2x.png);
		background-size: 16px 16px;
	}
	#optionsframework .add-icon {
		background-image: url(../images/icon-add_2x.png);
		background-size: 16px 16px;
	}
	#optionsframework .delete-icon {
		background-image: url(../images/icon-delete_2x.png);
		background-size: 16px 16px;
	}
	#optionsframework .help-icon {
		background-image: url(../images/icon-help_2x.png);
		background-size: 16px 16px;
	}
	#optionsframework .inactive-icon {
		background-image: url(../images/icon-inactive_2x.png);
		background-size: 16px 16px;
	}
	#optionsframework .refresh-icon {
		background-image: url(../images/icon-refresh_2x.png);
		background-size: 16px 16px;
	}
	#optionsframework .remove-icon {
		background-image: url(../images/icon-remove_2x.png);
		background-size: 16px 16px;
	}
}

/* =Accordion
-----------------------------------------------*/

#optionsframework .accordion{
	border: 1px solid #dddddd;
	border-top: none;
}
#optionsframework .accordion .element .element-trigger{
	background-color: #f1f1f1; /* Fallback */
	background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
	background-image: linear-gradient(top, #f9f9f9, #ececec);
	border-top: 1px solid #dddddd;
	display: block;
	color: #666666;
	padding: 7px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #ffffff;
}
#optionsframework .accordion .element .element-trigger: hover{
	background: #f2f2f2;
}
#optionsframework .accordion .element .element-content{
	background: #ffffff;
	border-top: 1px solid #dddddd;
	height: 300px;
	overflow: auto;
	padding: 10px;
}
#optionsframework .accordion .element .element-content .note {
	border-top: none;
	font-size: 12px;
	margin-top: 5px;
	padding-top: 0;
}
#optionsframework .accordion .element input{
	width: inherit;
	margin: 0 5px 0 0;
}
#optionsframework .accordion .element input[type="text"]{
	margin: 0;width: 98%;
}
#optionsframework .accordion .element textarea{
	margin: 0;width: 98%;height: 150px;
}
#optionsframework .accordion .element li{
	list-style: none;
	padding: 0;
}
#optionsframework .accordion .element .warning{
	margin: 0;
}
#optionsframework .accordion .element .element-content ul {
	margin-top: 0;
}

/* =Framework UI Widgets (not WP widgets)
-----------------------------------------------*/

#optionsframework .widget {
	border: none;
}
#optionsframework .widget-name {
	background-image: -ms-linear-gradient(top,#F4F4F4,#E9E9E9);
	background-image: -moz-linear-gradient(top,#F4F4F4,#E9E9E9);
	background-image: -o-linear-gradient(top,#F4F4F4,#E9E9E9);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F4F4F4),to(#E9E9E9));
	background-image: -webkit-linear-gradient(top,#F4F4F4,#E9E9E9);
	background-image: linear-gradient(top,#F4F4F4,#E9E9E9);
	border: 1px solid #dfdfdf;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-khtml-border-top-right-radius: 3px;
	-khtml-border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	color: #464646;
	cursor: move;
	font-size: 13px;
	-moz-box-shadow: inset 0 1px 0 white;
	-webkit-box-shadow: inset 0 1px 0 white;
	box-shadow: inset 0 1px 0 white;
	text-shadow: white 0 1px 0;
	border-style: solid;
}
#optionsframework .widget-name-closed {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
#optionsframework .widget-name h3 {
	font-weight: normal;
	font-size: 15px;
	line-height: 34px;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
	padding: 0 10px;
}
#optionsframework .widget-name .widget-name-arrow {
	background: url(../images/arrows.png) 5px 9px no-repeat;
	border-left: 1px solid #dfdfdf;
	display: block;
	float: right;
	text-indent: -9999px;
	width: 26px;
	height: 34px;
}
#optionsframework .widget-name .widget-name-arrow: hover {
	background-position: 5px -26px;
}
#optionsframework .widget-name select,#slidersframework #edit_slider .widget-name select {
	float: right;
	width: 175px;
	margin: 4px 10px 0 0;
}
#optionsframework .widget-content {
	background-color: #fcfcfc;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-khtml-border-bottom-right-radius: 3px;
	-khtml-border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-color: #DFDFDF;
	border-style: none solid solid;
	border-width: 0 1px 1px;
}
#optionsframework .widget-content .pad {
	padding: 15px;
}
#optionsframework .widget-footer {
	padding: 5px 10px;
}
#optionsframework .widget-footer a,#optionsframework .widget-footer span {
	display: block;
	font-size: 11px;
	float: right;
	text-decoration: none;
}
#optionsframework .ui-sortable-placeholder {
	border: 2px dashed #cccccc;
	height: 50px!important;
	visibility: visible!important;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	#optionsframework .widget-name .widget-name-arrow{
		background-image: url(../images/arrows_2x.png);
		background-size: 15px 50px;
	}
}

/* =Framework Sidebar UI Widgets (not WP widgets)
-----------------------------------------------*/

#optionsframework .postbox .handlediv {
	background:url(../images/arrows.png) 5px 7px no-repeat;
}
#optionsframework .postbox .handlediv:hover {
	background-position:5px -28px;
}
@media 	only screen and (-webkit-min-device-pixel-ratio:1.5),
		only screen and (-moz-min-device-pixel-ratio:1.5),
		only screen and (-o-min-device-pixel-ratio:1.5),
		only screen and (min-device-pixel-ratio:1.5),
		only screen and (min-resolution:1.5dppx) {
	#optionsframework .postbox .handlediv {
		background-image:url(../images/arrows_2x.png);
		background-size:15px 50px;
	}
}

/* =Page Headers
-----------------------------------------------*/

#slider_blvd #icon-tb_sliders {
	background-image:url('../images/icons-32.png');
	background-position:-70px -4px;
}
#builder_blvd #icon-tb_builder {
	background-image:url('../images/icons-32.png');
	background-position:-8px -4px;
}
@media 	only screen and (-webkit-min-device-pixel-ratio:1.5),
		only screen and (-moz-min-device-pixel-ratio:1.5),
		only screen and (-o-min-device-pixel-ratio:1.5),
		only screen and (min-device-pixel-ratio:1.5),
		only screen and (min-resolution:1.5dppx) {
	#slider_blvd #icon-tb_sliders,
	#builder_blvd #icon-tb_builder {
		background-image:url('../images/icons-32_2x.png');
		background-size:120px 45px;
	}
}

/* =Confirmation prompt (Originally from Apprise plugin)
-----------------------------------------------*/

.appriseOverlay {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	display: none; z-index: 999;
}
.appriseOuter {
	background: #eee;
	border: 1px solid #fff;
	box-shadow: 0 3px 7px #333;
	-moz-box-shadow: 0 3px 7px #333;
	-webkit-box-shadow: 0 3px 7px #333;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	z-index: 99999999;
	min-width: 200px;
	min-height: 50px;
	max-width: 75%;
	position: fixed;
	display: none; width:350px;
}
.appriseInner {
	color: #333;
	text-shadow: 0 1px 0 #fff;
	padding: 20px;
}
.appriseInner button {
	border: 1px solid #bbb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-khtml-border-radius: 3px;
	background: 0;
	color: #232d3d;
	font-size: 12px;
	font-weight: 700;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	-webkit-box-shadow: 0 1px 2px #ccc;
	margin: 0 3px;
	padding: 4px 10px;
}
.appriseInner button:hover {
	color: #5b92d4;
}
.aButtons,.aInput {
	text-align: center;
	margin: 20px 10px 0;
}
.aTextbox {
	border: 1px solid #aaa;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 0 #fff;
	width: 180px;
	font-size: 12px;
	font-weight: 700;
	padding: 5px 10px;
}

/* =WordPress 3.8 (MP6)
-----------------------------------------------*/

.themeblvd-ui #optionsframework .conflict,
.themeblvd-ui #optionsframework .no-conflict {
	background: none;
	padding: 0;
}
.themeblvd-ui #optionsframework .conflict:before,
.themeblvd-ui #optionsframework .no-conflict:before {
	font-family: 'theme-blvd-admin';
	margin-right: 5px;
}
.themeblvd-ui #optionsframework .conflict:before {
	content: '\e804';
	color: #ee8a14;
}
.themeblvd-ui #optionsframework .no-conflict:before {
	content: '\e80e';
	color: #57da23;
}
.themeblvd-ui #optionsframework .ajax-overlay {
	background: #eeeeee;
}
.themeblvd-ui #optionsframework .widget-name {
	background: #ffffff;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.themeblvd-ui #optionsframework .widget-name h3 {
	margin: 0 !important;
}
.themeblvd-ui #optionsframework .widget-name .widget-name-arrow {
	border-left: none;
	-moz-transition-property: none;
	-moz-transition-duration: 0;
	-moz-transition-timing-function: none;
	-webkit-transition-property: none;
	-webkit-transition-duration: 0;
	-webkit-transition-timing-function: none;
	transition-property: none;
	transition-duration: 0;
	transition-timing-function: none;
}
.themeblvd-ui #optionsframework .widget-content {
	background: #ffffff;
}