/**
 * Custom Meta Box (Copied and modified from Options Framework)
 * Note: These styles may be redundant depending on if the Layout 
 * Builder plugin exists or not.
 */

.updated {
		max-width:inherit !important;
}
.tb-meta-box {
	margin-right: -10px;
	margin-left: -10px;
}
.tb-meta-box p {
	margin-bottom:0;
	padding-bottom:10px;
}
.tb-meta-box .note  {
	font-style: italic;
}
.tb-meta-box .section {
	border-bottom: 1px solid #dfdfdf;
	padding: 15px;
}
.tb-meta-box .section: last-of-type {
	border-bottom: none;
	padding-bottom: 40px;
}
.tb-meta-box .section .heading {
	font-size: 1.2em;
	margin: 0 0 7px;
	padding: 7px 5px;
}
.tb-meta-box .section-info .heading {
	font-size: 18px;
	margin: 0;
	padding: 5px;
}
.tb-meta-box .section-info p {
	color: #777777;
	margin:  0 0 10px 0;
	padding: 0 5px;
}
.tb-meta-box .section .controls {
	float: left;
	min-width: 250px;
	width: 54%;
	padding-right: 2%;
}
.tb-meta-box .section .explain {
	width: 38%;
	min-width: 250px;
	float: left;
	font-size: 12px;
	line-height: 16px;
	color: #777;
}
.tb-meta-box .section-checkbox .controls {
	min-width: 25px;
	width: 25px;
}
.tb-meta-box .section-checkbox .explain {
	max-width: 93%;
}
.tb-meta-box .section-color .controls {
	min-width: 125px;
	width: 125px;
}
.tb-meta-box .controls input,.tb-meta-box .controls select,.tb-meta-box .controls textarea {
	margin-bottom: 10px;
	width: 100%;
}
.tb-meta-box .section-radio label,.tb-meta-box .section-multicheck label {
	float: left;
}
.tb-meta-box input.checkbox,.tb-meta-box input.of-radio {
	width: 30px;
	float: left;
	clear: both;
}
.tb-meta-box .controls .of-color {
	float: left;
	width: 80px;
	margin-left: 5px;
	margin-right: 5px;
}
.tb-meta-box .controls .of-radio-img-img {
	border: 3px solid #f9f9f9;
	display: none;
	cursor: pointer;
	float: left;
	margin: 0 5px 10px 0;
}
.tb-meta-box .controls .of-radio-img-selected {
	border: 3px solid #ccc;
}
.tb-meta-box .controls .of-radio-img-img: hover {
	opacity: .8;
}
.tb-meta-box .controls .of-border-width {
	width: 80px;
	float: left;
}
.tb-meta-box .controls .of-border-style {
	width: 120px;
	float: left;
}
.tb-meta-box .hide {
	display: none;
}
.tb-meta-box .of-option-image {
	max-width: 340px;
	margin: 3px 0 18px;
}
.tb-meta-box .mini .controls select,.tb-meta-box .section .mini .controls {
	width: 140px;
}
.tb-meta-box .mini .controls input,.tb-meta-box .mini .controls {
	min-width: 140px;
	width: 140px;
}
.tb-meta-box .mini .explain {
	max-width: 74%;
}

/* =WordPress 3.8 (MP6)
-----------------------------------------------*/

/* Theme Options Page Basics */
.branch-3-8 .tb-meta-box .section {
	border-bottom-color: #eeeeee;
}
.branch-3-8 .tb-meta-box .section:last-child {
	border-bottom: none;
}
.branch-3-8 .tb-meta-box .section-description {
	border-bottom-color: #eeeeee;
	font-family: inherit;
	font-size: inherit;
}
.branch-3-8 .tb-meta-box .section .heading {
	font-size: 1.1em;
	margin: 10px 2px;
	padding: 0;
}
.branch-3-8 .tb-meta-box .section .explain {
	color: #666666;
	font-size: inherit;
	line-height: 18px;
}
.branch-3-8 .themeblvd-updated,
.branch-3-8 .themeblvd-error {
	width: 752px;
}

/* Options */
.branch-3-8 .tb-meta-box .section-radio label,
.branch-3-8 .tb-meta-box .section-multicheck label {
	font-size: 14px;
	line-height: 1.2em;
}
.branch-3-8 .tb-meta-box input.checkbox,
.branch-3-8 .tb-meta-box input.of-radio {
	margin-top: 0;
	width: auto;
}
.branch-3-8 .tb-meta-box .section-multicheck label,
.branch-3-8 .tb-meta-box .section-multicheck input.checkbox {
	margin-top: 4px;
}
.branch-3-8 .tb-meta-box .column-content-type-raw input.checkbox {
	margin-top: -1px;
}
.branch-3-8 .tb-meta-box .radio-input {
	margin: 3.5px 0 7px 0;
	padding: 0;
}
.branch-3-8 .tb-meta-box .screenshot .remove-image {
	background-image: none;
	position: absolute;
	color: #d54e21;
	left: -10px;
	bottom: 3px;
	text-indent: 0;
	width: 24px;
	height: 24px;
}
.branch-3-8 .tb-meta-box .screenshot .remove-image:hover {
	color: #ff4000;
}
.branch-3-8 .tb-meta-box .screenshot .remove-image:before {
	/* content: '\f153'; */
	content: '\f158';
	font-family: 'dashicons';
	font-size: 24px;
	line-height: 1em;
}