/* =OptionsFramework Admin Styles
-----------------------------------------------*/

.themeblvd-updated,
.themeblvd-error {
	max-width: 764px;
	margin-bottom: 0!important;
}
#optionsframework {
	position: relative;
	z-index: 0;
	max-width: 780px;
	background: #fff;
}
#optionsframework p {
	margin-bottom: 0;
	padding-bottom: 10px;
}
#optionsframework .postbox h3 {
	cursor: inherit;
}
#optionsframework .section {
	border-bottom: 1px solid #dfdfdf;
	padding: 15px;
}
#optionsframework .section-description {
	border-bottom: 1px solid #dfdfdf;
	color: #888888;
	font-family: Georgia,"Times New Roman",Times,serif;font-size: 12px;
	font-style: italic;
	line-height: 1.5em;
	padding: 15px;
}
#optionsframework .group .section: last-of-type {
	padding-bottom: 40px;
}
#optionsframework .section .heading {
	font-size: 1.1em;
	margin: 0 0 15px 0;
	padding: 10px 5px;
}
#optionsframework .section-info {
	color: #888888;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 12px;
	font-style: italic;
	line-height: 1.5em;
	padding: 15px;
}
#optionsframework .section-info p {
	margin: 5px 0 0;
	padding: 0 5px;
}
#optionsframework .section .controls {
	float: left;
	min-width: 350px;
	width: 54%;
	padding-right: 2%;
}
#optionsframework .section .explain {
	max-width: 38%;
	float: left;
	font-size: 12px;
	line-height: 16px;
	color: #777;
}
#optionsframework .section-description .controls {
	display: none;
}
#optionsframework .section-description .explain {
	max-width: inherit;
	width: 100%;
}
#optionsframework .section-checkbox .controls {
	min-width: 25px;
	width: 25px;
}
#optionsframework .section-checkbox .explain {
	max-width: 93%;
}
#optionsframework .section-color .controls {
	min-width: 125px;
}
#optionsframework .controls input[type="text"],
#optionsframework .controls textarea {
	-webkit-box-shadow: 0 0 4px #eeeeee;
	box-shadow: 0 0 4px #eeeeee;
	margin-bottom: 10px;
	outline: 0;
	width: 100%;
}
#optionsframework .controls select {
	width: 100%;
}
#optionsframework .controls textarea {
	line-height: 150%;
}
#optionsframework .radio-input {
	padding: 2px 0;
}
#optionsframework .section-radio label,
#optionsframework .section-multicheck label {
	float: left;
	line-height: 15px;
	display: block;
}
#optionsframework input.checkbox,
#optionsframework input.of-radio {
	float: left;
	clear: both;
	vertical-align: middle;
	width: 25px;
}
#optionsframework .controls .of-color {
	float: left;
	width: 80px !important;
	margin-left: 5px;
	margin-right: 5px;
}
#optionsframework .of-background-properties {
	clear: both;
	margin-top: 18px;
}
#optionsframework div.section-background .controls input.upload {
	width: 47%;
}
#optionsframework .controls .of-radio-img-img {
	border: 3px solid #f9f9f9;
	cursor: pointer;
	display: none;
	float: left;
	margin: 0 5px 10px 0;
}
#optionsframework .controls .of-radio-img-selected {
	border: 3px solid #ccc;
}
#optionsframework .controls .of-radio-img-img: hover {
	opacity: .8;
}
#optionsframework .controls .of-border-width {
	width: 80px;
	float: left;
}
#optionsframework .controls .of-border-style {
	width: 120px;
	float: left;
}
#optionsframework .hide {
	display: none;
}
#optionsframework .of-option-image {
	max-width: 340px;
	margin: 3px 0 18px;
}
#optionsframework .mini .controls select,
#optionsframework .section .mini .controls {
	width: 140px;
}
#optionsframework .mini .controls input,
#optionsframework .mini .controls {
	min-width: 140px;
	width: 140px;
}
#optionsframework .mini .explain {
	max-width: 74%;
}
#optionsframework .controls .of-background-repeat,
#optionsframework .controls .of-background-position,
#optionsframework .controls .of-background-attachment {
	width: 125px;
	margin-right: 5px;
	float: left;
}
#optionsframework .tb-footer-text {
	background-color: #f8f8f8;
	border: 1px solid #f2f2f2;
	border-top: none;
	color: #999999;
	font-style: italic;
	padding: 10px;
}
#optionsframework .tb-footer-text i {
	font-size: 15px;
}
#optionsframework .tb-footer-text .tb-update-log {
	text-decoration: none;
}

/* Image Uploader */
#optionsframework .controls input.upload {
	width: 79%;
}
#optionsframework .controls input.upload-button,
#optionsframework .controls input.remove-file  {
	border-color: #BBBBBB;
	float: right;
	width: auto;
}
#optionsframework .controls input.upload-button: hover,
#optionsframework .controls input.remove-file: hover  {
	border-color: #666666;
	color: #000;
}
#optionsframework .section-upload .section-upload.image-standard input.image-url  {
	width: 58%;
}
#optionsframework .section-upload .section-upload.image-standard input.image-width  {
	width: 15%;
}
#optionsframework .screenshot {
	float: left;
	margin-left: 1px;
	position: relative;
	width: 344px;
	margin-top: 3px;
}
#optionsframework .screenshot img {
	background: #FAFAFA;
	float: left;
	max-width: 334px;
	margin-bottom: 10px;
	border-color: #ccc #eee #eee #ccc;
	border-style: solid;
	border-width: 1px;
	padding: 4px;
}
#optionsframework .screenshot .remove-image {
	background: url(../../assets/images/icon-remove.png) no-repeat;border: medium none;bottom: 4px;cursor: pointer;display: block;float: left;height: 16px;position: absolute;left: -4px;text-indent: -9999px;width: 16px;padding: 0;
}
#optionsframework .screenshot .no_image .file_link {
	margin-left: 20px;
}
#optionsframework .screenshot .no_image .remove-image {
	bottom: 0;
}
#optionsframework .reset-button {
	margin-right: 10px;
	float: left;
	cursor: pointer;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	#optionsframework .screenshot .remove-image {
		background-image:url(../../assets/images/icon-remove_2x.png);
		background-size:16px 16px;
	}
}

/* Image Uploader (legacy) */
#optionsframework .controls input.upload_button{float:right;width:64px;cursor:pointer;border-color:#BBBBBB;}
#optionsframework .controls input.upload_button:hover{color:#000;border-color:#666666;}
#optionsframework .screenshot .mlu_remove{background:url(../../assets/images/icon-remove.png) no-repeat;border:medium none;bottom:4px;display:block;float:left;height:16px;position:absolute;left:-4px;text-indent:-9999px;width:16px;padding:0;}
#optionsframework .screenshot .no_image .mlu_remove{bottom:0;}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	#optionsframework .screenshot .mlu_remove{
		background-image:url(../../assets/images/icon-remove_2x.png);
		background-size:16px 16px;
	}
}

/* Modal Window */
.tb-modal-hide-settings .attachment-details label.setting {
	display: none;
}

/* WP Editor */
#optionsframework .section-editor .controls {
	float: none;
	max-width: none;
	padding: 0;
	width: auto;
}
#optionsframework .section-editor .explain {
	float: none;
	padding: 0 5px;
	width: auto;
}
#optionsframework .section-editor .desc-after.has-desc .explain {
	padding-top: 10px;
}
#optionsframework .section-editor .wp-editor-container{
	background-color: #ffffff;
}
#optionsframework .section-editor .quicktags-toolbar input {
	width: auto;
}
#optionsframework .section-editor .controls textarea {
	margin: 0;
}
#optionsframework .section-editor .height-small .wp_themeSkin iframe {
	height: 150px !important;
}
#optionsframework .section-editor .height-medium .wp_themeSkin iframe {
	height: 250px !important;
}
#optionsframework .section-editor .height-large .wp_themeSkin iframe {
	height: 340px !important;
}
#optionsframework .section-editor .height-small textarea {
	height: 150px;
}
#optionsframework .section-editor .height-medium textarea {
	height: 250px;
}
#optionsframework .section-editor .height-large textarea {
	height: 340px;
}

/* Bottom Section */
#optionsframework-submit {
	border-top: 1px solid #ECECEC;
	background-color: #F1F1F1;
	background-image: 0;
	padding: 7px 10px;
}
#optionsframework .button-primary {
	float: right;
}

/* Google Font (addon to typography) */
#optionsframework .google-font {
	background: #ffffff;
	border: 1px solid #dddddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
}
#optionsframework .google-font .wrap {
	margin: 0;
}
#optionsframework .google-font h5 {
	font-size: 12px;
	margin: 4px 4px 10px 4px;
}
#optionsframework .google-font input {
	margin-bottom: 5px;
}
#optionsframework .google-font .note {
	margin: 0;
}

/* Fancy Selects */
#optionsframework .tb-fancy-select  {
	background: url(../../assets/images/fancy-select_2x.png) repeat-x;
	background-size: 7px 32px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 0 4px #eeeeee;
	-webkit-box-shadow: 0 0 4px #eeeeee;
	box-shadow: 0 0 4px #eeeeee;
	margin-bottom: 10px;
	position: relative;
}
#optionsframework .tb-fancy-select select  {
	margin-bottom: 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	position: relative;
	height: 33px;
	z-index: 2;
}
#optionsframework .tb-fancy-select .textbox  {
	border: 1px solid #dfdfdf;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #666666;
	display: block;
	line-height: 33px;
	padding: 0 10px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
#optionsframework .tb-fancy-select .trigger  {
	background: url(../../assets/images/fancy-select-trigger_2x.png) no-repeat;
	background-size: 25px 33px;
	border-left: 1px solid #dfdfdf;
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 33px;
}

/* =WordPress 3.8 (MP6)
-----------------------------------------------*/

/* Theme Options Page Basics */
.themeblvd-ui #optionsframework {
	background: transparent;
}
.themeblvd-ui #optionsframework .section {
	border-bottom-color: #eeeeee;
}
.themeblvd-ui #optionsframework .section-description {
	border-bottom-color: #eeeeee;
	font-family: inherit;
	font-size: inherit;
}
.themeblvd-ui #optionsframework .section .heading {
	margin: 10px 2px;
	padding: 0;
}
.themeblvd-ui #optionsframework .section .explain {
	color: #666666;
	font-size: inherit;
	line-height: 18px;
}
.themeblvd-ui .themeblvd-updated,
.themeblvd-ui .themeblvd-error {
	width: 752px;
}
.themeblvd-ui #optionsframework .note code,
.themeblvd-ui #optionsframework .widefat code {
	padding: 0;
}

/* Theme Options Footer */
.themeblvd-ui #optionsframework-submit.options-page-footer {
	background: #ffffff;
	border: 1px solid #dedede;
}
.themeblvd-ui #optionsframework .tb-footer-text {
	border: 1px solid #dedede;
	border-top: none;
}

/* General Options Footer */
.themeblvd-ui #optionsframework-submit {
	background: transparent;
	border-top: none;
}

/* Options */
.themeblvd-ui #optionsframework .section-radio label,
.themeblvd-ui #optionsframework .section-multicheck label {
	font-size: 14px;
	line-height: 1.2em;
	max-width: 330px;
}
.themeblvd-ui #optionsframework input.checkbox,
.themeblvd-ui #optionsframework input.of-radio {
	margin-top: 0;
	width: auto;
}
.themeblvd-ui #optionsframework .section-multicheck label,
.themeblvd-ui #optionsframework .section-multicheck input.checkbox {
	margin-top: 4px;
}
.themeblvd-ui #optionsframework .column-content-type-raw input.checkbox {
	margin-top: -1px;
}
.themeblvd-ui #optionsframework .radio-input {
	margin: 3.5px 0 7px 0;
	padding: 0;
}
.themeblvd-ui #optionsframework .section-checkbox .controls {
	padding-right: 0;
}
.themeblvd-ui #optionsframework .screenshot .remove-image {
	background-image: none;
	position: absolute;
	color: #d54e21;
	left: -10px;
	bottom: 3px;
	text-indent: 0;
	width: 24px;
	height: 24px;
}
.themeblvd-ui #optionsframework .screenshot .remove-image:hover {
	color: #ff4000;
}
.themeblvd-ui #optionsframework .screenshot .remove-image:before {
	/* content: '\f153'; */
	content: '\f158';
	font-family: 'dashicons';
	font-size: 24px;
	line-height: 1em;
}

/* Elements */
.themeblvd-ui #optionsframework .accordion .element .element-trigger {
	background: #ffffff;
	text-shadow: none;
}
.themeblvd-ui #optionsframework .accordion .element .element-trigger.active,
.themeblvd-ui #optionsframework .accordion .element .element-trigger:hover {
	background: #f2f2f2;
}

/* Tables */
.themeblvd-ui #optionsframework .widefat tr:nth-child(odd) {
	background: #f9f9f9;
}