/* =Framework
----------------------------------------------- */

/* Dark version of framework styles */
@import url('../../framework/assets/css/themeblvd-dark.min.css');

/* =Layout Boxes
----------------------------------------------- */

.boxed-layout .boxed-inner,
.boxed-layout .element-inner,
.post_grid,
article,
#comments .comment-body,
#respond,
.standard-slider-wrapper .slides-wrapper,
.tb-nivo-slider-wrapper .slides-wrapper {
	background-color: #313131;
	border-color: #1e1e1e;
}

/* =Global Elements and Typography
----------------------------------------------- */

body {
	color: #f2f2f2;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	color: #ffffff;
	text-shadow: 1px 1px 0 #000000;
}
.alert h1,
.alert h2,
.alert h3,
.alert h4,
.alert h5,
.alert h6,
.panel-heading h3 {
	text-shadow: none;
}
.header-shade {
	display: none;
}

/* =Content
----------------------------------------------- */

.entry-title,
.entry-title a {
	color: #ffffff;
}
.thumbnail,
.pretty,
.wp-caption {
	background-color: transparent;
 	border-color: #1e1e1e;
	-webkit-box-shadow: 0 1px 1px #1e1e1e;
	-moz-box-shadow: 0 1px 1px #1e1e1e;
	box-shadow: 0 1px 1px #1e1e1e;
}
#wrapper .gallery a img {
    background: transparent;
    border-color: #1e1e1e;
}

/* =Single Posts and Post List
----------------------------------------------- */

.single-post .entry-title,
.single-post .entry-title a,
.post_list .entry-title,
.post_list .entry-title a {
	color: #ffffff;
}
.comment-bubble {
	background-image: url(../images/layout/style/dark/comment.png);
	text-shadow: 1px 1px 0 #000000;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.comment-bubble {
		background-image: url(../images/layout/style/dark/comment_2x.png);
		background-size: 30px 30px;
	}
}
.comment-bubble a,
.comment-bubble a:hover,
.comment-bubble a:focus {
	color: #ffffff;
}
.entry-meta {
	color: #eeeeee;
}
.entry-meta .sep {
	color: #cccccc;
}

/* =Comments
----------------------------------------------- */

#comments .comment-body .comment-meta a {
	color: #9e9e9e;
}
#comments ul.children {
	border-left-color: #000000;
}

/* =Header
----------------------------------------------- */

/* Menu Search */
#main-menu .search-popup {
	background-image: url(../images/layout/style/dark/search-popup.png);
}
#main-menu .search-popup form {
	background-image: url(../images/layout/style/dark/search-popup-field.png);
}
#main-menu .search-popup .submit {
    background-image: url(../images/layout/style/dark/search-popup-submit.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	#main-menu .search-popup {
		background-image: url(../images/layout/style/dark/search-popup_2x.png);
		background-size: 304px 87px;
	}
	#main-menu .search-popup form {
		background-image: url(../images/layout/style/dark/search-popup-field_2x.png);
		background-size: 252px 35px;
	}
	#main-menu .search-popup .submit {
    	background-image: url(../images/layout/style/dark/search-popup-submit_2x.png);
    	background-size: 16px 17px;
	}
}

/* =Main
----------------------------------------------- */

/* Breadcrumbs */
.breadcrumb .divider {
	color: #cccccc;
}
.breadcrumb a {
	color: #eeeeee;
}
.breadcrumb .current {
	color: #ffffff;
}
.breadcrumb .home-link {
	background-image: url(../images/layout/style/dark/home.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.breadcrumb .home-link {
		background-image: url(../images/layout/style/dark/home_2x.png);
		background-size: 10px 10px;
	}
}

/* =Widgets
----------------------------------------------- */

/* Fixed Sidebar */
.fixed-sidebar .widget ul {
	border-top-color: #000000;
}
.fixed-sidebar .widget ul li {
	border-bottom-color: #000000;
}
.fixed-sidebar .widget ul li a:hover,
.fixed-sidebar .widget ul li a:focus {
	background-color: #191919;
}
.sidebar_right .right-sidebar .fixed-sidebar-inner,
.double_sidebar_right .left-sidebar .fixed-sidebar-inner,
.double_sidebar .right-sidebar .fixed-sidebar-inner {
	background-image: url(../images/layout/style/dark/sidebar-right.png);
}
.sidebar_right .right-sidebar .fixed-sidebar-inner:before,
.double_sidebar_right .left-sidebar .fixed-sidebar-inner:before,
.double_sidebar .right-sidebar .fixed-sidebar-inner:before {
	content: "";
	background-image: url(../images/layout/style/dark/sidebar-right-top.png);
}
.sidebar_right .right-sidebar .fixed-sidebar-inner:after,
.double_sidebar_right .left-sidebar .fixed-sidebar-inner:after,
.double_sidebar .right-sidebar .fixed-sidebar-inner:after {
	content: "";
	background-image: url(../images/layout/style/dark/sidebar-right-bottom.png);
}
.sidebar_left .left-sidebar .fixed-sidebar-inner,
.double_sidebar_left .right-sidebar .fixed-sidebar-inner,
.double_sidebar .left-sidebar .fixed-sidebar-inner {
	background-image: url(../images/layout/style/dark/sidebar-left.png);
}
.sidebar_left .left-sidebar .fixed-sidebar-inner:before,
.double_sidebar_left .right-sidebar .fixed-sidebar-inner:before,
.double_sidebar .left-sidebar .fixed-sidebar-inner:before {
	content: "";
	background-image: url(../images/layout/style/dark/sidebar-left-top.png);
}
.sidebar_left .left-sidebar .fixed-sidebar-inner:after,
.double_sidebar_left .right-sidebar .fixed-sidebar-inner:after,
.double_sidebar .left-sidebar .fixed-sidebar-inner:after{
	content: "";
	background-image: url(../images/layout/style/dark/sidebar-left-bottom.png);
}

/* TB Horizontal menu widget */
.subnav {
	border-color: #000000;
}
.subnav ul.nav > li > a,
.subnav ul.nav > li.nav-header > span {
	border-right-color: #000000;
}

/* Standard Custom Menu Widget */
.fixed-sidebar .widget_nav_menu div[class^="menu-"] {
	border-color: #000000;
}

/* =Footer
----------------------------------------------- */

/* Primary Footer Content */
#bottom #footer_content {
	background-color: #1f1f1f;
	border-color: #343434;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
}

/* Copyright */
#footer_sub_content .copyright .menu li a {
	color: #f2f2f2;
}

/* =Builder
----------------------------------------------- */

.lead-link {
	color: #f2f2f2;
}

/* Slogan */
.element-slogan .element-inner-wrap {
	background-image: url(../images/layout/style/dark/divider.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.element-slogan .element-inner-wrap {
		background-image: url(../images/layout/style/dark/divider_2x.png);
		background-size: 914px 22px;
	}
}
.tb-slogan {
	color: #ffffff;
	text-shadow: 1px 1px 0 #000000;
}

/* Divider */
.divider-dashed,
.divider-solid {
	border-color: #000000;
}

/* Standard Sliders */
.standard-slider .slide .media-inner {
	background-color: transparent;
    border-color: #1e1e1e;
}

/* Slider Navigation - Control */
.standard-slider-wrapper .flex-control-nav li a,
.tb-nivo-slider-wrapper .nivo-controlNav a {
	background-image: url(../images/layout/style/dark/slider-nav.png);
}

/* Slider Navigation - Directional */
.standard-slider-wrapper .flex-direction-nav li a,
.tb-nivo-slider-wrapper .nivo-directionNav a {
	background-image: url(../images/layout/style/dark/slider-arrows.png);
}

@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.standard-slider-wrapper .flex-control-nav li a,
	.tb-nivo-slider-wrapper .nivo-controlNav a {
		background-image: url(../images/layout/style/dark/slider-nav_2x.png);
		background-size: 24px 12px;
	}
	.standard-slider-wrapper .flex-direction-nav li a,
	.tb-nivo-slider-wrapper .nivo-directionNav a {
		background-image: url(../images/layout/style/dark/slider-arrows_2x.png);
		background-size: 44px 88px;
	}
}

/* =WPML Bridge
----------------------------------------------- */

.header-addon-with-wpml .tb-wpml-flaglist {
	background-color: #222222;
	border-color: #000000;
}
#wrapper #main-menu .tb-wpml-flaglist {
	background-color: #222222;
	border-color: #000000;
}