/* =General Menu Styles
----------------------------------------------- */

#main-menu .sf-menu li a {
	font-family: Arial, Helevtica, Verdana, san-serif;
}
#main-menu .sf-menu li li a {
	margin: 0 8px;
	padding: 13px 12px 11px 12px;
}
#main-menu .sf-menu li li a:hover {
	background-image: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#main-menu .sf-menu ul {
	border-style: solid;
	border-width: 1px;
	border-top-width: 0;
	padding: 8px 0;
	width: 230px;
}
#main-menu .sf-menu ul ul {
	border-top-width: 1px;
	margin: 0;
}
#main-menu ul.sf-menu-with-fontawesome ul .sf-sub-indicator {
	top: 12px;
}

/* =Flip Over Menu
----------------------------------------------- */

/* FLIP OVER GENERAL */
.flip-menu {
	margin: -57px 13px 0 13px;
	position: relative;
	z-index: 999;
}
.flip-menu .menu-left {
	background-position: 0 0;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 17px;
	height: 57px;
}
.flip-menu .menu-right {
	background-position: 0 -114px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	width: 17px;
	height: 57px;
}
.flip-menu .menu-middle {
	background-position: 0 -57px;
	background-repeat: repeat-x;
	height: 57px;
	margin: 0 17px;
}
.flip-menu .sf-menu li {
	float: left;
}
.flip-menu .sf-menu li li {
	float: none;
}
.flip-menu .sf-menu li a {
	display: block;
	font-size: 11px;
	letter-spacing: 1px;
	line-height: 100%;
	padding: 20px 15px 17px 15px;
	text-decoration: none;
	text-transform: uppercase;
}
.flip-menu .sf-menu > li > a:hover {
	background-position: 0 -171px;
	background-repeat: repeat-x;
}
.flip-menu .sf-menu li li a {
	margin: 0 8px;
	padding: 13px 12px 11px 12px;
}
.flip-menu .sf-menu ul {
	margin: 1px 0 0 0;
}

/* FLIP OVER BLACK */
.flip-black .menu-left,
.flip-black .menu-right,
.flip-black .menu-middle,
.flip-black .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-flip-black.png);
}
.flip-black #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-black.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.flip-black .menu-left,
	.flip-black .menu-right,
	.flip-black .menu-middle,
	.flip-black .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-flip-black_2x.png);
		background-size: 17px 228px;
	}
	.flip-black #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-black_2x.png);
		background-size: 30px 60px;
	}
}
.flip-black .sf-menu > li > a,
.flip-black span.responsive-nav-text {
	color: #eaeaea;
	text-shadow: #000000 1px 1px 1px;
}
.flip-black .sf-menu ul {
	background-color: #121212;
	border-color: #000000;
}
.flip-black .sf-menu li li a {
	color: #ffffff;
}
.flip-black .sf-menu li li a:hover {
	background-color: #1e1e1e;
}

/* FLIP OVER BLUE */
.flip-blue .menu-left,
.flip-blue .menu-right,
.flip-blue .menu-middle,
.flip-blue .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-flip-blue.png);
}
.flip-blue #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-blue.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.flip-blue .menu-left,
	.flip-blue .menu-right,
	.flip-blue .menu-middle,
	.flip-blue .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-flip-blue_2x.png);
		background-size: 17px 228px;
	}
	.flip-blue #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-blue_2x.png);
		background-size: 30px 60px;
	}
}
.flip-blue .sf-menu > li > a,
.flip-blue span.responsive-nav-text {
	color: #eaeaea;
	text-shadow: #000000 1px 1px 1px;
}
.flip-blue .sf-menu ul {
	background-color: #0d306f;
	border-color: #081f49;
}
.flip-blue .sf-menu li li a {
	color: #ffffff;
}
.flip-blue .sf-menu li li a:hover {
	background-color: #0f3b8b;
}

/* FLIP OVER BROWN */
.flip-brown .menu-left,
.flip-brown .menu-right,
.flip-brown .menu-middle,
.flip-brown .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-flip-brown.png);
}
.flip-brown #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-brown.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.flip-brown .menu-left,
	.flip-brown .menu-right,
	.flip-brown .menu-middle,
	.flip-brown .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-flip-brown_2x.png);
		background-size: 17px 228px;
	}
	.flip-brown #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-brown_2x.png);
		background-size: 30px 60px;
	}
}
.flip-brown .sf-menu > li > a,
.flip-brown span.responsive-nav-text {
	color: #eaeaea;
	text-shadow: #000000 1px 1px 1px;
}
.flip-brown .sf-menu ul {
	background-color: #37261c;
	border-color: #160e09;
}
.flip-brown .sf-menu li li a {
	color: #ffffff;
}
.flip-brown .sf-menu li li a:hover {
	background-color: #493225;
}

/* FLIP OVER DARK PURPLE */
.flip-dark_purple .menu-left,
.flip-dark_purple .menu-right,
.flip-dark_purple .menu-middle,
.flip-dark_purple .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-flip-dark_purple.png);
}
.flip-dark_purple #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-dark_purple.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.flip-dark_purple .menu-left,
	.flip-dark_purple .menu-right,
	.flip-dark_purple .menu-middle,
	.flip-dark_purple .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-flip-dark_purple_2x.png);
		background-size: 17px 228px;
	}
	.flip-dark_purple #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-dark_purple_2x.png);
		background-size: 30px 60px;
	}
}
.flip-dark_purple .sf-menu > li > a,
.flip-dark_purple span.responsive-nav-text {
	color: #eaeaea;
	text-shadow: #000000 1px 1px 1px;
}
.flip-dark_purple .sf-menu ul {
	background-color: #130323;
	border-color: #05010a;
}
.flip-dark_purple .sf-menu li li a {
	color: #ffffff;
}
.flip-dark_purple .sf-menu li li a:hover {
	background-color: #1f0538;
}

/* FLIP OVER DARK */
.flip-dark .menu-left,
.flip-dark .menu-right,
.flip-dark .menu-middle,
.flip-dark .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-flip-dark.png);
}
.flip-dark #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-dark.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.flip-dark .menu-left,
	.flip-dark .menu-right,
	.flip-dark .menu-middle,
	.flip-dark .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-flip-dark_2x.png);
		background-size: 17px 228px;
	}
	.flip-dark #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-dark_2x.png);
		background-size: 30px 60px;
	}
}
.flip-dark .sf-menu > li > a,
.flip-dark span.responsive-nav-text {
	color: #eaeaea;
	text-shadow: #000000 1px 1px 1px;
}
.flip-dark .sf-menu ul {
	background-color: #282828;
	border-color: #000000;
}
.flip-dark .sf-menu li li a {
	color: #ffffff;
}
.flip-dark .sf-menu li li a:hover {
	background-color: #313131;
}

/* FLIP OVER GREEN */
.flip-green .menu-left,
.flip-green .menu-right,
.flip-green .menu-middle,
.flip-green .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-flip-green.png);
}
.flip-green #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-green.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.flip-green .menu-left,
	.flip-green .menu-right,
	.flip-green .menu-middle,
	.flip-green .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-flip-green_2x.png);
		background-size: 17px 228px;
	}
	.flip-green #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-green_2x.png);
		background-size: 30px 60px;
	}
}
.flip-green .sf-menu > li > a,
.flip-green span.responsive-nav-text {
	color: #eaeaea;
	text-shadow: #000000 1px 1px 1px;
}
.flip-green .sf-menu ul {
	background-color: #254306;
	border-color: #1a2f04;
}
.flip-green .sf-menu li li a {
	color: #ffffff;
}
.flip-green .sf-menu li li a:hover {
	background-color: #2e5209;
}

/* FLIP OVER LIGHT BLUE */
.flip-light_blue .menu-left,
.flip-light_blue .menu-right,
.flip-light_blue .menu-middle,
.flip-light_blue .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-flip-light_blue.png);
}
.flip-light_blue #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-light_blue.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.flip-light_blue .menu-left,
	.flip-light_blue .menu-right,
	.flip-light_blue .menu-middle,
	.flip-light_blue .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-flip-light_blue_2x.png);
		background-size: 17px 228px;
	}
	.flip-light_blue #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-light_blue_2x.png);
		background-size: 30px 60px;
	}
}
.flip-light_blue .sf-menu > li > a,
.flip-light_blue span.responsive-nav-text {
	color: #eaeaea;
	text-shadow: #000000 1px 1px 1px;
}
.flip-light_blue .sf-menu ul {
	background-color: #577f98;
	border-color: #3a5769;
}
.flip-light_blue .sf-menu li li a {
	color: #ffffff;
}
.flip-light_blue .sf-menu li li a:hover {
	background-color: #6a99b6;
}

/* FLIP OVER LIGHT */
.flip-light .menu-left,
.flip-light .menu-right,
.flip-light .menu-middle,
.flip-light .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-flip-light.png);
}
.flip-light #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-light.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.flip-light .menu-left,
	.flip-light .menu-right,
	.flip-light .menu-middle,
	.flip-light .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-flip-light_2x.png);
		background-size: 17px 228px;
	}
	.flip-light #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-light_2x.png);
		background-size: 30px 60px;
	}
}
.flip-light .sf-menu > li > a,
.flip-light span.responsive-nav-text {
	color: #666666;
}
.flip-light .sf-menu ul {
	background-color: #e5e5e5;
	border-color: #cccccc;
}
.flip-light .sf-menu li li a {
	color: #666666;
}
.flip-light .sf-menu li li a:hover {
	background-color: #eeeeee;
}

/* FLIP OVER NAVY */
.flip-navy .menu-left,
.flip-navy .menu-right,
.flip-navy .menu-middle,
.flip-navy .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-flip-navy.png);
}
.flip-navy #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-navy.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.flip-navy .menu-left,
	.flip-navy .menu-right,
	.flip-navy .menu-middle,
	.flip-navy .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-flip-navy_2x.png);
		background-size: 17px 228px;
	}
	.flip-navy #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-navy_2x.png);
		background-size: 30px 60px;
	}
}
.flip-navy .sf-menu > li > a,
.flip-navy span.responsive-nav-text {
	color: #eaeaea;
	text-shadow: #000000 1px 1px 1px;
}
.flip-navy .sf-menu ul {
	background-color: #030b23;
	border-color: #010309;
}
.flip-navy .sf-menu li li a {
	color: #ffffff;
}
.flip-navy .sf-menu li li a:hover {
	background-color: #071645;
}

/* FLIP OVER ORANGE */
.flip-orange .menu-left,
.flip-orange .menu-right,
.flip-orange .menu-middle,
.flip-orange .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-flip-orange.png);
}
.flip-orange #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-orange.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.flip-orange .menu-left,
	.flip-orange .menu-right,
	.flip-orange .menu-middle,
	.flip-orange .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-flip-orange_2x.png);
		background-size: 17px 228px;
	}
	.flip-orange #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-orange_2x.png);
		background-size: 30px 60px;
	}
}
.flip-orange .sf-menu > li > a,
.flip-orange span.responsive-nav-text {
	color: #eaeaea;
	text-shadow: #000000 1px 1px 1px;
}
.flip-orange .sf-menu ul {
	background-color: #67250b;
	border-color: #401707;
}
.flip-orange .sf-menu li li a {
	color: #ffffff;
}
.flip-orange .sf-menu li li a:hover {
	background-color: #843110;
}

/* FLIP OVER PINK */
.flip-pink .menu-left,
.flip-pink .menu-right,
.flip-pink .menu-middle,
.flip-pink .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-flip-pink.png);
}
.flip-pink #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-pink.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.flip-pink .menu-left,
	.flip-pink .menu-right,
	.flip-pink .menu-middle,
	.flip-pink .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-flip-pink_2x.png);
		background-size: 17px 228px;
	}
	.flip-pink #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-pink_2x.png);
		background-size: 30px 60px;
	}
}
.flip-pink .sf-menu > li > a,
.flip-pink span.responsive-nav-text {
	color: #eaeaea;
	text-shadow: #000000 1px 1px 1px;
}
.flip-pink .sf-menu ul {
	background-color: #7a0951;
	border-color: #47062f;
}
.flip-pink .sf-menu li li a {
	color: #ffffff;
}
.flip-pink .sf-menu li li a:hover {
	background-color: #a10f6c;
}

/* FLIP OVER PURPLE */
.flip-purple .menu-left,
.flip-purple .menu-right,
.flip-purple .menu-middle,
.flip-purple .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-flip-purple.png);
}
.flip-purple #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-purple.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.flip-purple .menu-left,
	.flip-purple .menu-right,
	.flip-purple .menu-middle,
	.flip-purple .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-flip-purple_2x.png);
		background-size: 17px 228px;
	}
	.flip-purple #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-purple_2x.png);
		background-size: 30px 60px;
	}
}
.flip-purple .sf-menu > li > a,
.flip-purple span.responsive-nav-text {
	color: #eaeaea;
	text-shadow: #000000 1px 1px 1px;
}
.flip-purple .sf-menu ul {
	background-color: #745f7e;
	border-color: #4c3c53;
}
.flip-purple .sf-menu li li a {
	color: #ffffff;
}
.flip-purple .sf-menu li li a:hover {
	background-color: #8c7498;
}

/* FLIP OVER RED */
.flip-red .menu-left,
.flip-red .menu-right,
.flip-red .menu-middle,
.flip-red .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-flip-red.png);
}
.flip-red #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-red.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.flip-red .menu-left,
	.flip-red .menu-right,
	.flip-red .menu-middle,
	.flip-red .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-flip-red_2x.png);
		background-size: 17px 228px;
	}
	.flip-red #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-red_2x.png);
		background-size: 30px 60px;
	}
}
.flip-red .sf-menu > li > a,
.flip-red span.responsive-nav-text {
	color: #eaeaea;
	text-shadow: #000000 1px 1px 1px;
}
.flip-red .sf-menu ul {
	background-color: #510a0a;
	border-color: #240404;
}
.flip-red .sf-menu li li a {
	color: #ffffff;
}
.flip-red .sf-menu li li a:hover {
	background-color: #6c0e0e;
}

/* FLIP OVER SLATE */
.flip-slate .menu-left,
.flip-slate .menu-right,
.flip-slate .menu-middle,
.flip-slate .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-flip-slate.png);
}
.flip-slate #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-slate.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.flip-slate .menu-left,
	.flip-slate .menu-right,
	.flip-slate .menu-middle,
	.flip-slate .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-flip-slate_2x.png);
		background-size: 17px 228px;
	}
	.flip-slate #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-slate_2x.png);
		background-size: 30px 60px;
	}
}
.flip-slate .sf-menu > li > a,
.flip-slate span.responsive-nav-text {
	color: #eaeaea;
	text-shadow: #000000 1px 1px 1px;
}
.flip-slate .sf-menu ul {
	background-color: #23282e;
	border-color: #0f1114;
}
.flip-slate .sf-menu li li a {
	color: #ffffff;
}
.flip-slate .sf-menu li li a:hover {
	background-color: #2d333a;
}

/* FLIP OVER TEAL */
.flip-teal .menu-left,
.flip-teal .menu-right,
.flip-teal .menu-middle,
.flip-teal .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-flip-teal.png);
}
.flip-teal #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-teal.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.flip-teal .menu-left,
	.flip-teal .menu-right,
	.flip-teal .menu-middle,
	.flip-teal .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-flip-teal_2x.png);
		background-size: 17px 228px;
	}
	.flip-teal #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-teal_2x.png);
		background-size: 30px 60px;
	}
}
.flip-teal .sf-menu > li > a,
.flip-teal span.responsive-nav-text {
	color: #eaeaea;
	text-shadow: #000000 1px 1px 1px;
}
.flip-teal .sf-menu ul {
	background-color: #133735;
	border-color: #0b2221;
}
.flip-teal .sf-menu li li a {
	color: #ffffff;
}
.flip-teal .sf-menu li li a:hover {
	background-color: #1c4f4c;
}

/* =Classic Menu
----------------------------------------------- */

/* CLASSIC GENERAL */
.classic-menu {
	margin: -58px 10px 0 10px;
	position: relative;
	z-index: 999;
}
.classic-menu .menu-left {
	position: absolute;
	top: 0;
	left: 0;
	width: 6px;
	height: 58px;
}
.classic-menu .menu-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 6px;
	height: 58px;
}
.classic-menu .menu-middle {
	margin: 0 6px;
	height: 58px;
}
.classic-menu .sf-menu li a {
	display: block;
	font-family: Arial, Helevtica, Verdana,san-serif;
	font-size: 11px;
	letter-spacing: 1px;
	line-height: 100%;
	padding: 22px 15px 19px 15px;
	text-decoration: none;
	text-transform: uppercase;
}
.classic-menu .sf-menu ul {
	margin: 0;
}
.classic-menu .menu-left {
	background-position: 0 0;
	background-repeat: no-repeat;
}
.classic-menu .menu-right {
	background-position: 0 -116px;
	background-repeat: no-repeat;
}
.classic-menu .menu-middle {
	background-position: 0 -58px;
	background-repeat: repeat-x;
}
.classic-menu .sf-menu > li > a:hover {
	background-position: 0 -174px;
	background-repeat: repeat-x;
}

/* CLASSIC BLACK */
.classic-black .menu-left,
.classic-black .menu-right,
.classic-black .menu-middle,
.classic-black .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-classic-black.png);
}
.classic-black #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-classic-black.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.classic-black .menu-left,
	.classic-black .menu-right,
	.classic-black .menu-middle,
	.classic-black .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-classic-black_2x.png);
		background-size: 6px 232px;
	}
	.classic-black #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-classic-black_2x.png);
		background-size: 30px 60px;
	}
}
.classic-black .sf-menu a,
.classic-black span.responsive-nav-text {
	color: #ffffff;
}
.classic-black .sf-menu ul {
	background-color: #121212;
	border-color: #000000;
}
.classic-black .sf-menu li li a:hover {
	background-color: #1e1e1e;
}

/* CLASSIC BLUE */
.classic-blue .menu-left,
.classic-blue .menu-right,
.classic-blue .menu-middle,
.classic-blue .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-classic-blue.png);
}
.classic-blue #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-classic-blue.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.classic-blue .menu-left,
	.classic-blue .menu-right,
	.classic-blue .menu-middle,
	.classic-blue .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-classic-blue_2x.png);
		background-size: 6px 232px;
	}
	.classic-blue #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-classic-blue_2x.png);
		background-size: 30px 60px;
	}
}
.classic-blue .sf-menu a,
.classic-blue span.responsive-nav-text {
	color: #ffffff;
}
.classic-blue .sf-menu ul {
	background-color: #0d306f;
	border-color: #081f49;
}
.classic-blue .sf-menu li li a:hover {
	background-color: #0f3b8b;
}

/* CLASSIC BROWN */
.classic-brown .menu-left,
.classic-brown .menu-right,
.classic-brown .menu-middle,
.classic-brown .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-classic-brown.png);
}
.classic-brown #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-classic-brown.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.classic-brown .menu-left,
	.classic-brown .menu-right,
	.classic-brown .menu-middle,
	.classic-brown .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-classic-brown_2x.png);
		background-size: 6px 232px;
	}
	.classic-brown #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-classic-brown_2x.png);
		background-size: 30px 60px;
	}
}
.classic-brown .sf-menu a,
.classic-brown span.responsive-nav-text {
	color: #ffffff;
}
.classic-brown .sf-menu ul {
	background-color: #37261c;
	border-color: #160e09;
}
.classic-brown .sf-menu li li a:hover {
	background-color: #493225;
}

/* CLASSIC DARK PURPLE */
.classic-dark_purple .menu-left,
.classic-dark_purple .menu-right,
.classic-dark_purple .menu-middle,
.classic-dark_purple .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-classic-dark_purple.png);
}
.classic-dark_purple #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-classic-dark_purple.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.classic-dark_purple .menu-left,
	.classic-dark_purple .menu-right,
	.classic-dark_purple .menu-middle,
	.classic-dark_purple .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-classic-dark_purple_2x.png);
		background-size: 6px 232px;
	}
	.classic-dark_purple #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-classic-dark_purple_2x.png);
		background-size: 30px 60px;
	}
}
.classic-dark_purple .sf-menu a,
.classic-dark_purple span.responsive-nav-text {
	color: #ffffff;
}
.classic-dark_purple .sf-menu ul {
	background-color: #130323;
	border-color: #05010a;
}
.classic-dark_purple .sf-menu li li a:hover {
	background-color: #1f0538;
}

/* CLASSIC DARK */
.classic-dark .menu-left,
.classic-dark .menu-right,
.classic-dark .menu-middle,
.classic-dark .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-classic-dark.png);
}
.classic-dark #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-classic-dark.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.classic-dark .menu-left,
	.classic-dark .menu-right,
	.classic-dark .menu-middle,
	.classic-dark .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-classic-dark_2x.png);
		background-size: 6px 232px;
	}
	.classic-dark #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-classic-dark_2x.png);
		background-size: 30px 60px;
	}
}
.classic-dark .sf-menu a,
.classic-dark span.responsive-nav-text {
	color: #ffffff;
}
.classic-dark .sf-menu ul {
	background-color: #282828;
	border-color: #000000;
}
.classic-dark .sf-menu li li a:hover {
	background-color: #313131;
}

/* CLASSIC GREEN */
.classic-green .menu-left,
.classic-green .menu-right,
.classic-green .menu-middle,
.classic-green .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-classic-green.png);
}
.classic-green #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-classic-green.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.classic-green .menu-left,
	.classic-green .menu-right,
	.classic-green .menu-middle,
	.classic-green .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-classic-green_2x.png);
		background-size: 6px 232px;
	}
	.classic-green #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-classic-green_2x.png);
		background-size: 30px 60px;
	}
}
.classic-green .sf-menu a,
.classic-green span.responsive-nav-text {
	color: #ffffff;
}
.classic-green .sf-menu ul {
	background-color: #254306;
	border-color: #1a2f04;
}
.classic-green .sf-menu li li a:hover {
	background-color: #2e5209;
}

/* CLASSIC LIGHT BLUE */
.classic-light_blue .menu-left,
.classic-light_blue .menu-right,
.classic-light_blue .menu-middle,
.classic-light_blue .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-classic-light_blue.png);
}
.classic-light_blue #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-classic-light_blue.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.classic-light_blue .menu-left,
	.classic-light_blue .menu-right,
	.classic-light_blue .menu-middle,
	.classic-light_blue .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-classic-light_blue_2x.png);
		background-size: 6px 232px;
	}
	.classic-light_blue #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-classic-light_blue_2x.png);
		background-size: 30px 60px;
	}
}
.classic-light_blue .sf-menu a,
.classic-light_blue span.responsive-nav-text {
	color: #ffffff;
}
.classic-light_blue .sf-menu ul {
	background-color: #577f98;
	border-color: #3a5769;
}
.classic-light_blue .sf-menu li li a:hover {
	background-color: #6a99b6;
}

/* CLASSIC LIGHT */
.classic-light .menu-left,
.classic-light .menu-right,
.classic-light .menu-middle,
.classic-light .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-classic-light.png);
}
.classic-light #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-classic-light.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.classic-light .menu-left,
	.classic-light .menu-right,
	.classic-light .menu-middle,
	.classic-light .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-classic-light_2x.png);
		background-size: 6px 232px;
	}
	.classic-light #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-classic-light_2x.png);
		background-size: 30px 60px;
	}
}
.classic-light .sf-menu a,
.classic-light span.responsive-nav-text {
	color: #666666;
}
.classic-light .sf-menu ul {
	background-color: #e5e5e5;
	border-color: #cccccc;
}
.classic-light .sf-menu li li a:hover {
	background-color: #eeeeee;
}

/* CLASSIC NAVY */
.classic-navy .menu-left,
.classic-navy .menu-right,
.classic-navy .menu-middle,
.classic-navy .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-classic-navy.png);
}
.classic-navy #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-classic-navy.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.classic-navy .menu-left,
	.classic-navy .menu-right,
	.classic-navy .menu-middle,
	.classic-navy .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-classic-navy_2x.png);
		background-size: 6px 232px;
	}
	.classic-navy #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-classic-navy_2x.png);
		background-size: 30px 60px;
	}
}
.classic-navy .sf-menu a,
.classic-navy span.responsive-nav-text {
	color: #ffffff;
}
.classic-navy .sf-menu ul {
	background-color: #030b23;
	border-color: #010309;
}
.classic-navy .sf-menu li li a:hover {
	background-color: #071645;
}

/* CLASSIC ORANGE */
.classic-orange .menu-left,
.classic-orange .menu-right,
.classic-orange .menu-middle,
.classic-orange .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-classic-orange.png);
}
.classic-orange #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-classic-orange.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.classic-orange .menu-left,
	.classic-orange .menu-right,
	.classic-orange .menu-middle,
	.classic-orange .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-classic-orange_2x.png);
		background-size: 6px 232px;
	}
	.classic-orange #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-classic-orange_2x.png);
		background-size: 30px 60px;
	}
}
.classic-orange .sf-menu a,
.classic-orange span.responsive-nav-text {
	color: #ffffff;
}
.classic-orange .sf-menu ul {
	background-color: #67250b;
	border-color: #401707;
}
.classic-orange .sf-menu li li a:hover {
	background-color: #843110;
}

/* CLASSIC PINK */
.classic-pink .menu-left,
.classic-pink .menu-right,
.classic-pink .menu-middle,
.classic-pink .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-classic-pink.png);
}
.classic-pink #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-classic-pink.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.classic-pink .menu-left,
	.classic-pink .menu-right,
	.classic-pink .menu-middle,
	.classic-pink .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-classic-pink_2x.png);
		background-size: 6px 232px;
	}
	.classic-pink #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-classic-pink_2x.png);
		background-size: 30px 60px;
	}
}
.classic-pink .sf-menu a,
.classic-pink span.responsive-nav-text {
	color: #ffffff;
}
.classic-pink .sf-menu ul {
	background-color: #7a0951;
	border-color: #47062f;
}
.classic-pink .sf-menu li li a:hover {
	background-color: #a10f6c;
}

/* CLASSIC PURPLE */
.classic-purple .menu-left,
.classic-purple .menu-right,
.classic-purple .menu-middle,
.classic-purple .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-classic-purple.png);
}
.classic-purple #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-classic-purple.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.classic-purple .menu-left,
	.classic-purple .menu-right,
	.classic-purple .menu-middle,
	.classic-purple .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-classic-purple_2x.png);
		background-size: 6px 232px;
	}
	.classic-purple #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-classic-purple_2x.png);
		background-size: 30px 60px;
	}
}
.classic-purple .sf-menu a,
.classic-purple span.responsive-nav-text {
	color: #ffffff;
}
.classic-purple .sf-menu ul {
	background-color: #745f7e;
	border-color: #4c3c53;
}
.classic-purple .sf-menu li li a:hover {
	background-color: #8c7498;
}

/* CLASSIC RED */
.classic-red .menu-left,
.classic-red .menu-right,
.classic-red .menu-middle,
.classic-red .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-classic-red.png);
}
.classic-red #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-classic-red.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.classic-red .menu-left,
	.classic-red .menu-right,
	.classic-red .menu-middle,
	.classic-red .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-classic-red_2x.png);
		background-size: 6px 232px;
	}
	.classic-red #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-classic-red_2x.png);
		background-size: 30px 60px;
	}
}
.classic-red .sf-menu a,
.classic-red span.responsive-nav-text {
	color: #ffffff;
}
.classic-red .sf-menu ul {
	background-color: #510a0a;
	border-color: #240404;
}
.classic-red .sf-menu li li a:hover {
	background-color: #6c0e0e;
}

/* CLASSIC SLATE */
.classic-slate .menu-left,
.classic-slate .menu-right,
.classic-slate .menu-middle,
.classic-slate .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-classic-slate.png);
}
.classic-slate #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-classic-slate.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.classic-slate .menu-left,
	.classic-slate .menu-right,
	.classic-slate .menu-middle,
	.classic-slate .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-classic-slate_2x.png);
		background-size: 6px 232px;
	}
	.classic-slate #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-classic-slate_2x.png);
		background-size: 30px 60px;
	}
}
.classic-slate .sf-menu a,
.classic-slate span.responsive-nav-text {
	color: #ffffff;
}
.classic-slate .sf-menu ul {
	background-color: #23282e;
	border-color: #0f1114;
}
.classic-slate .sf-menu li li a:hover {
	background-color: #2d333a;
}

/* CLASSIC TEAL */
.classic-teal .menu-left,
.classic-teal .menu-right,
.classic-teal .menu-middle,
.classic-teal .sf-menu > li > a:hover {
	background-image: url(../images/layout/menu/menu-classic-teal.png);
}
.classic-teal #search-trigger {
	background-image: url(../images/layout/menu/search-popup-trigger-classic-teal.png);
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.classic-teal .menu-left,
	.classic-teal .menu-right,
	.classic-teal .menu-middle,
	.classic-teal .sf-menu > li > a:hover {
		background-image: url(../images/layout/menu/menu-classic-teal_2x.png);
		background-size: 6px 232px;
	}
	.classic-teal #search-trigger {
		background-image: url(../images/layout/menu/search-popup-trigger-classic-teal_2x.png);
		background-size: 30px 60px;
	}
}
.classic-teal .sf-menu a,
.classic-teal span.responsive-nav-text {
	color: #ffffff;
}
.classic-teal .sf-menu ul {
	background-color: #133735;
	border-color: #0b2221;
}
.classic-teal .sf-menu li li a:hover {
	background-color: #1c4f4c;
}

/* =Mobile Menus
----------------------------------------------- */

/* Menu Toggle */
#menu-wrapper .menu-wrapper-inner {
	position: relative;
}
#menu-wrapper .btn-navbar {
	background-position: 0 -58px;
	border-style: solid;
	border-width: 1px;
	border-bottom-width: 0;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	font-size: 16px;
	line-height: 1em;
	outline: none;
	padding: 8px 12px;
	position: absolute;
	top: -49px;
	left: 10px;
	text-decoration: none;
}

/* BLACK */
.menu_black #menu-wrapper .btn-navbar {
	background-image: url(../images/layout/menu/menu-classic-black.png);
	border-color: #000000;
	color: #ffffff;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.menu_black #menu-wrapper .btn-navbar {
		background-image: url(../images/layout/menu/menu-classic-black_2x.png);
		background-size: 6px 232px;
	}
}
@media (max-width: 767px) {
	.mobile_nav_style_1.menu_black #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-black.png);
	}
	.mobile_nav_style_1.menu_black #main-menu,
	.mobile_nav_style_1.layout_stretch.menu_black #menu-wrapper {
		background: #222222;
	}
	.mobile_nav_style_1.menu_black #main-menu #menu-inner .sf-menu > li > a:hover {
		background-color: #121212;
	}
}
@media 	only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-resolution: 1.5dppx) {
	.mobile_nav_style_1.menu_black #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-black_2x.png);
		background-size: 17px 228px;
	}
}

/* BLUE */
.menu_blue #menu-wrapper .btn-navbar {
	background-image: url(../images/layout/menu/menu-classic-blue.png);
	border-color: #0b4878;
	color: #ffffff;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.menu_blue #menu-wrapper .btn-navbar {
		background-image: url(../images/layout/menu/menu-classic-blue_2x.png);
		background-size: 6px 232px;
	}
}
@media (max-width: 767px) {
	.mobile_nav_style_1.menu_blue #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-blue.png);
	}
	.mobile_nav_style_1.menu_blue #main-menu,
	.mobile_nav_style_1.layout_stretch.menu_blue #menu-wrapper {
		background: #0b4382;
	}
	.mobile_nav_style_1.menu_blue #main-menu #menu-inner .sf-menu > li > a:hover {
		background-color: #0d306f;
	}
}
@media 	only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-resolution: 1.5dppx) {
	.mobile_nav_style_1.menu_blue #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-blue_2x.png);
		background-size: 17px 228px;
	}
}

/* BROWN */
.menu_brown #menu-wrapper .btn-navbar {
	background-image: url(../images/layout/menu/menu-classic-brown.png);
	border-color: #3d2213;
	color: #ffffff;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.menu_brown #menu-wrapper .btn-navbar {
		background-image: url(../images/layout/menu/menu-classic-brown_2x.png);
		background-size: 6px 232px;
	}
}
@media (max-width: 767px) {
	.mobile_nav_style_1.menu_brown #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-brown.png);
	}
	.mobile_nav_style_1.menu_brown #main-menu,
	.mobile_nav_style_1.layout_stretch.menu_brown #menu-wrapper {
		background: #482f21;
	}
	.mobile_nav_style_1.menu_brown #main-menu #menu-inner .sf-menu > li > a:hover {
		background-color: #37261c;
	}
}
@media 	only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-resolution: 1.5dppx) {
	.mobile_nav_style_1.menu_brown #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-brown_2x.png);
		background-size: 17px 228px;
	}
}

/* DARK PURPLE */
.menu_dark_purple #menu-wrapper .btn-navbar {
	background-image: url(../images/layout/menu/menu-classic-dark_purple.png);
	border-color: #1e0635;
	color: #ffffff;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.menu_dark_purple #menu-wrapper .btn-navbar {
		background-image: url(../images/layout/menu/menu-classic-dark_purple_2x.png);
		background-size: 6px 232px;
	}
}
@media (max-width: 767px) {
	.mobile_nav_style_1.menu_dark_purple #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-dark_purple.png);
	}
	.mobile_nav_style_1.menu_dark_purple #main-menu,
	.mobile_nav_style_1.layout_stretch.menu_dark_purple #menu-wrapper {
		background: #250745;
	}
	.mobile_nav_style_1.menu_dark_purple #main-menu #menu-inner .sf-menu > li > a:hover {
		background-color: #130323;
	}
}
@media 	only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-resolution: 1.5dppx) {
	.mobile_nav_style_1.menu_dark_purple #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-dark_purple_2x.png);
		background-size: 17px 228px;
	}
}

/* DARK */
.menu_dark #menu-wrapper .btn-navbar {
	background-image: url(../images/layout/menu/menu-classic-dark.png);
	border-color: #333333;
	color: #ffffff;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.menu_dark #menu-wrapper .btn-navbar {
		background-image: url(../images/layout/menu/menu-classic-dark_2x.png);
		background-size: 6px 232px;
	}
}
@media (max-width: 767px) {
	.mobile_nav_style_1.menu_dark #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-dark.png);
	}
	.mobile_nav_style_1.menu_dark #main-menu,
	.mobile_nav_style_1.layout_stretch.menu_dark #menu-wrapper {
		background: #3a3a3a;
	}
	.mobile_nav_style_1.menu_dark #main-menu #menu-inner .sf-menu > li > a:hover {
		background-color: #282828;
	}
}
@media 	only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-resolution: 1.5dppx) {
	.mobile_nav_style_1.menu_dark #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-dark_2x.png);
		background-size: 17px 228px;
	}
}

/* GREEN */
.menu_green #menu-wrapper .btn-navbar {
	background-image: url(../images/layout/menu/menu-classic-green.png);
	border-color: #366208;
	color: #ffffff;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.menu_green #menu-wrapper .btn-navbar {
		background-image: url(../images/layout/menu/menu-classic-green_2x.png);
		background-size: 6px 232px;
	}
}
@media (max-width: 767px) {
	.mobile_nav_style_1.menu_green #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-green.png);
	}
	.mobile_nav_style_1.menu_green #main-menu,
	.mobile_nav_style_1.layout_stretch.menu_green #menu-wrapper {
		background: #294b06;
	}
	.mobile_nav_style_1.menu_green #main-menu #menu-inner .sf-menu > li > a:hover {
		background-color: #254306;
	}
}
@media 	only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-resolution: 1.5dppx) {
	.mobile_nav_style_1.menu_green #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-green_2x.png);
		background-size: 17px 228px;
	}
}

/* LIGHT BLUE */
.menu_light_blue #menu-wrapper .btn-navbar {
	background-image: url(../images/layout/menu/menu-classic-light_blue.png);
	border-color: #3f6e8c;
	color: #ffffff;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.menu_light_blue #menu-wrapper .btn-navbar {
		background-image: url(../images/layout/menu/menu-classic-light_blue_2x.png);
		background-size: 6px 232px;
	}
}
@media (max-width: 767px) {
	.mobile_nav_style_1.menu_light_blue #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-light_blue.png);
	}
	.mobile_nav_style_1.menu_light_blue #main-menu,
	.mobile_nav_style_1.layout_stretch.menu_light_blue #menu-wrapper {
		background: #357eac;
	}
	.mobile_nav_style_1.menu_light_blue #main-menu #menu-inner .sf-menu > li > a:hover {
		background-color: #577f98;
	}
}
@media 	only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-resolution: 1.5dppx) {
	.mobile_nav_style_1.menu_light_blue #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-light_blue_2x.png);
		background-size: 17px 228px;
	}
}

/* LIGHT */
.menu_light #menu-wrapper .btn-navbar {
	background-image: url(../images/layout/menu/menu-classic-light.png);
	border-color: #ffffff;
	color: #666666;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.menu_light #menu-wrapper .btn-navbar {
		background-image: url(../images/layout/menu/menu-classic-light_2x.png);
		background-size: 6px 232px;
	}
}
@media (max-width: 767px) {
	.mobile_nav_style_1.menu_light #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-light.png);
	}
	.mobile_nav_style_1.menu_light #main-menu,
	.mobile_nav_style_1.layout_stretch.menu_light #menu-wrapper {
		background: #f5f5f5;
	}
	.mobile_nav_style_1.menu_light #main-menu #menu-inner .sf-menu > li > a:hover {
		background-color: #e5e5e5;
	}
}
@media 	only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-resolution: 1.5dppx) {
	.mobile_nav_style_1.menu_light #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-light_2x.png);
		background-size: 17px 228px;
	}
}

/* NAVY */
.menu_navy #menu-wrapper .btn-navbar {
	background-image: url(../images/layout/menu/menu-classic-navy.png);
	border-color: #030d2b;
	color: #ffffff;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.menu_navy #menu-wrapper .btn-navbar {
		background-image: url(../images/layout/menu/menu-classic-navy_2x.png);
		background-size: 6px 232px;
	}
}
@media (max-width: 767px) {
	.mobile_nav_style_1.menu_navy #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-navy.png);
	}
	.mobile_nav_style_1.menu_navy #main-menu,
	.mobile_nav_style_1.layout_stretch.menu_navy #menu-wrapper {
		background: #051649;
	}
	.mobile_nav_style_1.menu_navy #main-menu #menu-inner .sf-menu > li > a:hover {
		background-color: #030b23;
	}
}
@media 	only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-resolution: 1.5dppx) {
	.mobile_nav_style_1.menu_navy #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-navy_2x.png);
		background-size: 17px 228px;
	}
}

/* ORANGE */
.menu_orange #menu-wrapper .btn-navbar {
	background-image: url(../images/layout/menu/menu-classic-orange.png);
	border-color: #60230b;
	color: #ffffff;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.menu_orange #menu-wrapper .btn-navbar {
		background-image: url(../images/layout/menu/menu-classic-orange_2x.png);
		background-size: 6px 232px;
	}
}
@media (max-width: 767px) {
	.mobile_nav_style_1.menu_orange #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-orange.png);
	}
	.mobile_nav_style_1.menu_orange #main-menu,
	.mobile_nav_style_1.layout_stretch.menu_orange #menu-wrapper {
		background: #883413;
	}
	.mobile_nav_style_1.menu_orange #main-menu #menu-inner .sf-menu > li > a:hover {
		background-color: #67250b;
	}
}
@media 	only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-resolution: 1.5dppx) {
	.mobile_nav_style_1.menu_orange #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-orange_2x.png);
		background-size: 17px 228px;
	}
}

/* PINK */
.menu_pink #menu-wrapper .btn-navbar {
	background-image: url(../images/layout/menu/menu-classic-pink.png);
	border-color: #47062f;
	color: #ffffff;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.menu_pink #menu-wrapper .btn-navbar {
		background-image: url(../images/layout/menu/menu-classic-pink_2x.png);
		background-size: 6px 232px;
	}
}
@media (max-width: 767px) {
	.mobile_nav_style_1.menu_pink #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-pink.png);
	}
	.mobile_nav_style_1.menu_pink #main-menu,
	.mobile_nav_style_1.layout_stretch.menu_pink #menu-wrapper {
		background: #a10f6c;
	}
	.mobile_nav_style_1.menu_pink #main-menu #menu-inner .sf-menu > li > a:hover {
		background-color: #7a0951;
	}
}
@media 	only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-resolution: 1.5dppx) {
	.mobile_nav_style_1.menu_pink #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-pink_2x.png);
		background-size: 17px 228px;
	}
}

/* PURPLE */
.menu_purple #menu-wrapper .btn-navbar {
	background-image: url(../images/layout/menu/menu-classic-purple.png);
	border-color: #4c3c53;
	color: #ffffff;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.menu_purple #menu-wrapper .btn-navbar {
		background-image: url(../images/layout/menu/menu-classic-purple_2x.png);
		background-size: 6px 232px;
	}
}
@media (max-width: 767px) {
	.mobile_nav_style_1.menu_purple #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-purple.png);
	}
	.mobile_nav_style_1.menu_purple #main-menu,
	.mobile_nav_style_1.layout_stretch.menu_purple #menu-wrapper {
		background: #8c6d9a;
	}
	.mobile_nav_style_1.menu_purple #main-menu #menu-inner .sf-menu > li > a:hover {
		background-color: #745f7e;
	}
}
@media 	only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-resolution: 1.5dppx) {
	.mobile_nav_style_1.menu_purple #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-purple_2x.png);
		background-size: 17px 228px;
	}
}

/* RED */
.menu_red #menu-wrapper .btn-navbar {
	background-image: url(../images/layout/menu/menu-classic-red.png);
	border-color: #240404;
	color: #ffffff;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.menu_red #menu-wrapper .btn-navbar {
		background-image: url(../images/layout/menu/menu-classic-red_2x.png);
		background-size: 6px 232px;
	}
}
@media (max-width: 767px) {
	.mobile_nav_style_1.menu_red #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-red.png);
	}
	.mobile_nav_style_1.menu_red #main-menu,
	.mobile_nav_style_1.layout_stretch.menu_red #menu-wrapper {
		background: #7c0e0e;
	}
	.mobile_nav_style_1.menu_red #main-menu #menu-inner .sf-menu > li > a:hover {
		background-color: #510a0a;
	}
}
@media 	only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-resolution: 1.5dppx) {
	.mobile_nav_style_1.menu_red #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-red_2x.png);
		background-size: 17px 228px;
	}
}

/* SLATE */
.menu_slate #menu-wrapper .btn-navbar {
	background-image: url(../images/layout/menu/menu-classic-slate.png);
	border-color: #0f1114;
	color: #ffffff;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.menu_slate #menu-wrapper .btn-navbar {
		background-image: url(../images/layout/menu/menu-classic-slate_2x.png);
		background-size: 6px 232px;
	}
}
@media (max-width: 767px) {
	.mobile_nav_style_1.menu_slate #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-slate.png);
	}
	.mobile_nav_style_1.menu_slate #main-menu,
	.mobile_nav_style_1.layout_stretch.menu_slate #menu-wrapper {
		background: #3b444f;
	}
	.mobile_nav_style_1.menu_slate #main-menu #menu-inner .sf-menu > li > a:hover {
		background-color: #23282e;
	}
}
@media 	only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-resolution: 1.5dppx) {
	.mobile_nav_style_1.menu_slate #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-slate_2x.png);
		background-size: 17px 228px;
	}
}

/* TEAL */
.menu_teal #menu-wrapper .btn-navbar {
	background-image: url(../images/layout/menu/menu-classic-teal.png);
	border-color: #153f3d;
	color: #ffffff;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.menu_teal #menu-wrapper .btn-navbar {
		background-image: url(../images/layout/menu/menu-classic-teal_2x.png);
		background-size: 6px 232px;
	}
}
@media (max-width: 767px) {
	.mobile_nav_style_1.menu_teal #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-teal.png);
	}
	.mobile_nav_style_1.menu_teal #main-menu,
	.mobile_nav_style_1.layout_stretch.menu_teal #menu-wrapper {
		background: #1c4e4b;
	}
	.mobile_nav_style_1.menu_teal #main-menu #menu-inner .sf-menu > li > a:hover {
		background-color: #133735;
	}
}
@media 	only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5),
		only screen and (max-width: 767px) and (min-resolution: 1.5dppx) {
	.mobile_nav_style_1.menu_teal #main-top .main-top-middle {
		background-image: url(../images/layout/menu/menu-flip-teal_2x.png);
		background-size: 17px 228px;
	}
}