/* =Responsive Structure
------------------------------------------------- */

@media (max-width: 1020px) {

	/* Boxed Layout */
	.layout_boxed #top,
	.layout_boxed #featured,
	.layout_boxed #main,
	.layout_boxed #featured_below,
	.layout_boxed #bottom,
	.layout_boxed #after-footer {
		max-width: 980px;
		width: auto;
	}

	/* Featured Standard Slider */
	#featured .standard-slider li.slide,
	#featured .standard-slider .media-full .themeblvd-video-wrapper {
		max-height: 335px;
	}

}

/* Optimized for Tablets */
@media (max-width: 992px) {

	/* Boxed Layout */
	.layout_boxed #top,
	.layout_boxed #featured,
	.layout_boxed #main,
	.layout_boxed #featured_below,
	.layout_boxed #bottom,
	.layout_boxed #after-footer {
		max-width: 768px;
	}

	/* Stretch Layout */
	.layout_stretch #top #header_content,
	.layout_stretch #featured .featured-inner,
	.layout_stretch #main .main-inner,
	.layout_stretch #featured_below .featured_below-inner,
	.layout_stretch #bottom #colophon,
	.layout_stretch #after-footer .after-footer-middle,
	.layout_stretch .flip-menu {
		max-width: 768px;
		width: auto;
	}
	.layout_stretch .classic-menu .menu-middle-inner {
		max-width: 748px;
		width: auto;
	}

	/* Main Menu */
	#main-menu #menu-inner .sf-menu a {
		font-size: 9px;
		padding: 20px 7px 17px 7px;
	}
	#main-menu #menu-inner .sf-menu li li a {
		padding: 8px;
	}
	#main-menu .sf-menu ul {
		width: 175px;
	}

	/* Slogan */
	.element-slogan .tb-slogan {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		box-orient: vertical;
	}
	.element-slogan .tb-slogan .slogan-text {
		display: block;
		font-size: 1.3rem;
		text-align: center;
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
		margin-bottom: 20px;
	}
	.element-slogan .tb-slogan [class*="btn"] {
		display: block;
		float: none;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
	}
	.firefox .element-slogan .tb-slogan {
		display: block;
	}
	.tb-slogan.text_only .slogan-text.text_large {
		font-size: 25px;
	}
	.tb-slogan.has_button .slogan-text.text_large {
		font-size: 18px;
	}

	/* Slider */
	#featured .standard-slider li.slide,
	#featured .standard-slider .media-full .themeblvd-video-wrapper {
		max-height: 256px;
	}
	.standard-slider .media-align-left .content-inner,
	.standard-slider .media-align-right .content-inner {
		padding: 10px 15px;
	}
	.standard-slider .slide-description-text,
	.standard-slider .btn {
		font-size: .9em;
	}

}

/* Optimized for Mobile Devices */
@media (max-width: 767px) {

	#featured .featured-inner,
	#main .main-inner,
	#featured_below .featured_below-inner {
		padding-bottom: 10px;
	}

	/* Boxed Layout */
	.layout_boxed #top,
	.layout_boxed #featured,
	.layout_boxed #main,
	.layout_boxed #featured_below,
	.layout_boxed #bottom,
	.layout_boxed #after-footer {
 		max-width: 480px;
 	}
 	.mobile_nav_style_1.layout_boxed #wrapper {
		margin: 0 auto;
		max-width: 480px;
		padding: 0;
	}
 	.mobile_nav_style_1.layout_boxed #top,
	.mobile_nav_style_1.layout_boxed #featured,
	.mobile_nav_style_1.layout_boxed #main,
	.mobile_nav_style_1.layout_boxed #featured_below,
	.mobile_nav_style_1.layout_boxed #bottom,
	.mobile_nav_style_1.layout_boxed #after-footer {
 		max-width: none;
 	}
	.layout_boxed #featured .featured-content,
	.layout_boxed #main .main-content,
	.layout_boxed #featured_below .featured_below-content {
		padding: 0;
	}
	.mobile_nav_style_1.layout_boxed #top {
		margin: 0 10px;
	}
	.mobile_nav_style_1.layout_boxed #featured,
	.mobile_nav_style_1.layout_boxed #main,
	.mobile_nav_style_1.layout_boxed #featured_below,
	.mobile_nav_style_1.layout_boxed #bottom {
		background: #eeeeee;
		margin: 0 10px;
		/* padding-bottom: 10px; */
	}
	.mobile_nav_style_1.layout_boxed.style_dark #featured,
	.mobile_nav_style_1.layout_boxed.style_dark #main,
	.mobile_nav_style_1.layout_boxed.style_dark #featured_below,
	.mobile_nav_style_1.layout_boxed.style_dark #bottom {
		background: #282828;
	}
	.mobile_nav_style_1.layout_boxed #featured:before,
	.mobile_nav_style_1.layout_boxed #main:before,
	.mobile_nav_style_1.layout_boxed #featured_below:before,
	.mobile_nav_style_1.layout_boxed #bottom:before,
	.mobile_nav_style_1.layout_boxed #featured:after,
	.mobile_nav_style_1.layout_boxed #main:after,
	.mobile_nav_style_1.layout_boxed #featured_below:after,
	.mobile_nav_style_1.layout_boxed #bottom:after {
		content: "";
		display: none;
	}
	.mobile_nav_style_1.layout_boxed #featured .featured-inner,
	.mobile_nav_style_1.layout_boxed #main .main-inner,
	.mobile_nav_style_1.layout_boxed #featured_below .featured_below-inner,
	.mobile_nav_style_1.layout_boxed #bottom #colophon {
		margin-right: 10px;
		margin-left: 10px;
	}

	/* Stretch Layout */
	.layout_stretch #top #header_content,
	.layout_stretch.menu_flip #top #menu-wrapper .menu-wrapper-inner,
	.layout_stretch.mobile_nav_style_1 #top #menu-wrapper .menu-wrapper-inner,
	.layout_stretch #featured .featured-inner,
	.layout_stretch #main .main-inner,
	.layout_stretch #featured_below .featured_below-inner,
	.layout_stretch #bottom #colophon,
	.layout_stretch #after-footer .after-footer-middle,
	.layout_stretch .flip-menu {
		max-width: 480px;
		margin-right: auto;
		margin-left: auto;
	}

	/* Content Blocks */
	.layout_stretch #bottom #colophon {
		padding: 10px;
	}

	/* Sidebar Shadows */
	.left-sidebar .fixed-sidebar-inner,
	.right-sidebar .fixed-sidebar-inner {
		background-image: none !important;
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	.left-sidebar .fixed-sidebar-inner:before,
	.right-sidebar .fixed-sidebar-inner:before,
	.left-sidebar .fixed-sidebar-inner:after,
	.right-sidebar .fixed-sidebar-inner:after {
		content:"" !important;
		display: none !important;
	}

	/* Header */
	#branding #header_content .header_content-inner {
		padding: 20px 10px 5px 10px;
	}
	.layout_stretch #branding #header_content .header_content-inner {
		padding: 10px;
	}
	#branding .header_logo {
		float: none;
		margin-bottom: 10px;
		text-align: center;
	}
	#branding .header_logo .tb-image-logo img {
		display: inline;
	}
	#branding .header-addon {
		margin: 0;
		position: static;
	}
	#branding .header-addon-with-text {
		margin: 0;
	}
	#branding .header-text {
		text-align: center;
	}
	#branding .social-media {
		margin: 0;
		position: static;
		text-align: center;
	}
	#branding .themeblvd-contact-bar ul {
		float: none;
	}
	#branding .themeblvd-contact-bar li {
		display: inline-block;
		float: none;
	}

	/* Menu Style 1: Toggle main menu (color-specific styles in menus.css) */
	.mobile_nav_style_1 #menu-wrapper {
		margin-top: 22px;
	}
	.mobile_nav_style_1 #main-menu {
		display: none;
	}
	.mobile_nav_style_1 #menu-inner {
		background-color: transparent;
		margin-top: 0;
	}
	.mobile_nav_style_1 .btn-navbar {
		display: block;
	}
	.mobile_nav_style_1 #main-top {
		position: relative;
		padding: 0;
		height: auto;
	}
	.mobile_nav_style_1 #main-top .main-top-left,
	.mobile_nav_style_1 #main-top .main-top-right {
		display: none;
	}
	.mobile_nav_style_1 #main-top .main-top-middle {
		background-position: 0 -76px;
		background-repeat: repeat-x;
		height: 15px;
	}
	.mobile_nav_style_1.layout_boxed #main-top .main-top-middle {
		-webkit-border-top-left-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		-moz-border-radius-topleft: 4px;
		-moz-border-radius-topright: 4px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
	.mobile_nav_style_1 #main-menu #menu-inner .sf-menu a,
	.mobile_nav_style_1 #main-menu #menu-inner .sf-menu li li a {
		font-size: 12px;
		line-height: 1em;
		padding: 14px;
	}
	.mobile_nav_style_1 #main-menu #menu-inner .sf-menu a:hover {
		background-image: none;
	}
	.mobile_nav_style_1 #main-menu .sf-menu ul ul {
		padding: 0;
	}
	.mobile_nav_style_1 #main-menu li li li {
		padding-left: 10px;
	}
	.mobile_nav_style_1 #main-menu .sf-menu ul {
		border: none;
		margin: 0;
		position: static;
		width: auto;
	}
	.mobile_nav_style_1 .flip-menu,
	.mobile_nav_style_1 .classic-menu {
		margin: 0;
	}
	.mobile_nav_style_1 .flip-menu .sf-menu li,
	.mobile_nav_style_1 .classic-menu .sf-menu li {
		float: none;
	}
	.mobile_nav_style_1 .flip-menu .menu-left,
	.mobile_nav_style_1 .flip-menu .menu-right,
	.mobile_nav_style_1 .flip-menu .menu-middle,
	.mobile_nav_style_1 .classic-menu .menu-left,
	.mobile_nav_style_1 .classic-menu .menu-right,
	.mobile_nav_style_1 .classic-menu .menu-middle {
		background-image: none;
		height: auto;
		margin: 0;
	}
	#primary-menu > li > a .sf-sub-indicator {
		position: absolute;
		right: 20px;
	}
	#main-menu ul.sf-menu-with-fontawesome ul .sf-sub-indicator {
		top: 15px;
	}
	#main-menu ul.sf-menu-with-fontawesome ul .sf-sub-indicator.fa-caret-right:before {
		content: "\f0d7";
	}

	/* Menu Style 2: Masked select menu */
	.mobile_nav_style_2 #primary-menu {
 		display: none;
 	}
	.mobile_nav_style_2 #primary-responsive-nav,
	.mobile_nav_style_2 .responsive-nav {
		display: block;
	}

	/* Menu Style 3: Simple select menu */
	.mobile_nav_style_3 #main-menu {
		display: none;
	}
	.mobile_nav_style_3 .responsive-nav {
		display: block;
		margin: 0;
	}
	.mobile_nav_style_3 .responsive-nav select {
		color: #000000;
	}
	.mobile_nav_style_3 #menu-wrapper {
		text-align: center;
	}
	.mobile_nav_style_3.layout_stretch #main-top {
		height: 10px;
	}
	.mobile_nav_style_3.layout_boxed #main-top .main-top-middle,
	.mobile_nav_style_3.layout_boxed #main-top .main-top-right,
	.mobile_nav_style_3.layout_boxed #main-top .main-top-left {
		height: 20px;
	}
	.mobile_nav_style_3 #featured .featured-inner {
		padding-top: 10px;
	}
	.mobile_nav_style_3.layout_boxed #main #content {
		padding-top: 0;
	}

	/* Menu Search */
	#search-popup-wrapper {
		display: none;
	}

	/* Main */
	#breadcrumbs {
		display: none;
	}

	/* Footer */
	#footer_sub_content .copyright .text {
		display: block;
		float: none;
		line-height: 140%;
		margin-bottom: 15px;
		text-align: center;
	}
	#footer_sub_content .copyright .menu {
		float: none;
		text-align: center;
	}
	#footer_sub_content .copyright .menu li {
		display: inline-block;
		float: none;
		line-height: 140%;
	}
	#after-footer {
		display: none;
	}

	/* General Elements */
	.last-element {
		padding-bottom: 0;
	}

	/* Slider */
	#featured .standard-slider li.slide,
	#featured .standard-slider .media-full .themeblvd-video-wrapper {
		max-height: 160px;
	}
	.standard-slider-wrapper .flex-direction-nav,
	.standard-slider .media-full .content,
	.standard-slider .media-full .slide-title,
	.standard-slider .slide-description-text  {
		display: none;
	}
	#featured .standard-slider .media-align-right .slide-title span,
	#featured .standard-slider .media-align-left .slide-title span,
	#content .standard-slider .media-align-right .slide-title span,
	#content .standard-slider .media-align-left .slide-title span,
	#featured_below .standard-slider .media-align-right .slide-title span,
	#featured_below .standard-slider .media-align-left .slide-title span {
		font-size: 14px;
	}

	/* Slogan */
	.tb-slogan.has_button .btn {
		display: block;
		float: none;
		margin: 0 0 10px 0;
		text-align: center;
	}
	.tb-slogan .slogan-text {
		display: block;
		text-align: center;
	}

	/* Post List */
	.single-post .entry-title,
	.post_list .entry-title {
		font-size: 15px;
		line-height: 150%;
	}
	.tags {
		position: static;
	}

	/* Post Grid */
	.post_grid .featured-image-wrapper div.featured-image {
		margin-left: auto;
	    margin-right: auto;
	}
	.post_grid .featured-image-wrapper div.themeblvd-video-wrapper {
		display: block;
		min-width: 320px;
	}
	.post_grid .grid-row {
		margin-bottom: 0;
	}
	.post_grid article {
		margin-bottom: 40px;
	}
}

/* Optimized for Mobile Portrait */
@media (max-width: 320px) {
	.tb-image-icon.alignleft,
	.tb-image-icon.alignright {
		display: block;
		float: none;
	}
}