/* =Structure
----------------------------------------------- */

html {
	min-height: 100%;
}
#wrapper {
	min-height: 900px;
}

/* =Layout Boxes
----------------------------------------------- */

.boxed-layout,
.post_grid,
.article-wrap,
.element-content,
.element-post_list_slider,
.element-tweet,
#comments .comment-body,
#respond {
	/* margin: 0 0 20px 0; Only applicable to non-element boxes, so moved below */
	padding: 0;
	position: relative;
}
.boxed-layout,
.post_grid,
.article-wrap,
#comments li,
#respond,
.element-post_list_slider {
	margin: 0 0 20px 0;
}
.boxed-layout .boxed-inner,
.boxed-layout .element-inner,
.post_grid,
article,
#comments .comment-body,
#respond,
.standard-slider-wrapper .slides-wrapper,
.tb-nivo-slider-wrapper .slides-wrapper {
	background-color: #ffffff;
	border: 1px solid #e3e3e3;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
}

/* Boxes within Boxes fixes */
.boxed-layout .element,
.boxed-layout .post_grid,
.element-post_grid_slider .post_grid,
.element .element .post_grid {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
}
.element-post_list_slider .article-wrap {
	margin: 0;
}
.element-post_list_slider article {
	background: transparent;
	border: none;
	padding: 10px;
}
.element-post_list_slider .element-inner {
	padding: 0;
}

/* =Global Elements and Typography
----------------------------------------------- */

html,
body {
	color: #666666;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5;
}
body.theme-background {
	background: #0d306f url(../images/glass-blue.png) center top no-repeat;
}
a:hover,
a:focus {
	text-decoration: none;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333333;
	font-weight: normal;
	line-height: 1.15;
	margin-top: 10px;
	margin-bottom: 10px;
	text-shadow: 1px 1px 1px #ffffff;
}
h1 {
	font-size: 32px;
	letter-spacing: 1px;
}
h2 {
	font-size: 23px;
	letter-spacing: 1px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10px;
}
.alert h1,
.alert h2,
.alert h3,
.alert h4,
.alert h5,
.alert h6,
.panel-heading h3 {
	text-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative; /* So header shades will display within headers */
}
.header-shade {
	background: url(../images/layout/style/light/text-gradient.png) repeat-x;
	display: block;
	position: absolute;
    width: 100%;
    height: 100%;
    *display: none; /* IE7 FIX */
}
.boxed-layout .header-shade,
.post_grid .header-shade,
.article-wrap .header-shade,
#content .element-slider-standard .header-shade,
.element-content .header-shade,
#content .element-post_grid_slider .header-shade,
.element-post_list_slider .header-shade,
#content .element-slogan .header-shade,
.element-tweet .header-shade,
#comments .comment-body .header-shade,
#respond .header-shade,
.tab-content .header-shade {
	background-image: url(../images/layout/style/light/text-gradient-light.png);
}
#bottom .header-shade {
	background-image: url(../images/layout/style/light/text-gradient-footer.png);
}
.alert .header-shade,
.jumbotron .header-shade,
.panel-heading .header-shade,
.panel-footer .header-shade {
	display: none;
}

/* =Content
----------------------------------------------- */

article {
	overflow: hidden;
}
.article-wrap h1 {
	letter-spacing: 0;
}
.entry-title {
	clear: both;
	margin: 0;
	padding: 0 0 10px 0;
}
.entry-title,
.entry-title a {
	color: #333333;
	text-decoration: none;
}
.sidebar-layout-top {
	padding: 0 10px;
}
.tags a {
	color: inherit;
	padding: 1px 0;
}

/* Images */
img {
	max-width: 100%;
	height: auto;
}
img[class*="wp-image-"] {
	/* No styles needed */
}
img.size-full {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size images in IE8 */
}
.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.thumbnail,
.pretty,
.wp-caption {
	background: #ffffff;
    border: 1px solid #dddddd;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#wrapper .gallery {
	margin: 0 auto 1.625em;
}
#wrapper .gallery .gallery-icon {
	padding: 10px;
}
#wrapper .gallery a img {
    background: #ffffff;
    border: 1px solid #dddddd;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	max-width: 98.5%;
	padding: 4px;
	height: auto;
}
img#wpstats {
    display: block;
    margin: 0 auto 1.625em;
}
#content .gallery-columns-4 .gallery-item,
#featured_below .gallery-columns-4 .gallery-item {
	margin: 0 0 1.625em 0;
}

/* Password Protected Posts */
.post-password-required .entry-header .comments-link {
	margin: 1.625em 0 0;
}
.post-password-required input[type=password] {
	margin: 0.8125em 0;
}

/* =Single Posts and Post List
----------------------------------------------- */

.single-post .entry-header,
.post_list .entry-header {
	margin: 0 0 15px 0;
}
.single-post .entry-title,
.single-post .entry-title a,
.post_list .entry-title,
.post_list .entry-title a {
	color: #333333;
	font-size: 27px;
}
.single-post .entry-title,
.post_list .entry-title {
	margin: 0 0 5px 0;
	padding: 0 30px 0 0; /* 20px right padding for comment bubble */
}
.single-post .entry-title .header-shade,
.post_list .entry-title .header-shade {
	display: none;
}
.comment-bubble {
	background: url(../images/layout/style/light/comment.png) no-repeat;
	font-weight: bold;
	line-height: 25px;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fafafa;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.comment-bubble {
		background-image: url(../images/layout/style/light/comment_2x.png);
		background-size: 30px 30px;
	}
}
.comment-bubble a {
	color: #666666;
}
.comment-bubble a:hover,
.comment-bubble a:focus {
	color: #000000;
}
.single-post .pagination-wrap,
.post_list .pagination-wrap {
	padding: 0 10px 20px 10px;
}

/* Entry Meta */
.entry-meta {
	color: #999999;
	font-size: .90em;
	font-weight: bold;
	margin: 5px 2px 15px 2px;
}
.entry-meta .fa {
	padding-right: 5px;
}
.entry-meta .sep {
	color: #cccccc;
	font-weight: normal;
	padding: 0 7px;
}

/* =Post Grid
----------------------------------------------- */

.post_grid .grid-row {
	margin-bottom: 30px;
}
.post_grid .grid-row:last-of-type {
	margin-bottom: 0;
}
.post_grid .entry-title {
	font-size: 20px;
}
.post_grid .article-wrap {
	padding: 0;
}
.post_grid article {
	background: transparent;
	border: none;
	padding: 0;
}
.post_grid .entry-content {
	padding: 0 5px;
}
.post_grid .header-shade {
	display: none;
}
.post_grid .excerpt {
	font-size: .916em;
}

/* =Comments
----------------------------------------------- */

#comments li {
	margin: 5px 0;
}
#comments-title {
	padding: 0 10px;
}
#comments .commentlist {
	margin-bottom: 30px;
}
#comments .comment-body {
	padding: 15px;
	padding-left: 83px;
	position: relative;
}
#comments .comment-body .avatar {
	position: absolute;
	top: 15px;
	left: 15px;
}
#comments .comment-author {
	line-height: 100%;
}
#comments .comment-body .says {
	display: none;
}
#comments .comment-body .comment-meta {
	margin-bottom: 10px;
}
#comments .comment-body .comment-meta a {
	color: #9e9e9e;
	font-family: Georgia, serif;
	font-size: 11px;
	font-style: italic;
}
#comments .comment-body .fn {
	display: block;
	font-style: normal;
	font-weight: bold;
	margin-top: 5px;
}
#comments .comment-body p {
	margin-bottom: 30px;
}
#comments .comment-body .reply a {
	font-size: .8em;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

/* Top Level */
#comments ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Children */
#comments ul.children {
	border-left: 1px solid #dddddd;
	list-style: none;
	margin: 10px 0 10px 15px;
	padding: 10px 0 10px 20px;
}

/* Comment Form */
#respond {
	margin-top: 5px;
}
.comment-form-wrapper {
	margin-bottom: 30px;
}
#reply-title {
	margin: 10px 0;
}
#commentform input[type=text] {
	display: inline;
	margin-right: 10px;
	width: 40%;
}
#commentform textarea {
	width: 98%;
}
#commentform label {
	display: inline-block;
}
#commentform .form-submit {
	margin: 10px 0;
}
#commentform .form-allowed-tags {
	display: none;
}

/* =Header
----------------------------------------------- */

#branding #header_content .header_content-inner {
	padding: 20px 30px;
	position: relative;
}
#branding #access .access-content {
	background-image: none;
	margin-bottom: 0;
}

/* Logo */
#branding .header_logo .tb-image-logo img {
	display: block;
}
.header_logo .tb-text-logo {
	font-size: 2.8em;
	margin: 0;
	text-shadow: 1px 1px 1px #000;
}
.header_logo .tb-text-logo .header-shade {
	display: none;
}
.header_logo .tb-text-logo a {
	color: #ffffff;
}
.header_logo .tagline {
	color: #ffffff;
	font-style: italic;
	font-size: 1em;
	text-shadow: 1px 1px 1px #000;
}
.header_logo_title_tagline,
.header_logo_title,
.header_logo_custom {
	padding: 15px 10px;
}

/* Contact Buttons */
#branding .header-addon {
	margin: -13px 0 0 0;
	position: absolute;
	top: 50%;
	right: 35px;
}
#branding .header-addon-with-text {
	margin-top: -25px;
}
#branding .themeblvd-contact-bar ul {
	float: right;
}
#branding .themeblvd-contact-bar li a {
	background-repeat: no-repeat; /* Fix for weird transparency issues (part 1) */
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	width: 25px; /* Fix for weird transparency issues (part 2) */
}
#branding .themeblvd-contact-bar li a:hover,
#branding .themeblvd-contact-bar li a:focus {
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
#branding .header-text {
	color: #ffffff;
	line-height: 30px;
	text-align: right;
	text-shadow: 1px 1px 1px #000;
}

/* Primary Navigation */
#menu-wrapper {
	position: relative;
}

/* Menu Search */
#main-menu #search-trigger {
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	top: 10px;
	right: 3px;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	z-index: 4;
}
#main-menu #search-trigger:hover,
#main-menu #search-trigger:focus {
	background-position: 0 -30px;
}
#main-menu #search-popup-wrapper {
	float: right;
	position: relative;
	height: 58px;
	z-index: 3;
}
#main-menu .search-popup-outer {
	display: none;
	position: absolute;
	width: 304px;
	height: 120px;
}
#main-menu .search-popup {
	background-image: url(../images/layout/style/light/search-popup.png);
	background-repeat: no-repeat;
	width: 304px;
	height: 120px;
}
#main-menu .search-popup .search-popup-inner {
	padding: 23px 26px 29px 26px;
}
#main-menu .search-popup form {
	background-image: url(../images/layout/style/light/search-popup-field.png);
	background-repeat: no-repeat;
	width: 252px;
	height: 35px;
}
#main-menu .search-popup input {
	display: block;
	float: left;
	outline: none;

	/* Override boostrap input defaults */
	background-position: 0 0;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	height: auto;
	padding: 0;
}
#main-menu .search-popup .search-input {
	background-color: transparent;
	font-size: 11px;
	line-height: 100%;
	margin: 11px 0 0 15px;
	width: 205px;
}
#main-menu .search-popup .submit {
    background-color: transparent;
    background-image: url(../images/layout/style/light/search-popup-submit.png);
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 10px 0 0 0;
    width: 16px !important;
    height: 17px;
    text-indent: -9999px;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	#main-menu .search-popup {
		background-image: url(../images/layout/style/light/search-popup_2x.png);
		background-size: 304px 87px;
	}
	#main-menu .search-popup form {
		background-image: url(../images/layout/style/light/search-popup-field_2x.png);
		background-size: 252px 35px;
	}
	#main-menu .search-popup .submit {
    	background-image: url(../images/layout/style/light/search-popup-submit_2x.png);
    	background-size: 16px 17px;
	}
}

/* Responsive Nav */
#primary-responsive-nav {
	display: none;
}
#primary-responsive-nav form.responsive-nav {
	margin: 0;
}
#primary-responsive-nav select {
	border: none;
	height: 48px;
	margin: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	top: 1px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
#primary-responsive-nav span.responsive-nav-text {
	display: block;
	font-size: 16px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
}
#primary-responsive-nav span.responsive-nav-text i {
	margin-right: 5px;
}

/* =Featured
----------------------------------------------- */

#featured .featured-inner {
	padding-top: 20px;
}
#featured .featured-content {
	padding: 0 10px;
}

/* =Main
----------------------------------------------- */

#main .main-content {
	padding: 0 10px;
}
#main #content {
	padding-top: 10px;
}
#featured_below .featured_below-content {
	padding: 0 10px;
}

/* Breadcrumbs */
.breadcrumb .divider {
	color: #aaaaaa;
}
.breadcrumb .current {
	font-weight: bold;
}
.breadcrumb a {
	color: #888888;
}
.breadcrumb .home-link {
	background-image: url(../images/layout/style/light/home.png);
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
	display: inline-block;
	line-height: 100%;
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	text-indent: -9999px;
	width: 10px;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.breadcrumb .home-link {
		background-image: url(../images/layout/style/light/home_2x.png);
		background-size: 10px 10px;
	}
}
.breadcrumb .home-link:hover,
.breadcrumb .home-link:focus {
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

/* =Widgets
----------------------------------------------- */

.widget {
	clear: both;
	margin: 0 0 .75em 0;
}

/* Lists */
.widget ul {
	list-style: none;
	padding: 0;
}

/* Links */
.widget a {
	text-decoration: none;
}

/* Fixed Sidebar */
.fixed-sidebar .widget {
	margin: 0 0 20px 0;
}
.fixed-sidebar .widget-title {
	font-size: 23px;
	margin-top: 0;
	margin-bottom: 12px;
}
.fixed-sidebar .widget ul {
	border-top: 1px solid #e3e3e3;
}
.fixed-sidebar .widget ul ul {
	border-top: 0;
	margin-left: 1.5em;
}
.fixed-sidebar .widget ul li {
	border-bottom: 1px solid #e3e3e3;
}
.fixed-sidebar .widget ul li li {
	border-bottom: none;
}
.fixed-sidebar .widget ul li a {
	color: inherit;
	display: block;
	font-weight: normal;
	font-family: inherit;
	font-style: normal;
	padding: 7px 5px;
}
.fixed-sidebar .widget ul li a:hover,
.fixed-sidebar .widget ul li a:focus {
	background-color: #ffffff;
}
.sidebar_right .right-sidebar .fixed-sidebar-inner,
.double_sidebar_right .left-sidebar .fixed-sidebar-inner,
.double_sidebar .right-sidebar .fixed-sidebar-inner {
	background: url(../images/layout/style/light/sidebar-right.png) 0 0 repeat-y;
	padding: 30px 0 10px 20px;
	position: relative;
}
.sidebar_right .right-sidebar .fixed-sidebar-inner:before,
.double_sidebar_right .left-sidebar .fixed-sidebar-inner:before,
.double_sidebar .right-sidebar .fixed-sidebar-inner:before {
	content: "";
	background: url(../images/layout/style/light/sidebar-right-top.png);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 9px;
	height: 60px;
}
.sidebar_right .right-sidebar .fixed-sidebar-inner:after,
.double_sidebar_right .left-sidebar .fixed-sidebar-inner:after,
.double_sidebar .right-sidebar .fixed-sidebar-inner:after {
	content: "";
	background: url(../images/layout/style/light/sidebar-right-bottom.png);
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 9px;
	height: 60px;
}
.sidebar_left .left-sidebar .fixed-sidebar-inner,
.double_sidebar_left .right-sidebar .fixed-sidebar-inner,
.double_sidebar .left-sidebar .fixed-sidebar-inner {
	background: url(../images/layout/style/light/sidebar-left.png) right 0 repeat-y;
	padding: 30px 20px 10px 0;
	position: relative;
}
.sidebar_left .left-sidebar .fixed-sidebar-inner:before,
.double_sidebar_left .right-sidebar .fixed-sidebar-inner:before,
.double_sidebar .left-sidebar .fixed-sidebar-inner:before {
	content: "";
	background: url(../images/layout/style/light/sidebar-left-top.png);
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 9px;
	height: 60px;
}
.sidebar_left .left-sidebar .fixed-sidebar-inner:after,
.double_sidebar_left .right-sidebar .fixed-sidebar-inner:after,
.double_sidebar .left-sidebar .fixed-sidebar-inner:after{
	content: "";
	background: url(../images/layout/style/light/sidebar-left-bottom.png);
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 9px;
	height: 60px;
}
.double_sidebar_right .right-sidebar .fixed-sidebar-inner,
.double_sidebar_left .left-sidebar .fixed-sidebar-inner {
	padding: 30px 0 10px 0;
}

/* Collapsible Widget Areas */
.widget-area-collapsible {
	padding: 10px 0;
}
#branding .widget-area-collapsible {
	padding: 0;
}
.main-bottom {
	clear: both;
}
.main-bottom .widget-area-collapsible {
	padding-top: 20px;
}
.widget-area-collapsible .widget {
	margin-bottom: 0;
	padding: 0 0 10px 0;
}
.widget-area-collapsible .widget:last-child {
	padding-bottom: 0;
}
.widget-area-collapsible .widget {
	text-align: center;
}
.widget-area-collapsible img.alignleft,
.widget-area-collapsible img.alignright,
.widget-area-collapsible img.aligncenter {
	margin-top: 0;
	margin-bottom: 0;
}
.footer-below .widget-area-collapsible .widget {
	margin-bottom: 10px;
}

/* Column Widget Area */
.column .widget {
	margin: 0 0 2em 0;
}

/* Twitter Widget */
.widget ul.tweets {
	border-top: none;
}
.widget ul.tweets li.tweet {
	border-bottom: none;
	margin: 0 0 20px 0;
}
.widget ul.tweets li .tweet-time {
	font-size: .9em;
	margin-top: 3px;
}
.widget ul.tweets li .tweet-time a {
	border: none;
	display: inline;
	padding: inherit;
}
.widget ul.tweets li .tweet-time a:after {
	content: " \2192";
}

/* Simple Contact */
.fixed-sidebar .widget ul.simple-contact,
.fixed-sidebar .widget ul.simple-contact li {
	border:none;
}
.fixed-sidebar .widget ul.simple-contact li a {
	color: inherit;
	display: inline;
	padding: 0;
}
.fixed-sidebar .widget ul.simple-contact li a:hover,
.fixed-sidebar .widget ul.simple-contact li a:focus {
	background-color: transparent;
	text-decoration: underline;
}

/* Mini Post Grid */
.fixed-sidebar .widget .themeblvd-mini-post-grid ul {
	border-top: none;
}
.fixed-sidebar .widget .themeblvd-mini-post-grid ul li a {
	padding: 0;
}

/* Mini Post List */
.fixed-sidebar .widget .themeblvd-mini-post-list ul {
	border-top: none;
}
.fixed-sidebar .widget .themeblvd-mini-post-list ul li {
	border-bottom: none;
}
.fixed-sidebar .widget .themeblvd-mini-post-list ul li a {
	padding: 0;
}
.fixed-sidebar .widget .themeblvd-mini-post-list ul li a:hover,
.fixed-sidebar .widget .themeblvd-mini-post-list ul li a:focus {
	background-color: transparent;
}
.fixed-sidebar .widget .themeblvd-mini-post-list .mini-post-list-content h4 {
	font-size: 1.4em; /* slightly larger */
}

/* TB Horizontal menu widget */
.subnav {
	border-color: #d3d3d3;
}
.subnav ul.nav > li > a,
.subnav ul.nav > li.nav-header > span {
	border-right-color: #d3d3d3;
}

/* Standard Custom Menu Widget */
.fixed-sidebar .widget_nav_menu div[class^="menu-"] {
	border-color: #d3d3d3;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
}
.fixed-sidebar .widget_nav_menu ul.menu {
	border-top: none;
	padding: 0;
}
.fixed-sidebar .widget_nav_menu ul.sub-menu {
	margin-left: 0;
}
.fixed-sidebar .widget_nav_menu ul.menu li:last-child {
	border-bottom: none;
}
.fixed-sidebar .widget_nav_menu ul.menu > li > a,
.fixed-sidebar .widget_nav_menu ul.menu .nav-header > span {
	margin-right: 0;
	margin-left: 0;
}
.fixed-sidebar .widget_nav_menu ul.menu li a {
	padding-right: 20px;
	padding-left: 20px;
}
.fixed-sidebar .widget_nav_menu ul.menu ul.sub-menu li a {
	padding-left: 30px;
}
.fixed-sidebar .widget_nav_menu ul.menu > li:last-child a:hover,
.fixed-sidebar .widget_nav_menu ul.menu > li:last-child a:focus,
.fixed-sidebar .widget_nav_menu ul.menu > li.current-menu-item:last-child a,
.fixed-sidebar .widget_nav_menu ul.menu > li.current-menu-item:last-child a:hover,
.fixed-sidebar .widget_nav_menu ul.menu > li.current-menu-item:last-child a:focus {
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.widget_nav_menu .menu > .current-menu-item > a,
.widget_nav_menu .menu > .current-menu-item > a:hover,
.widget_nav_menu .menu > .current-menu-item > a:focus {
	background-color: #e5e4e4;
	color: inherit;
	text-shadow: none;
}
.fixed-sidebar .widget_nav_menu li.nav-header {
	padding: 0;
}
.fixed-sidebar .widget_nav_menu li.nav-header > span {
	margin: 0;
	padding: 7px 20px;
}

/* =Footer
----------------------------------------------- */

/* Primary Footer Content */
#bottom #footer_content {
	background-color: #e8e8e8;
	border: 1px solid #ffffff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: inset 0 0 10px #cdcdcd;
	-webkit-box-shadow: inset 0 0 10px #cdcdcd;
	box-shadow: inset 0 0 10px #cdcdcd;
	position: relative;
}
#bottom #footer_content .footer_content-inner {
	padding: 30px;
}

/* Copyright */
#footer_sub_content {
	font-size: .9em;
}
#footer_sub_content p {
	margin: 0;
}
#footer_sub_content .copyright {
	font-size: 11px;
	line-height: 100%;
	padding: 25px 15px;
}
#footer_sub_content .copyright .text {
	float: left;
}
#footer_sub_content .copyright .menu {
	float: right;
}
#footer_sub_content .copyright .menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#footer_sub_content .copyright .menu li {
	float: left;
	padding: 0 5px;
}
#footer_sub_content .copyright .menu li a {
	color: #666666;
}

/* =Plugins
----------------------------------------------- */

/* Jetpack's share plugin fix */
.sharedaddy .header-shade {
	display: none;
}

/* =Builder
----------------------------------------------- */

#featured .manual-gutters .element-inner,
#main .manual-gutters .element-inner,
#featured_below .manual-gutters .element-inner {
	padding-left: 10px;
	padding-right: 10px;
}
.lead-link {
	font-weight: bold;
	color: #666666;
	margin-top: 10px;
}

/* Slogan */
.element-slogan .element-inner-wrap {
	background-image: url(../images/layout/style/light/divider.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: 5px;
	padding-bottom: 20px;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.element-slogan .element-inner-wrap {
		background-image: url(../images/layout/style/light/divider_2x.png);
		background-size: 914px 22px;
	}
}
.tb-slogan {
	color: #333333;
	line-height: 160%;
	text-shadow: 1px 1px 0 #ffffff;
}
.tb-slogan.text_only .slogan-text.text_large {
	font-size: 32px;
}
.tb-slogan.has_button .slogan-text.text_large {
	font-size: 25px;
}

/* Headline */
#main .element-headline,
#featured_below .element-headline {
	padding: 0 25px 10px 25px;
}
#featured .element-headline {
	padding: 20px 25px 10px 25px;
}
.element-headline h1,
.element-headline h2,
.element-headline h3,
.element-headline h4,
.element-headline h5,
.element-headline h6 {
	margin: 0;
}
.element-headline p {
	margin: 5px 0 0 0;
}

/* Divider */
.divider-dashed,
.divider-solid,
.divider-shadow {
	margin-bottom: 20px; /* Minus 10px from the framework's 30px bottom margin for this design */
}
.divider-dashed,
.divider-solid {
	border-color: #d1d1d1;
}

/* All Sliders */
.element-slider .media {
	position: relative;
}

/* Standard/Nivo Sliders */
.standard-slider .tb-loader,
.tb-nivo-slider .tb-loader {
	display: block;
}
.standard-slider-wrapper .slides-wrapper,
.tb-nivo-slider-wrapper .slides-wrapper {
	padding: 9px 9px 39px 9px;
}
.standard-slider-wrapper .hide-full_nav .slides-wrapper,
.tb-nivo-slider-wrapper .hide-full_nav .slides-wrapper {
	padding: 9px;
}
.standard-slider-wrapper .slides-wrapper,
.tb-nivo-slider-wrapper .slides-wrapper {
	min-height: 50px;
}
.standard-slider .slide .slide-body {
	overflow: hidden;
}
.standard-slider .slide .media-inner {
	background: #ffffff;
    border: 1px solid #dddddd;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	padding: 4px;
}
.standard-slider .slide .slide-body {
	padding: 10px;
}
.standard-slider .media-full .slide-body {
	padding: 0;
}
.standard-slider .media-full .media-inner {
	border: none;
	padding: 0;
}
.sidebar_right .element-slider-standard .themeblvd-video-wrapper,
.sidebar_left .element-slider-standard .themeblvd-video-wrapper {
	max-height: 182px;
}
.sidebar_right .element-slider-standard .media-full .themeblvd-video-wrapper,
.sidebar_left .element-slider-standard .media-full .themeblvd-video-wrapper { /* Limit height on primary area slider */
	max-height: 218px;
}
.double_sidebar .element-slider-standard .themeblvd-video-wrapper,
.double_sidebar_left .element-slider-standard .themeblvd-video-wrapper,
.double_sidebar_right .element-slider-standard .themeblvd-video-wrapper {
	max-height: 130px;
}
.double_sidebar .element-slider-standard .media-full .themeblvd-video-wrapper,
.double_sidebar_left .element-slider-standard .media-full .themeblvd-video-wrapper,
.double_sidebar_right .element-slider-standard .media-full .themeblvd-video-wrapper {
	max-height: 160px;
}
.standard-slider .media-full .content,
.tb-nivo-slider-wrapper .nivo-caption {
	background: #333333;
	color: #ffffff;
	left: 10px;
	bottom: 10px;
	max-width: 75%;
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.standard-slider .slide-title,
.tb-nivo-slider .slide-title {
	margin: 0 0 15px 0;
}
.standard-slider .slide-title span,
.tb-nivo-slider .slide-title span {
	font-size: 1.2em;
	font-weight: normal;
}
.standard-slider .media-align-left .slide-title span,
.standard-slider .media-align-right .slide-title span {
	font-weight: normal;
}

/* Slider Navigation - Control */
.standard-slider-wrapper .flex-control-nav,
.tb-nivo-slider-wrapper .nivo-controlNav {
	left: 15px;
}
.standard-slider-wrapper .flex-control-nav li {
	padding: 1px;
}
.tb-nivo-slider-wrapper .nivo-controlNav a {
	margin: 1px;
}
.standard-slider-wrapper .flex-control-nav li a,
.tb-nivo-slider-wrapper .nivo-controlNav a {
	background-image: url(../images/layout/style/light/slider-nav.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 12px;
	height: 12px;
}
.standard-slider-wrapper .flex-control-nav li a:hover,
.standard-slider-wrapper .flex-control-nav li a:focus,
.standard-slider-wrapper .flex-control-nav li a.flex-active,
.tb-nivo-slider-wrapper .nivo-controlNav a:hover,
.tb-nivo-slider-wrapper .nivo-controlNav a:focus,
.tb-nivo-slider-wrapper .nivo-controlNav a.active {
	background-position: -12px 0;
}

/* Slider Navigation - Directional */
.standard-slider-wrapper .flex-direction-nav li,
.tb-nivo-slider-wrapper .nivo-directionNav a {
	padding: 0;
}
.standard-slider-wrapper .flex-direction-nav li a,
.tb-nivo-slider-wrapper .nivo-directionNav a {
	background-image: url(../images/layout/style/light/slider-arrows.png);
	margin: 0 1px;
	width: 22px;
	height: 22px;
}
.standard-slider-wrapper .flex-direction-nav li a.flex-prev,
.tb-nivo-slider-wrapper .nivo-directionNav a.nivo-prevNav {
	background-position: 0 0;
}
.standard-slider-wrapper .flex-direction-nav li a.flex-prev:hover,
.standard-slider-wrapper .flex-direction-nav li a.flex-prev:focus,
.tb-nivo-slider-wrapper .nivo-directionNav a.nivo-prevNav:hover,
.tb-nivo-slider-wrapper .nivo-directionNav a.nivo-prevNav:focus {
	background-position: -22px 0;
}
.standard-slider-wrapper .flex-direction-nav li a.flex-next,
.tb-nivo-slider-wrapper .nivo-directionNav a.nivo-nextNav {
	background-position: 0 -22px;
}
.standard-slider-wrapper .flex-direction-nav li a.flex-next:hover,
.standard-slider-wrapper .flex-direction-nav li a.flex-next:focus,
.tb-nivo-slider-wrapper .nivo-directionNav a.nivo-nextNav:hover,
.tb-nivo-slider-wrapper .nivo-directionNav a.nivo-nextNav:focus {
	background-position: -22px -22px;
}
.standard-slider-wrapper .flex-direction-nav li a.flex-play {
	background-position: 0 -44px;
}
.standard-slider-wrapper .flex-direction-nav li a.flex-play:hover,
.standard-slider-wrapper .flex-direction-nav li a.flex-play:focus {
	background-position: -22px -44px;
}
.standard-slider-wrapper .flex-direction-nav li a.flex-pause {
	background-position: 0px -66px;
}
.standard-slider-wrapper .flex-direction-nav li a.flex-pause:hover,
.standard-slider-wrapper .flex-direction-nav li a.flex-pause:focus {
	background-position: -22px -66px;
}
.standard-slider-wrapper .flex-direction-nav {
	right: 15px;
	bottom: 19px;
}
.tb-nivo-slider-wrapper .nivo-directionNav {
	right: 10px;
	bottom: -20px;
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	.standard-slider-wrapper .flex-control-nav li a,
	.tb-nivo-slider-wrapper .nivo-controlNav a {
		background-image: url(../images/layout/style/light/slider-nav_2x.png);
		background-size: 24px 12px;
	}
	.standard-slider-wrapper .flex-direction-nav li a,
	.tb-nivo-slider-wrapper .nivo-directionNav a {
		background-image: url(../images/layout/style/light/slider-arrows_2x.png);
		background-size: 44px 88px;
	}
}

/* Featured Standard Slider */
#featured .standard-slider li.slide,
#featured .standard-slider .media-full .themeblvd-video-wrapper {
	max-height: 350px;
}

/* Minor changes on different sidebar layotus for standard slider */
.sidebar_right .standard-slider .media-align-left .slide-title span,
.sidebar_left .standard-slider .media-align-left .slide-title span,
.double_sidebar_right .standard-slider .media-align-left .slide-title span,
.double_sidebar_left .standard-slider .media-align-left .slide-title span,
.double_sidebar .standard-slider .media-align-left .slide-title span,
.sidebar_right .standard-slider .media-align-right .slide-title span,
.sidebar_left .standard-slider .media-align-right .slide-title span,
.double_sidebar_right .standard-slider .media-align-right .slide-title span,
.double_sidebar_left .standard-slider .media-align-right .slide-title span,
.double_sidebar .standard-slider .media-align-right .slide-title span {
	font-size: 1.75em;
}

/* Bootstrap Slider */
.carousel-inner h3 {
	color: #ffffff;
	font-size: 20px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.6)
}
.carousel-inner .header-shade {
	display: none;
}

/* =WPML Bridge
----------------------------------------------- */

.tb-wpml-flaglist ul {
	margin: 0;
	padding: 0;
}
.tb-wpml-flaglist ul li {
	float: left;
	list-style: none;
	padding: 0 2px;
}

/* Social media addon */
.header-addon-with-wpml .social-media {
	float: right;
}
.header-addon-with-wpml .tb-wpml-flaglist {
	background: #f2f2f2;
	border: 1px solid #ffffff;
	float: right;
	margin: 2px 5px;
	padding: 0 5px;
}
.header-addon-with-wpml .tb-wpml-flaglist li {
	line-height: 100%;
	padding: 5px 2px;
}
.header-addon-with-wpml .tb-wpml-flaglist li img {
	display: block;
}
.header-addon-with-wpml .header-text {
	clear: both;
}
@media (max-width: 767px) {
	.header-addon-with-wpml .social-media {
		float: none;
	}
	.header-addon-with-wpml .tb-wpml-flaglist {
		float: none;
		margin-right: 0;
		margin: 5px 0 0 0;
		text-align: center;
	}
	.header-addon-with-wpml .tb-wpml-flaglist li {
		display: inline-block;
		float: none;
	}
	.header-addon-with-wpml .tb-wpml-flaglist li img {
		display: inline;
	}
}

/* Header menu addon */
#wrapper #main-menu .tb-wpml-flaglist {
	background: #f2f2f2;
	border: 1px solid #ffffff;
	float: right;
	margin: 12px 40px 0 0;
	padding: 4px 5px;
	position: relative;
	z-index: 999;
}
#wrapper #main-menu  .tb-wpml-flaglist li {
	background: none;
	border: none;
	padding: 2px;
}
#wrapper #main-menu  .tb-wpml-flaglist li a {
    background: none;
    line-height: 100%;
    padding: 0;
}
#wrapper #main-menu  .tb-wpml-flaglist li img {
	display: block;
}

/* Breadcrumbs */
#breadcrumbs .tb-wpml-breadcrumbs .breadcrumbs-content {
	float: left;
}
#breadcrumbs .tb-wpml-breadcrumbs .tb-wpml-flaglist {
	float: right;
	margin-right: 10px;
}
#main #breadcrumbs .tb-wpml-breadcrumbs .tb-wpml-flaglist a {
	border-bottom: none;
	margin: 0 1px;
}
@media (max-width: 767px) {
	#breadcrumbs .tb-wpml-breadcrumbs .breadcrumbs-content,
	#breadcrumbs .tb-wpml-breadcrumbs .tb-wpml-flaglist {
		float: none;
	}
	#breadcrumbs .tb-wpml-breadcrumbs .tb-wpml-flaglist {
		margin-top: 5px;
	}
}

/* =Print
----------------------------------------------- */

@media print {
	#wrapper #top,
	#wrapper #featured,
	#wrapper #main,
	#wrapper #featured_below {
		color: #000000 !important;
		text-shadow: 0 0 0 #fff !important;
	}
	.themeblvd-contact-bar,
	#menu-wrapper,
	#breadcrumbs,
	#bottom {
		display: none !important;
	}
	#content {
		float: none !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
		width: auto !important;
	}
	#main .fixed-sidebar {
		display: none;
	}
}